[2020-11-09 20:16] vhoyer commented on #614
Also we removed the :checkered_flag: `:checkered_flag:`, due to other reasons #452

[2020-11-10 02:59] Fcscanf commented on #614
@vhoyer Yeah, I think it’s the platform. Thank you

[2020-11-10 14:55] carloscuesta commented on #605
The explanation you provided is much clearer! Thanks for that @alexfernandez let's see if @johannchopin wants to add something 😊

[2020-11-10 16:36] johannchopin commented on #605
Hey @alexfernandez 👋 I really appreciate the time you invest on this project and the new ideas that you bring. People have voted so let's add it 👍 IMHO I don't see yet how I can use it but probably I will find out in my future projects 😉

[2020-11-12 13:59] carloscuesta commented on #605
I think you can go ahead then @alexfernandez

[2020-11-12 15:05] alexfernandez commented on #605
OK, will do! :+1: Thanks :pray:

[2020-11-14 11:35] eliorc opened #615 "🧐 Data exploring/inspecting"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧐
- Code: `:monocle_face:`
- Description: Data science is a fast growing field in the software industry. Most practices in data science may be translated to already existing gitmojis (new architecture -> new features etc.) but the practice of exploring and inspecting data, including [exploratory data analysis](https://en.wikipedia.org/wiki/Exploratory_da

[2020-11-15 13:05] alexfernandez commented on #605
Submitted https://github.com/carloscuesta/gitmoji/pull/617.

[2020-11-16 14:13] alessandropaperini opened #619 "Add 🌵 for routes files related changes"
Hello @carloscuesta :sunglasses:!

- Emoji: 🌵
- Code: `:cactus:`
- Description: Add or update routes

emoji about changes related to routes files (ex: routes for Play Framework, app-routing.module.ts for Angular ...)

[2020-11-16 15:15] johannchopin commented on #619
Hey @alessandropaperini 👋  I guess this case is already covered by 🚚 if you want to update a route. See #538.

[2020-11-16 16:34] alessandropaperini commented on #619
🚚 includes too many cases, in my opinion.
It's fine when moving or renaming files, but defining API routes is another thing.

I think my suggestion is more like 🔧 rather, but more specific.

[2020-11-16 21:18] vhoyer commented on #619
Thanks for your contribution, but we specifically changed the `:truck:` :truck: description to fit in the routes so we could fulfill this usecase. I do not feel too comfortable with adding another emoji for routes, so I do not endorse this change. I'm also not generally found of adding new emojis due to the entry barrier of new users of gitmoji.

[2020-11-17 02:14] ThatXliner opened #621 "⚠️ Badge won't render"
Hello @carloscuesta :sunglasses:!

- Emoji: :rainbow:
- Code: `:rainbow:`
- Description:

On PyPi, the GitMoji badge won't render properly.

[2020-11-17 07:45] johannchopin commented on #621
Hey @ThatXliner 👋 thanks for opening an issue but the badge works properly on most platform so I guess it's an issue with PyPi and not badge. Also the goal of using a shield is to have a single and reliable source (url). Having an url pointing to your fork doesn't seem to be a good idea IMO.

[2020-11-17 07:53] carloscuesta commented on #621
Yes! I agree with @johannchopin let's close the issue.

Badge is working fine and is hosted by img.shields.io 👍🏼

[2020-11-17 07:53] #621 closed

[2020-11-17 08:30] #605 closed

[2020-11-17 08:36] carloscuesta commented on #619
I agree with @vhoyer and @johannchopin chopin points. It's already covered by `:truck:` 😊

Thanks for the suggestion! ❤️

[2020-11-17 08:36] #619 closed

[2020-11-17 16:06] ThatXliner commented on #621
Hmm, maybe. I might as well set up an issue there. I just thought that it may be the emojis in the url that is causing the problem

[2020-11-17 16:56] vhoyer commented on #615
Sorry, what do you mean?

***

Also, I'm not too knowledge in data science, and I didn't understand why this data exploration/inspecting would need a commit? And if you mean adding another grapth and/or another paragraph to a notebook, then couldn't we use :memo: or :sparkles: ?

[2020-11-18 13:42] eliorc commented on #615
I saw that my PR did not pass all tests, so I was wondering about how to make them pass - and stated I didn't find anything in the documentation

-------------------------

About why we need a gitmoji about data exploring, let's understand how data exploration is done.
In data science, we explore data through code, ususally in jupyter notebooks - [see example](https://github.com/Dataweekends/explo

[2020-11-18 14:45] johannchopin commented on #615
Hey @eliorc 👋 Thanks for opening a PR. Like @vhoyer I don't know a lot about data science's workflow and can't really understand what you mean with 'data exploring'. Is it just about new code that do something? Does it create new files? What exactly happens when you do data exploring in term of code or file manipulation?

[2020-11-18 15:07] vhoyer commented on #615
So about the tests, the thing that is breaking it probably the snapshots, I will assume you are not familiarized with those kinds of tests, and I like the ideia of adding this info on the repo, so I will do this later (mostly because this is not the first time this raises doubt haha), but to resolve your test errors, you should open the repo and run `npm install && npm test -- -u; # then commit th

[2020-11-18 17:24] eliorc commented on #615
@vhoyer

We consider features to be new "functionalities" created in the project. For example, a new model architecture, a new preprocessing pipeline a new evaluation scheme. Basically these are things that can be reused in the future once they were developed.

Explorations/inspections are a one-off action, and definitely not reusable, as the insights drawn from them are only relevant to the data

[2020-11-18 17:26] eliorc commented on #615
@johannchopin what happens is you write some code in an interactive notebook, you execute it and you most likely create plots and even write some markdown in order to convey your insights. You will usually do it in logical blocks for example let's say you have developed 100 different models - you will want to inspect and explore their predictions, looking for their weak points to have a clearer un

[2020-11-18 18:08] vhoyer commented on #615
Ok, I agree with its inclusion in gitmoji, will take a look at your PR later, what do the rest of the gang think about it?

[2020-11-19 07:12] johannchopin commented on #615
Ok I also agree with the integration of this emoji. But what would be the description exactly? Is there a better emoji for that because IMO 🧐 isn't explicit enough.

[2020-11-19 09:22] eliorc commented on #615
I have more candidates, but the monocle is my favorite - here are all of them sorted with my personal preference

1. :monocle_face: `:monocle_face:`
2. :detective: `:detective:`
3. :microscope: `:microscope:`

[2020-11-20 19:42] ammuench opened #625 "Add Gitmoji for "Updating Copy" 📜"
Hello @carloscuesta :sunglasses:!

- Emoji: :scroll:
- Code: `:scroll:`
- Description: "Updating copy or static text"

I've been working on a few minor static sites, and find myself doing commits that consist of updating the copy for clients on various pages and sections.  I feel like it's a broad-enough type of commit that it could be valuable as a core gitmoji!

[2020-11-20 20:55] carloscuesta commented on #625
Hey @ammuench thanks for opening an issue

I think we have this already covered by `:speech_balloon:` which is used to:

[2020-11-20 20:59] ammuench commented on #625
Wow I am blind, haha.  Yeah, I would agree.

Might be worth it to update the description to

Thoughts?

[2020-11-20 21:57] carloscuesta commented on #625
I think text and literals covers pretty well the description, I don’t think we need to modify it!

[2020-11-20 21:58] ammuench commented on #625
Okedoke :+1:

[2020-11-20 21:58] #625 closed

[2020-11-22 10:00] kevin-dedaniya-rcrm opened #626 "Add a custom font to be served by the gitmoji website"
Original title: Adhesive Bandage(🩹) emoji not working properly on Ubuntu 18.04

[2020-11-23 14:51] vhoyer commented on #626
Yeah, this also happens for me, does anyone know a font that has support for this emoji?

[2020-11-23 14:52] carloscuesta commented on #626
😱 Based on the spec it was added on 2019, so there should be some font that includes that as an emoji 😓

[2020-11-23 15:00] vhoyer commented on #626
Yeah, personally, I have a problem with emoji fonts on my system, so the gitmoji site does a fallback through the fonts and, for me, uses the `Noto Color Emoji`, and apparently, this file does not have the adhesive bandage emoji... :confused:.  (I also didn't find any font that could render this emoji either, but I think I don't know how to search for it ...)

[2020-11-24 07:14] Evllis opened #628 "Hi, how to add space between Emoji and text when submitting?"
Hi, everyone. I saw an example on the Internet. There are spaces between their emoji and the text. I have looked up a lot of relevant information, but it has not been solved yet.

![2020-11-24_15-02-32](https://user-images.githubusercontent.com/13903944/100060354-5a835e00-2e67-11eb-9514-a608b731a68c.png)

I checked the official GitHub address of gitmoji and found that there is no space between Emo

[2020-11-24 07:28] carloscuesta commented on #628
Hello @Evllis

This is a rendering issue from the browser you're using, it also happens to me I'm using Chrome and I see no space between the Emoji character and the text, even though it exists.

Take a look at this: https://stackoverflow.com/questions/42016125/emoji-rendered-in-chrome-have-different-widths-than-in-other-browsers

Safari works good for example:

![Screenshot 2020-11-24 at 08 27 53

[2020-11-24 07:28] #628 closed

[2020-11-24 08:17] Evllis commented on #628
@carloscuesta

Thank you. I see, it's all right, it doesn't affect the function, I just have obsessive-compulsive disorder . 🙈

[2020-11-24 08:17] carloscuesta commented on #628
No problem! It bothers me too 😊

[2020-11-24 15:46] vegerot commented on #626
Should a requirement for a new gitmoji  to be added to the spec require a certain availability of the emoji on common fonts in OSs?

For example, if the default font with Ubuntu 20.04 LTS (gnome) does not support it, should that disqualify the proposed gitmoji? (this gitmoji would not apply in that case)

[2020-11-24 15:51] carloscuesta commented on #626
Previously I was very up-to-date on the Emojis releases and I rejected some proposals due to incompatibility or being to new. However I did not thought about this for that specific case 😓 .

I don't think the rules should be based on the default font of any system. We should base the criteria on the emoji support that GitHub and GitLab have, because under the hood they convert emoji characters to

[2020-11-24 19:50] vhoyer commented on #626
Ok, I have to say that I simply updated my browser and now I have support for the missing emoji :eyes:

[2020-11-24 19:54] vhoyer commented on #626
actually, more than that, I also redownloaded `Noto Color Emoji` file and reinstalled onto my fonts and restarted my computer, I'm not really sure what part of it was a solution to this, but there it is.

Hey, @carloscuesta, what do think if we ship a fallback font for emojis alongside the website?

[2020-11-24 19:56] carloscuesta commented on #626
We can try to serve a fallback font at the website, or just try the image fallback, I will take a look into it. However emojis not being rendered on the website is not a "big deal" compared to introducing emojis that are not supported by GitHub.

[2020-11-24 19:57] vhoyer commented on #626
Or even a default emoji font, this way we can choose colors with good contrast between the default font and the emoji background, which is not happening here, for example:

|card|card with the emoji text selected|
|-|-|
|![image](https://user-images.githubusercontent.com/11022464/100144738-fae07f00-2e75-11eb-8949-19b6fbc34614.png) |![image](https://user-images.githubusercontent.com/11022464/100144

[2020-11-24 20:00] carloscuesta commented on #626
Yes! Not a big fan though to depend on external fonts as the main resource for perf reasons but will take a look into it

[2020-11-25 07:15] eliorc commented on #615
About that, I think "Data exploration/inspection" is a covers the use cases of exploring (like EDA and alike) and inspection (inspecting model results and comparisons etc.)

[2020-11-25 13:56] vhoyer commented on #615
So lets vote on the emoji :sweat_smile:

|vote|emoji|
|-|-|
| :rocket: | :monocle_face: `:monocle_face:`|
| :heart:  | :detective: `:detective:`|
| :tada: | :microscope: `:microscope:`|

[2020-11-28 18:40] loafofpiecrust opened #632 "Emojis are not rendered on Firefox 82 on Linux"
I used this site as a reference for a while, but hadn't visited in a few months. Now the emoji don't seem to render on Firefox 82 (Linux). I even tried with adblock and tracker blocking turned off, still no dice.
Here's what it looks like:

![2020-11-28-133723_1261x381_scrot](https://user-images.githubusercontent.com/3489148/100523492-dd195f80-317e-11eb-967e-b09bd590db57.png)

The items near the b

[2020-11-28 19:24] carloscuesta commented on #632
Hey thanks for opening the issue @loafofpiecrust

That's weird, I'm going to take a look.

Site works good on Firefox 82 on Windows and macOS, can't tell on Ubuntu since I do not have a Linux machine and can't get one on Browserstack, so It could be a little tricky to reproduce.

[2020-11-28 19:45] carloscuesta commented on #632
Hey @loafofpiecrust

Just checked and it's working on Ubuntu so I assume it's a problem that you don't have the emoji font installed on your machine.

![image](https://user-images.githubusercontent.com/7629661/100524710-8df12000-31ba-11eb-8764-c39dcfa86e31.png)

![image (1)](https://user-images.githubusercontent.com/7629661/100524711-947f9780-31ba-11eb-9220-c051632eede4.png)

I'll probably introdu

[2020-11-28 19:50] loafofpiecrust commented on #632
Ah okay I'll investigate my system setup then. The site does render fine using latest chromium on the same system.

[2020-12-03 05:52] JulianVolodia commented on #632
sorry for asking but could You try in incognito mode?

[2020-12-03 05:55] JulianVolodia commented on #431
@josecatalani will You address open issues as You wanted? :)

[2020-12-03 19:00] Kr45h0v3rr1d3 opened #636 "Revert #631"
As promised, request `1 / ∞` : please remove ads.
- Gitmoji users doesn't deserve ads.
- Hosting gitmoji is costless.

Additionally, please stop replacing everybody else's PRs by your owns, which are less good.

😎

[2020-12-04 13:47] carloscuesta commented on #636
Hello Kaki,

I'm not going to access to the threats you made me via email. As I told you, I don't owe you any explanation, you don't have any decision power about the direction of the project. I can decide which direction I should move to it. As I pointed out in #631 I'm trying to make my Open Source projects more sustainable and If you can't understand that, it's not my problem.

I don't think a

[2020-12-04 13:47] #636 closed

[2020-12-04 13:48] carloscuesta commented on #594
Related with https://github.com/carloscuesta/gitmoji/issues/636

[2020-12-04 14:09] sergimula commented on #636
**WTF**, pretty crazy stuff, mate, here I give you a recommendation: https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=es
Also, you can try this browser: https://brave.com/

And stop harassing people for doing what they want to do with their website, is not your business and if you don't like is simple, stop using it

[2020-12-08 12:21] ilyasmez opened #640 "Can't search by gitmoji description"
Hello Gitmoji team :)

I think the search feature can be much more useful if you can allow searching by description as well.
Currently it searches by the gitmoji code only, which is not so convenient, because if I already know the code of an emoji what would I even use the search feature for.

<img width="1145" alt="Screen Shot 2020-12-08 at 1 19 13 PM" src="https://user-images.githubusercontent.c

[2020-12-08 15:06] vhoyer commented on #640
Nice, carlos did say that we should add this afterwards, but this issue and your PR came quicker than I'd expected ahah, thanks for your contribution, I added some comments on your PR

[2020-12-08 18:26] #640 closed

[2020-12-10 20:49] KaKi87-2 opened #642 "Revert #631 (2)"
Request `2 / ∞` (following #636) : please remove ads.

---

@carloscuesta

Yes you do, but to all Gitmoji users, not just me.

That's true, so, in order to compensate, I'm demonstrating against it.

In that case, build something that worth creating a [business model](https://sfosc.org/docs/business-models/) for, then distribute it under AGPL, BSL, CC-BY-NC-SA, or something.

Gitmoji does not quali

[2020-12-10 20:50] #642 closed

[2020-12-10 20:54] carloscuesta commented on #642
Related with #594

[2020-12-10 20:59] carloscuesta commented on #594
Related with https://github.com/carloscuesta/gitmoji/issues/642

[2020-12-10 21:02] carloscuesta commented on #626
I'm still considering options for this! I've found a font (which is not released yet) that we're going to implement it as soon as they came out!

[2020-12-10 21:03] carloscuesta commented on #632
Will handle this at #626

[2020-12-10 21:03] #632 closed

[2020-12-10 21:37] carloscuesta commented on #573
Hey @kevtan I've got an idea to integrate this 👍🏼

I think we can implement a page for each Gitmoji, something like `/gitmoji/:code:`

This page would be accessed by clicking on a Gitmoji card, inside of that page, we would find a more detailed  description and use case of the emoji

What do you think?

[2020-12-10 21:38] carloscuesta commented on #574
Sorry for the late reply! I would like to keep it less verbose as @vhoyer says

Thanks for opening the issue ❤️

[2020-12-10 21:38] #574 closed

[2020-12-10 21:40] carloscuesta commented on #615
Following up on @vhoyer comment,

It seems that we already have a winner 🎉

Feel free to open the PR @eliorc

[2020-12-10 21:41] #537 closed

[2020-12-10 21:41] carloscuesta commented on #537
I'm closing this since we previously discussed it on the PR!

Thanks for your suggestion ❤️

[2020-12-10 21:43] #489 closed

[2020-12-10 21:47] carloscuesta commented on #287
Hello! Closing this proposal since did not had a lot of traction

Thanks to everyone 😊

[2020-12-10 21:47] #287 closed

[2020-12-10 21:55] carloscuesta commented on #485
Hello!

I really like the idea that everyone makes a subset for his own personal usage, a few different companies in fact are expanding the idea behind Gitmoji to an own version of emojis for using them inside of the company.

I think that a subset is something really opinionated, it depends a lot on your context. This makes finding a suitable and relevant general subset hard.

Probably, you'll be

[2020-12-10 21:55] #485 closed

[2020-12-10 21:58] carloscuesta commented on #108
If anyone wants to take this, feel free to do it! Let's discuss about how we can implement something like this!

[2020-12-10 22:02] carloscuesta commented on #431
Hello! :wave:

At this point I think we solved most of our stale issues and prs! Thanks to everyone who helped and raised the hand on this issue offering help ❤️

I think there's no particular reason to keep this issue opened and pinned on top of the issues list at the repository

What do you think about this? @vhoyer @johannchopin

Should we unpin and close the issue? 🙏🏼

[2020-12-10 22:03] carloscuesta commented on #567
Already shipped 🚀

[2020-12-10 22:03] #567 closed

[2020-12-10 22:13] johannchopin commented on #431
Yes I agree on that 👍

[2020-12-10 22:27] carloscuesta commented on #431
I'm going to propose active people on the repository to be introduced as collaborators too! 😊

Closing this issue doesn't means that we're forgetting about this

As it makes sense to you @johannchopin, I'm closing it then ❤️

[2020-12-10 22:27] #431 closed

[2020-12-11 06:27] eliorc commented on #615
For sure @carloscuesta though I'm not sure what should I change - the original PR is with the 🧐 which won the poll, and about the failing tests I'm not sure what I should do

[2020-12-11 06:39] kevtan commented on #573
That sounds like a good idea! I'd prefer we open a modal instead of a page so there is less context switching. What do you think about that?

[2020-12-11 07:25] #615 closed

[2020-12-11 07:30] carloscuesta commented on #573
I think that navigating to another page is a better solution since you can share that single page with anyone based on the URL, a modal is not so accessible to share

One thing that bothers me is how we're going to maintain the descriptions of the Gitmojis, I don't really think the `.json` file is ideal, since putting it a lot of information inside such as description, examples and use cases could

[2020-12-11 12:58] vhoyer commented on #573
Maybe we could have a folder with markdown with the name of each emoji as the nema of the file (e.g.: `fire.md`), then we would just have to configure next to render those appropriately with the routes and stuff, what you think?

[2020-12-11 13:55] #496 closed

[2020-12-11 14:28] carloscuesta opened #645 "Gitmoji website is moving to a new home"
Hello 👋🏼

This is an announcement to explain that the current website of gitmoji, which is available at `https://gitmoji.carloscuesta.me` as a subdomain, will be moved to his own domain property `gitmoji.dev` ❤️

## Introducing `gitmoji.dev` 🎉

I think the project grown enough recognition and popularity to have his **own space**. This was proposed at #203, but at that time I didn't felt it was rea

[2020-12-11 15:33] #645 closed

[2020-12-11 17:16] #282 closed

[2020-12-11 19:56] carloscuesta commented on #573
That’s an option, however I’m a little bit concerned about having different points for storing the information about gitmojis,

Currently we have;

- gitmojis.json
- emojiColorsMap.js

Introducing another one woule be another thing we should require and ask on PRs, at the contributing guidelines.

Let’s see if we can find a different approach that solves us that problem!

I will think about it and

[2020-12-11 21:44] carloscuesta commented on #258
Based on the upvotes I think we should  discard this proposal.

Thanks @danielhilton!

[2020-12-11 21:44] #258 closed

[2020-12-12 17:20] #314 closed

[2020-12-15 15:18] cruzelante098 opened #653 "Using 🚚 (:truck:) for migration stuff"
Hello @carloscuesta :sunglasses:!

- Emoji: :truck:
- Code: `:truck:`
- Description: Used to represent actions related to migrations. Database stuff mostly (probably).

[2020-12-15 15:20] cruzelante098 commented on #653
Ups, just realized that 🚚 it's being used for "Move or rename resources" already. That should be enough.

[2020-12-15 15:20] #653 closed

[2020-12-16 08:28] carloscuesta opened #654 "Gitmoji 📸 shortcode is not supported on GitHub"
## Description

This is an issue to keep track about: https://github.com/carloscuesta/gitmoji/pull/478

According to the [emojipedia](https://emojipedia.org/camera-with-flash), [emojiterra](https://emojiterra.com/camera-with-flash) and [emojis.wiki](https://emojis.wiki/camera-with-flash/), the shortcode for the 📸  should be `:camera_with_flash:`.

@petervmeijgaard

[2020-12-17 11:29] osharaki opened #655 "Proposing 🐣 for major releases"
Hello @carloscuesta :sunglasses:!

- Emoji: :hatching_chick:
- Code: `:hatching_chick:`
- Description: Releasing a new major version

This is only meant to replace 🔖 when bumping major versions.
While we're on the subject, where is the emoji actually intended to be added when tagging or creating releases?
For tagging, I assumed in an annotated tag's message. For example, `git tag v1.2.3 -m ":bookm

[2020-12-17 15:30] carloscuesta commented on #655
Hey @osharaki, thanks for opening an issue!

I would say `:bookmark:` covers both cases! And based on that reasoning we might want not to include this as a part of gitmoji since it's already covered!

What do you think?

[2020-12-17 15:49] osharaki commented on #655
It does. This would just be more of a celebratory thing to mark a less frequent tagging event.

[2020-12-17 16:25] aguilaair opened #657 "Incorrect color for gitmoji code on dark theme"
Hello @carloscuesta :sunglasses:!

Today's update (d23772f4d093c8bfd956d09418c99cebabc37e44) broke the CSS

Here's how it looks right now:
![imagen](https://user-images.githubusercontent.com/29983481/102514214-81126e80-408c-11eb-9e32-52bf70adb1c5.png)

How it should look:
![imagen](https://user-images.githubusercontent.com/29983481/102514340-a2735a80-408c-11eb-98bd-3e165b6393f7.png)

[2020-12-17 18:57] carloscuesta commented on #657
Hey @aguilaair thanks for opening the issue!

[2020-12-17 18:58] #657 closed

[2020-12-17 21:04] carloscuesta commented on #655
I tend to use the 🔖 emoji on the commit I bump the version number and then I tag that commit as the “last” commit of the release

[2020-12-19 09:17] carloscuesta commented on #655
Based on the upvote I understand that there's no need to keep this issue open anymore, am I right @osharaki ? Since we can use the `:bookmark:` emoji

Let me know if If we should talk about something else 👍🏼

[2020-12-19 09:17] #655 closed

[2020-12-19 09:38] osharaki commented on #655
Agreed. Keep up the great work!

[2020-12-22 12:08] shan7030 opened #660 "👌 for Review Changes"
Hello @carloscuesta :sunglasses:!

- Emoji: :ok_hand:
- Code: `:ok_hand:`
- Description: Commits related to the implementation of Review Changes

[2020-12-22 12:09] carloscuesta commented on #660
Hey @shan7030

This was already proposed and removed see #96 #348

Thanks for opening the issue!

[2020-12-22 12:09] #660 closed

[2020-12-22 13:23] shan7030 opened #661 "🚱 for Fixing Memory Leaks"
Hello @carloscuesta :sunglasses:!

- Emoji: :non-potable_water:
- Code: `:non-potable_water:`
- Description: Fixing Memory Leaks

[2020-12-22 15:18] carloscuesta commented on #661
Hey @shan7030

Thanks for opening the issue!

Don't you think this could be already covered by `:bug:` ?

[2020-12-22 19:30] shan7030 commented on #661
Hey @carloscuesta ,

Thanks for the quick response!
Yes true that Memory Leaks are already covered by `:bug:`

But , as memory leaks degrades the performance of application and eventually can cause major problems to applications if ran for extended time, it's good to have different Emoji for them so that they get same importance as fixing a `:bug:` .
Also we have Emoji for improving performance wh

[2020-12-30 11:40] hf-kklein opened #668 "🩺 for Healthchecks"
Hello @carloscuesta :sunglasses:!

- Emoji: :stethoscope:
- Code: `:stethoscope:`
- Description: When healthchecks have been added or updated.

I already submitted PR #667 for this.

[2020-12-30 11:50] johannchopin commented on #668
Hey @hf-kklein 👋  Thanks for the proposition.

What do you mean with the term `healthchecks` in programmation? 🤔 Do you have an example for it?

[2020-12-30 11:55] hf-kklein commented on #668
A health check is an endpoint used in Web APIs. It allows to easily check if a system is up and running, e.g. by testing if the database credentials are ok. See e.g.
- [Health Checks in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetcore-5.0)
- [Health Checks in Python](https://github.com/ateliedocodigo/py-healthcheck)
- [Health Checks with Kube

[2020-12-30 12:05] johannchopin opened #670 "✨ Add :hover animation on emoji and code"
Hello @carloscuesta :sunglasses:!

New website don't has the previous animations when you over a gitmoji emoji or code.

[2020-12-30 12:08] carloscuesta commented on #670
Yes! Animations got removed when I implemented dark mode and switched from SCSS to CSS in JS. I noted that this was pending but got lost!

Thanks for opening the issue

[2020-12-30 12:27] carloscuesta commented on #668
I really like the concept behind the emoji! But I'm a little bit worried about the specificity of it

[2020-12-30 14:10] vhoyer commented on #668
I'm personally not a huge fan of commits that you only use once in the project, and I don't see this being used more than once :thinking:

[2020-12-30 14:35] hf-kklein commented on #668
Thanks for your feedback!

I agree it's a very backendish thing.

It's not uncommon to have multiple health checks or adding more checks over time. Usually there is one common endpoint, which is only created once; that's right. But there might actually be more than one check that is run when calling the health check endpoint. Think of, for example:

- check that the database is up and running
- ch

[2020-12-30 16:01] carloscuesta commented on #670
Will you work on this @johannchopin ?

[2020-12-30 16:24] johannchopin commented on #670
@carloscuesta yes I assigned this issue to myself so I will do asap 👍

[2021-01-14 15:28] #670 closed

[2021-01-24 20:11] ThatXliner opened #685 "👐 For contribution/meta related edits"
Hello @carloscuesta :sunglasses:!

- Emoji: :open_hands:
- Code: `:open_hands:`
- Description: Contribution/meta related files (e.g. `CONTRIBUTING.md`, `README.md`) should have a specified emoji

[2021-01-24 21:41] johannchopin commented on #685
Hey @ThatXliner 👋  Thanks for the proposition.

IMO changes made on the `README` file should use the `:memo:`(📝) gitmoji since it's part of the documentation. Your emoji  proposition will then just cover changes on the `CONTRIBUTING.md` file which is too specific for a gitmoji.

So I wouldn't recommend to add it to the convention.

[2021-01-24 22:41] ThatXliner commented on #685
I have always used `:memo:` for README-related changes but IMO it doesn't seem right.

Also, code style files, pr-templates and issue templates would be covered by this.

[2021-01-25 08:36] carloscuesta commented on #685
This is maybe related with #475

[2021-01-25 16:24] #685 closed

[2021-02-01 14:26] TheOtterlord opened #690 ":movie_camera: Add or update media files"
Hello @carloscuesta :sunglasses:!

- Emoji: :movie_camera:
- Code: `:movie_camera:`
- Description: Add or update media files

[2021-02-01 15:02] carloscuesta commented on #690
Hello @TheOtterlord, thanks for opening an issue 😊

I think we already got this covered with the `:bento:` gitmoji

What do you think?

![Screenshot 2021-02-01 at 16 01 49](https://user-images.githubusercontent.com/7629661/106476005-dc66b780-64a6-11eb-83e0-73077b42d9b0.png)

[2021-02-01 15:24] TheOtterlord commented on #690
Ah. yes. I forgot about this one 😆

Thanks for the quick response. I'll close the issue, as `:bento:` definitely covers this.

[2021-02-01 15:24] #690 closed

[2021-02-01 17:36] ilyasmez commented on #429
Any updates regarding this topic?

We need a field in the emojis config that other projects (such as `semantic-release-gitmoji`) can use to generate the release changelog (and to eventually know which version to bump).
This should be added to this repository and not to alternative projects such as `gitmoji-semver`, because it will be hard for their maintainers to keep up with the ever-growing list

[2021-02-01 19:10] carloscuesta commented on #429
Oops! This issue got lost! Thanks for clarifying @elliot-nelson I think we can move forward with this. Would you be interested making this contribution on a PR?

[2021-02-02 10:41] ilyasmez commented on #429
I'll take care of creating a PR, as I need this change in a feature I'm working on.

[2021-02-02 10:47] carloscuesta commented on #429
Would you be able to post a draft on this issue with the semver field you're going to add to every gitmoji?

[2021-02-02 11:15] ilyasmez commented on #429
Hey @carloscuesta,

Yes sure! Here is my first draft:
[code]

I'll shortly open a PR so we can discuss details there.

[2021-02-02 11:40] carloscuesta commented on #429
PR looks good to me, let's see if we can get more opinions on the major/minor/patch/none categories 👍🏼

[2021-02-02 12:20] vhoyer commented on #429
Ok, my only considerations on your list are:

1. I think "adding" and "removing" dependencies should be patch
2. I think that moving files and architectural changes also might be patches
3. Adding tracking analytics shouldn't be `none`
4. Update compiled files shouldn't be `none`

What do you think, @ilyasmez (also anyone who wants to comment on this is welcome)?

[2021-02-02 12:29] vhoyer commented on #429
actually, no, just read your "keep in mind" section on the PR, and I do agree with your position on :package: and :truck:.

about :chart_with_upwards_trend: I'm almost agreeing with you on being a patch, but it feels wrong to me still

but :heavy_plus_sign: and :heavy_minus_sign: I still think it should be patch

[2021-02-02 12:37] gustavopch commented on #429
@vhoyer When you add tracking code, a new deployment is desired, so it must bump the version.

[2021-02-02 12:42] vhoyer commented on #429
Yeah that make total sense, thanks, that was just what I needed, thanks :joy: I also agree with the :chart_with_upwards_trend:

[2021-02-02 13:20] ilyasmez commented on #429
Hi @vhoyer

We should look at it from a "What does this change bring to the package consumer?" perspective.
What does adding or removing a dependency do? Does it bring new features (then use ✨ )? Does it fix a bug (then use 🐛)?
Just adding or removing a dependency doesn't see to change anything for the package consumer.
(These two are some of the emojis that I believe shouldn't belong to Gitmoji,

[2021-02-02 13:35] vhoyer commented on #429
Well, personally, I always separate "adding dependency" from "using said dependency", but I don't think this is the correct place for this discussion. Here I am inserting myself as the author of a library, if I add a dependency or remove one, I should release a patch for it. The same logic here applies to pinning, upgrading and downgrading dependencies (which you have classified as patch). Just th

[2021-02-02 13:49] ilyasmez commented on #429
I'm sold on setting ➕ / ➖ a `patch`, as I mentioned I prefer to for `patch` in case of doubt. I'll update the PR with your suggestion.

----

Ah I see what you mean, but in that case you can just use Github Releases or Github Packages to add compiled files, the repo is supposed to hold the source code. And compiled files don't have to be the build of the current package, it can also be a trained m

[2021-02-02 13:58] vhoyer commented on #429
Ok, patch it is then

[2021-02-03 07:59] carloscuesta commented on #429
Let's merge this!

[2021-02-03 08:00] #429 closed

[2021-02-05 19:34] aoisensi opened #695 ":whale: for Docker update"
Hello @carloscuesta :sunglasses:!

- Emoji: :whale:
- Code: `:whale:`
- Description: Docker update.

[2021-02-05 19:40] vhoyer commented on #695
related to #452

we don't want to add platform specifc emojis to gitmoji, sorry, but thanks for your time in suggesting the emoji, we appreciate the effort :heart:

[2021-02-05 19:40] #695 closed

[2021-02-05 19:41] aoisensi commented on #695
ohhh sorry

[2021-02-09 10:58] laymonage opened #699 "💡 ❓ Using multiple emojis in a commit"
Hi,

First of all, thanks for the initiative!

I'd like to know, do we have rules regarding the use of multiple emojis in one commit? I find myself creating some commits that may be described by more than one emoji. For example: adding a dependency (:heavy_plus_sign:) and updating some configuration files (:wrench:) are sometimes done in one commit.

I don't know if the standard is to:
 - use one

[2021-02-09 12:18] carloscuesta commented on #699
Hello @laymonage

As you figured out the idea is to pick one and only emoji for your commit. In this way you can keep the idea of `gitmoji` valuable that is finding the purpose of a commit by only looking at the first character of it.

What you are grouping into a single commit maybe should be split into two different ones. I know this may sound confusing at first but It really helps you to mainta

[2021-02-09 17:08] laymonage commented on #699
Thank you @carloscuesta, that certainly makes things clearer! :tada:

[2021-02-09 17:08] #699 closed

[2021-02-20 12:22] jeremie-koster opened #707 "Cannot run gitmoji after installation"
**Description of the problem**
Hi,
After installing gitmoji via brew (`brew install gitmoji`), I cannot run gitmoji in my terminal.
An error is printed although I think I'm executing the commands like I should.

**Steps to reproduce**
1. `brew install gitmoji`
2. `gitmoji --help` or `gitmoji -l` or `gitmoji --version`
3. See the following error

[code]

**Expected behavior**
After running `gitmoji

[2021-02-20 18:08] carloscuesta commented on #707
Hey @jeremie-koster this is related with the gitmoji-cli repository. For the error you have I’m sure that you don’t have the minimum node required version.

Minimum Node.js version should be 10.x

If you have any other problem, please open an issue on the gitmoji-cli repo

https://github.com/carloscuesta/gitmoji-cli

[2021-02-20 18:08] #707 closed

[2021-02-20 19:02] jeremie-koster commented on #707
Thank you @carloscuesta for the reply. Sorry about posting on the wrong repo.

[2021-02-20 19:16] carloscuesta commented on #707
No problem 😊

[2021-02-22 08:39] emericspiroux opened #709 "⚰️ for "Remove dead code""
Hello @carloscuesta :sunglasses:!

- Emoji: ~~🪦~~  ⚰️
- Code: ~~`:headstone:`~~ `:coffin:`
- Description: Remove dead code

I would like to add ~~headstone~~ coffin emoji because we can need to have an emoji to inform others about dead code deleted.

For example, we started a new project inside our monorepo but this project is cancelled. We need to delete it and a ~~headstone~~ coffin fit perfectl

[2021-02-22 08:51] johannchopin commented on #709
Hey @emericspiroux 👋 Really like the idea of this gitmoji that is more precise than 🔥 `:fire:` 👍 I guess it could also applied to old comments. The only thing is that the `:headstone:` emoji is pretty [new](https://emojipedia.org/headstone/):

So it would be preferable to use an older emoji for now like ⚰️ `:coffin:` maybe.

[2021-02-22 08:55] carloscuesta commented on #709
Yeah! Kind of agree with what @johannchopin says, I like the idea behind this proposal but we should find an older emoji 😊

Thanks for opening an issue @emericspiroux

[2021-02-22 09:04] emericspiroux commented on #709
Really good feedback @johannchopin, idea of dead code stay behind ⚰️  so, why not !

Do I need to create a new issue with this emoji ?

[2021-02-22 09:21] johannchopin commented on #709
@emericspiroux Nope it's fine to just update this one I would say. Would be also awesome if you took the time to thing on a nice and self explanatory description for this gitmoji 😉

[2021-02-22 13:01] emericspiroux commented on #709
@johannchopin. Oupsi, sorry. It's done now.

[2021-02-23 09:09] johannchopin commented on #709
LGTM do you want to take care of the Pull Request @emericspiroux? 😄

[2021-02-23 14:18] emericspiroux commented on #709
Let's go !

[2021-02-24 10:41] #709 closed

[2021-02-26 19:10] vegerot commented on #661
I agree ⚡️ covers this use case sufficiently.

-1

[2021-02-27 09:43] carloscuesta commented on #661
Let's close this issue then! Thanks

[2021-02-27 09:43] #661 closed

[2021-03-09 08:34] Sawtaytoes opened #723 "👔 for Business Logic"
Hello @carloscuesta :sunglasses:!

- Emoji: :necktie:
- Code: `:necktie:`
- Description: Add or update business logic and utility functions.

This could sound like a catch-all, but I specifically discern a difference between architecture (the structure of your application), features (code being introduced that users will see), and business logic (stateful or utility logic in your application that

[2021-03-14 20:38] sylvanaar opened #725 "🔎 for changes to enhance Debugability/Observability"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔎
- Code: `:mag_right:`
- Description:

This generalizes the Health Check (#668) proposal to mean any code that enhances the observability of the code. This includes instrumentation for debugging or adding metric sources, logs(covered?), and tracers.

Anything that helps you to find problems, and explore their root cause.

[2021-03-15 13:28] vhoyer commented on #723
Can you really call utility functions "business logic"?

[2021-03-15 13:31] vhoyer commented on #725
Personally I prefer the generic approach, but the description is kinda... lacking? Could you propose a better name for it?

[2021-03-15 14:13] sylvanaar commented on #725
@vhoyer - the best name is `observability` - but that may not be a term everyone knows.

Description: "Improve observability", in line with "Improve accessibility"

Here is some background on [obserbability](https://thenewstack.io/observability-a-3-year-retrospective/)

[2021-03-16 15:50] vhoyer commented on #725
Donno, @carloscuesta @johannchopin , any thoughts?

[2021-03-16 18:04] johannchopin commented on #725
I like it since it can cover the analytic Gitmoji 📈 and also cover all other runtime debugging tool like [sentry](https://sentry.io/welcome/) 👍

[2021-03-16 19:17] vhoyer commented on #725
Does this really cover analytics?

[2021-03-17 09:21] carloscuesta commented on #725
I don't see the use cases clear for this emoji, could you provide some examples?

[2021-03-17 11:24] sylvanaar commented on #725
Hi @vhoyer, yes it covers the collection of analytics

@carloscuesta - this covers:

Logs, metrics, distributed tracing, debugging tools of any kind that help expose internal state, the list goes on.

What if I add a REPL to my app so I can interact with it  (like a browser console). That is an observability enhancement.
If I am adding logging - that is an observability enhancement typically.
If I

[2021-03-17 11:58] vhoyer commented on #725
You know what? I like it. Tho it could be hard to covey this idea merely by "observability" 🤔 albeit I have no better suggestion...

[2021-03-18 00:40] Sawtaytoes commented on #723
@vhoyer What would be a good alternative? :)

[2021-03-18 02:12] vhoyer commented on #723
Personally I've always seen those as features 😅

[2021-03-18 03:44] Sawtaytoes opened #728 "✍️ for Rewrite"
Hello @carloscuesta :sunglasses:!

- Emoji: ✍️
- Code: `:writing_hand:`
- Description: Rewrite code.

Different from refactoring. Martin Fowler classifies refactors as changing the implementation, but not the API for code segments. It's also different than breaking changes as a rewrite doesn't necessarily break things. The point of a rewrite could be stated as rearchitecting though.

I usually thi

[2021-03-18 15:40] Nixxen opened #729 "Updating through NPM on PS7.1 causes path issues"
**Describe the bug**
Trying to update through `npm i gitmoji-cli` causes the files to be searched for in the wrong folder

**To Reproduce**
Steps to reproduce the behavior:
Open PS7.1 in user folder (default)
Type `npm i gitmoji-cli`
Files are being downloaded. Wait.
Error, (possibly due to the files being searched for in the wrong location).
`C:\Users\Nixxen> npm i gitmoji-cli
npm WARN saveError

[2021-03-18 15:47] carloscuesta commented on #729
Hello @Nixxen

What is `PS7.1`?

I'm seeing that you're trying to install/update the cli without the global flag.

You want to use the following command as stated in the docs: https://github.com/carloscuesta/gitmoji-cli#npm

![Screenshot 2021-03-18 at 16 47 25](https://user-images.githubusercontent.com/7629661/111655086-a3da2d80-8809-11eb-8f18-e4491d7ee629.png)

If you have any other problems, ple

[2021-03-18 15:47] #729 closed

[2021-03-18 20:06] Nixxen commented on #729
Thank you! The global flag was the solution. I do not recall that being shown in the prompt for updating (the update notification that appeared after using the cli program).
PS7.1 is the latest version of the open source version of powershell (https://aka.ms/powershell).

At any rate, problem solved for now✔️
Will try to see if the -g flag was mentioned the next time an update notification happens

[2021-03-18 20:27] carloscuesta commented on #729
Yes! The `update-notifier` package autodetects that the global flag has to be used when printing the install comand, however I'm going to force the `global` option to make sure that it always appears

[2021-03-19 03:04] Agoines opened #730 "gitmoji ttf"
Hello @carloscuesta :sunglasses:!

Can authors publish gitmoji TTF?

[2021-03-19 07:39] carloscuesta commented on #730
Hello @Agoines what do you mean by Gitmoji TTF?

As far as I know, there's no Gitmoji font so I'm a little bit confused

[2021-03-19 07:48] Agoines commented on #730
Thank you. I want to make sure if there is gitmoji font.（Because my English is very poor, I rely on machine translation. I'm very sorry for the ambiguity I brought to your understanding.）

[2021-03-19 08:39] carloscuesta commented on #730
No worries! We don't have a Gitmoji font file at the moment.

I'm not quite sure if it will be worth the effort of maintaining font files, because we should update the fontFile every time a new Gitmoji is added to the convention

What would be the use case for the font?

[2021-03-19 08:59] Agoines commented on #730
It's like this, In Android applications, windows applications and other places, can directly use gitmoji.

[2021-03-21 12:04] Agoines commented on #730
I'm sorry to disturb you because I regard gitmoji as emojitwo. I've been looking for emojitwo. Because I don't know the name, I mistook gitmoji for emojitwo.

[2021-03-21 12:08] johannchopin commented on #730
Ahah no worries hope you will find what you want 😉

[2021-03-21 12:08] #730 closed

[2021-03-22 23:34] ThatXliner commented on #668
Or maybe you're updating healthchecks

[2021-03-24 18:33] ThatXliner opened #736 "Add link to another similar tool, gitmoji-atom"
So I made [gitmoji-atom](https://github.com/ThatXliner/gitmoji-atom) which is basically the Atom port of [this](https://marketplace.visualstudio.com/items?itemName=Vtrois.gitmoji-vscode). I wonder if you can add it [here](https://gitmoji.dev/related-tools).

EDIT: I made a pull request that will implement this

[2021-03-24 21:39] vhoyer commented on #736
sure, I don't see why not

[2021-03-25 09:39] #736 closed

[2021-03-26 13:59] coyotte508 commented on #723
Maybe this is something that is usually solved with scope?

✨ (back/api) Add new endpoint
✨ (back/utils) Add quick sort

From the scope we see if the module is intended for developers or not

[2021-04-01 09:21] fabienbk opened #743 "🦟 for very small bugs"
Hello @carloscuesta :sunglasses:!

- Emoji: 🦟 :
- Code: `:moskito:`
- Description:

Used in a somewhat tongue-in-cheek way for very small issues. Could be useful to have some sense of severity in a big list of bug!

[2021-04-01 15:07] johannchopin commented on #743
Hey @fabienbk Thanks for the proposition 👍

I'm not sure if that's a good idea because if you try to search for bug fix in your history you will have to pay attention to several gitmojis. I guess it's better to have one gitmojis for bug no matter how big/important it was since this 'sense of severity' can be really subjective. What's your opinion on that? 😄

[2021-04-01 21:20] fabienbk commented on #743
Hey @johannchopin thanks for your answer! Personnally I mainly use gitmojis for building pretty changelogs, but you have a good point on search being more complicated. Let's forget this :)

[2021-04-01 21:20] #743 closed

[2021-04-05 03:25] Sawtaytoes opened #745 "📖 for Updating Stories"
Hello @carloscuesta :sunglasses:!

- Emoji: 📖
- Code: `:book:`
- Description: Add or updated story.

There's a tool called Storybook which is where I'm pulling the term Story; although, I think the term "story" is versatile referring to visual code documentation specifically with regards to component libraries.

Now, these stories could also be used in tests. That means they're a cross between tes

[2021-04-05 09:37] johannchopin commented on #728
Does rewriting code not in most cases change the implementation of it? IMHO it's better to just have a single gitmoji for that (in this case ♻️).

[2021-04-06 19:34] KevinGhadyani-minted opened #748 "🍒 for cherry-pick"
Hello @carloscuesta :sunglasses:!

- Emoji: 🍒
- Code: `:cherries:`
- Description: Cherry-pick commit.

[2021-04-06 20:05] carloscuesta commented on #748
Hey @KevinGhadyani-minted !

If you're cherry picking a commit, that commit should have a particular base intention (gitmoji) so you should keep that one instead of replacing it

Thanks

[2021-04-06 20:05] #748 closed

[2021-04-07 15:23] fernandofreamunde opened #750 ":control_knobs: For VMs and Container configuration"
Hello @carloscuesta :sunglasses:!

- Emoji: :control_knobs:
- Code: `:control_knobs:`
- Description:

I miss the :whale: emoji for docker, but I fully agree to get rid of all the platform specific emojis. But regardless of using Docker, Podman, Kubernetes, LXD, or or even, god forbid, Vagrant, we use this kind of containers/VMs and some times we add the config files to our codebases. I would say t

[2021-04-07 17:55] Aerion opened #751 "Some unicode gitmojis are rendered as text"
Some emojis are rendered as text by default, other as image. The result is that some gitmojis are different / a bit ugly depending on the font used.

This concerns only the unicode version of the gitmoji, not the :code: one.

![alembic_text_img](https://user-images.githubusercontent.com/9089317/113910384-11f68c80-97d9-11eb-950e-2bf8f9007e63.png)
Example with the alembic, on the left is the one as

[2021-04-08 13:22] vhoyer commented on #750
I'm in favor

[2021-04-08 13:22] vhoyer commented on #750
I mean, the emoji itself is just loosely related, but what can we do, right?

[2021-04-09 14:01] #751 closed

[2021-04-09 16:18] josuemartinezz opened #755 "Add Tailwind"
Hello @carloscuesta 😎

Your project would come in handy implementing a css framework as well as the great tailwind. If you want to make that update I can help you.

[2021-04-10 08:19] carloscuesta commented on #755
Hello @josuemartinezz

Thanks for opening an issue! I don't see any reason to implement a CSS framework right now.

The project is done and at the moment we don't want to change the styles for the website, so I think the refactor is not needed 😊

Thanks for your help 😍

[2021-04-10 08:20] #755 closed

[2021-04-12 15:20] vhoyer commented on #745
I think when we use stories for testing we can use the test emoji and when using them for docs we can use the docs emoji, whats the problem in this approuch?

[2021-04-13 06:35] carloscuesta commented on #745
I agree with @vhoyer

[2021-04-14 14:51] vhoyer commented on #745
then, can we close this one?

[2021-04-14 14:56] carloscuesta commented on #745
Sure!

[2021-04-14 14:56] #745 closed

[2021-04-16 12:27] johannchopin commented on #728
Any thought on this one @carloscuesta?

[2021-04-20 21:34] hanskokx opened #757 "Install issues with Windows and Linux"
I've been struggling with this all day on both Windows and Linux.  I'll describe the Linux issue here, but the Windows issue appears to be very similar.

I am unable to install gitmoji using npm.  I receive errors whenever I try.

**To Reproduce**
Steps to reproduce the behavior:
1. Install node.js 16.0.0
2. `sudo npm i -g gitmoji`
3. Wait a minute...
4. See error

**Expected behavior**
gitmoji sh

[2021-04-21 06:44] carloscuesta commented on #757
Hey @hanskokx

,You can't install `gitmoji` because it doesn't includes a binary. If you want to install the `cli`, please take a look at the [repository instructions](https://github.com/carloscuesta/gitmoji-cli)

[2021-04-21 06:44] #757 closed

[2021-04-21 16:35] hanskokx commented on #757
Well, don't I feel dumb 😂

[2021-04-22 13:48] HAUDRAUFHAUN opened #758 "🌔 for dark-/nightmode"
Hello @carloscuesta :sunglasses:!

- Emoji: 🌔
- Code: `:moon:`
- Description: Add or update darkmode

[2021-04-22 14:22] vhoyer commented on #758
I think :lipstick: already cover this use case, it seems kinda redundant, and I think most of the time, tweeks to darkmode should go with the main feature commit, for example: if a change requires an update to the darkmode, both alteration should be in the same commit, as they are part of the same feature. If you forgot to add darkmode support for a feature, it may as well be a bug.

[2021-04-23 06:52] carloscuesta commented on #758
Yes! I also think that you can cover this with :sparkles: or ♿

Thanks for opening an issue @HAUDRAUFHAUN

[2021-04-23 06:52] #758 closed

[2021-04-23 08:26] WebKenth opened #759 "Consistency with listing"
Hello @carloscuesta :sunglasses:!

The list would look nice if every line had the same consistent markup
currently its:
<emoji><space><dash><space><emoji-description><space><dash><description

however some lines are missing spaces giving a confusing view
[code]

As you can see from the image there are missing white spaces to keep the list consistent :)
![image](https://user-images.githubuserconten

[2021-04-23 08:27] carloscuesta commented on #759
Hello @WebKenth can you move this issue to the gitmoji-cli repository?

Thanks!

[2021-04-23 08:27] #759 closed

[2021-04-23 20:02] cryptus-neoxys opened #760 "Issue: ✅ Gitmoji proposal for completion."
Hello @carloscuesta ✅!

Emoji suggestion: ✅

- Emoji: ✅
- Code: `:white_check_mark:`
- Description:  for achieving a milestone, completing/finishing a task.

Example use:

✅ Finish module layout.

[2021-04-24 07:11] johannchopin commented on #760
This is already a gitmoji used for `Add or update tests.`. Moreover why not just use ✨?

[2021-04-25 22:31] cryptus-neoxys commented on #760
Doesn't `white_check_mark:` ✅ seem more appropriate for the completion of tasks that are not a feat. And similarly, the `:test_tube`  🧪  for writing tests.

test | completed
:---:|:---:
🧪| ✅ |
`:test_tube` | `:white_check_mark:`

[2021-04-26 07:26] johannchopin commented on #760
Sure 'feature' is a big word but a new task implemented can definitively be kind of a feature. So ✨ works well for this case. Replacing ✅ is a huge breaking-change and IMO, the pros are not enough to replace it for 🧪. What's your opinion on that @carloscuesta @vhoyer?

[2021-04-26 07:59] carloscuesta commented on #760
Hey!

I think that "completing a task" is not something we want to add as a gitmoji. I think it's too generic, everything is a "task" right?

For me this should be grouped into the "type" such as `:sparkles:` `:bug:` `:lipstick:` whatever

Also I do not agree on changing `white_check_mark` for `test_tube` without a great reason!

[2021-04-26 19:45] #760 closed

[2021-05-02 00:10] evaristor commented on #284
We have been using these three emojis (one per commit) for the TDD cycle:
1. 🛑 Add failing test
2. 😇 Pass test naively
3. ♻️ Refactor

[2021-05-04 02:38] hms5232 opened #765 "🖇️ for adding or updating submodule"
Hello @carloscuesta :sunglasses:!

- Emoji: :paperclips:
- Code: `:paperclips:`
- Description: The linked paper clips like submodule: a repo link other repo.

[2021-05-04 05:57] johannchopin commented on #765
Hey @hms5232 👋 Thanks for the proposition 👍

Sadly I didn't really get the use case of this with just this description could you maybe add an example ?

[2021-05-04 06:40] hms5232 commented on #765
OK! For example, I have a super project, and there are many sub project under it. I can use git submodule to manage these sub project.

Another example, I use php, and not use composer to manage package. When i want to use package, maybe either download built package or use submodule in my project repo. If i choose submodule, this emoji will fit while committing.

Here are [git docs say about gits

[2021-05-04 06:51] hms5232 commented on #765
I use git submodule recently is [git-deploy](https://github.com/vicenteguerra/git-deploy) for automatic deployment.
Putting the repo in project folder by submodule, it can update just use `git pull` and don't need re-download when remote repo has update.

[2021-05-04 07:31] carloscuesta commented on #765
Wouldn't fall the submodule concept under the dependency emoji?

[2021-05-04 10:21] matthieudesprez commented on #723
It would be a great addition, I often hesitate about how to represent a change that only concerns business logic and which is not big enough to be considered as a feature.

For instance tweaking some constants, updating the way some value is computed, adding some field to a call to a third party provider, and so on.

The 👔 would be clear enough to distinguish this kind of commit.

[2021-05-04 12:08] hms5232 commented on #765
I'm not sure if it is appropriate to treat this as a dependency. But if everyone thinks this is more suitable, just close issue.

[2021-05-04 13:57] vhoyer commented on #765
Well, to be fair, every time I used a git submodule I used as a dependency of the current repository, and the example you used is also an example of dependency management with submodules, so I guess it's pretty fair to the dependencies emojis for submodules.

In fact, if you use a submodule for like, separating areas of a bigger project, in my seeing it can also be considered a dependency.

[2021-05-08 10:50] DFQWERll opened #770 "Gitmoji icon deformation"
After the VSCODE was updated, the gitmoji icon in the source code management was deformed

[2021-05-08 11:02] carloscuesta commented on #770
Hey! This repository has no VSCode extension at all, I'm sorry but we can't help you from there, you'll need to find the maintainer of that extension

Thanks 😊

[2021-05-08 11:02] #770 closed

[2021-05-08 11:05] carloscuesta commented on #765
Let's close this then!

Thanks to everyone

[2021-05-08 11:05] #765 closed

[2021-05-14 06:49] gluons commented on #723
Maybe used for business requirement change/update (that change some logic).

[2021-05-17 00:42] connorjs commented on #725
_Was just scrolling through the issues._ +1 to the generic nature. Does "enhance insight" offer an alternative term? (From the thread, it seemed the term "observability" gave some pause, and I immediately thought "insight" when reading through.)

[2021-05-26 03:51] meg-gutshall commented on #725
@sylvanaar, if you want to hold out for a different emoji, [_X-Ray_ is a candidate for Unicode 14.0](https://emojipedia.org/x-ray/). It'll be a bit of a wait though.

[2021-05-27 11:51] scal-lider commented on #284
Hi there, I woul'd like to comment on #305 but is closed and I dont want to create another.
Since this is related, I choose to comment here.

The main argument that @carloscuesta  make there to not use TDD specific emoji is that not everyone use commit to handle TDD. This is true, but if you follows CI you should commit everyday even if you test is not completed.

I hope I make a helpful point.
So

[2021-05-29 08:27] janainascal opened #782 "TDD test is ok"
Hello @carloscuesta :sunglasses:!

- Emoji: 👌🏼
- Code: `:ok_hand:`
- Description:  test pass

As discuss here before, some people (like me 😎) like to commit every stage of TDD (write failing test, make test pass, and refactor), wich is coherent with Continious Integration (CI). Since **_gitmoji_** already has ✅ for writing test and ♻️ to refactoring, it would be interesting to have a gitmoji to re

[2021-05-29 09:53] carloscuesta commented on #782
Hey the `:ok_hand:` emoji was removed #463, since we already have another issue opened for this let's continue the discussion there.

Thanks 😊

[2021-05-29 09:53] #782 closed

[2021-05-29 10:17] janainascal commented on #782
Please @carloscuesta, reopen this issue. As I mentioned There are other emojis that we can use for this issue.

I did not seed these `:ok_hand:` issue since I only look for TDD related emojis.
I agree that if it becames a synbom of heatred it is **not** to be used.

I will change to the 🧪

[2021-05-29 10:18] carloscuesta commented on #782
We have #284 opened add your suggestions there 😀

[2021-05-29 10:23] janainascal commented on #782
I did, but I decided to open another because the ideia there is for OK stage.

Anyway, I will move my suggestion to there.

[2021-05-29 10:28] janainascal commented on #284
I have another ideia:

- Emoji: 🧪
- Code: `:test_tube:`
- Description:  test pass

As discuss here before, some people (like me 😎) like to commit every stage of TDD (write failing test, make test pass, and refactor), wich is coherent with Continious Integration (CI). Since **_gitmoji_** already has ✅ for writing test and ♻️ to refactoring, it would be interesting to have a gitmoji to represent the

[2021-05-29 21:12] evaristor commented on #284
I think we have to talk about the three steps in the TDD cycle simultaneously:

1. Add a failing test (red)
2. Pass the test (green)
3. Refactor

## 1. Add a failing test

@janainascal said:

I do not think that we should use ✅ for adding a failing test in the context of TDD. The emoji suggests that the test is passing which should not be the case.

I suggest using 🛑 instead because it is red and

[2021-05-30 01:03] janainascal commented on #284
My initial ideia is to not change existing definitions, is to add one more to complete de steps of TDD.
But I thing the meaning of ✅ (Add or update tests) is open enough so it could be the first or the second step.

I agree that  🧪  works better for the first step ("Add or update **failing** tests"), so we could use ✅ as the 2 step and change its definitions to "Add or update **passing** tests". T

[2021-06-03 15:54] jeffrey-hui opened #787 "Add 🚢 for shipping code"
Hello @carloscuesta!

Emoji: 🚢
Code: `:ship:`
Description: Code is ready to ship.

Usage: In a pull request, a code reviewer indicates that the code is approved for shipping/merging by using the 🚢 emoji, often in conjunction with LGTM (Looks Good To Me).

[2021-06-03 16:33] johannchopin commented on #787
Hey @jeffrey-hui 👋 Thanks for this proposition.

Not really  sure what you will commit with this emoji 🤔 Gitmojis should specify a 'code' change, not an external status change.

[2021-06-03 20:12] alanakra opened #788 "Add 🐳 for Docker setup"
Hello @carloscuesta 👋

Emoji: 🐳
Code: `:docker-setup:`
Description: Add Dockerfile

The whale emoji and often affiliated with Docker in development.

[2021-06-04 07:46] carloscuesta commented on #787
Hello! I agree with @johannchopin I'm not sure how are you going to introduce this emoji on a commit.

If you're the code reviewer, you can do that by using a comment on the PR review, but you're not the one that is introducing a commit 😊

[2021-06-04 07:47] carloscuesta commented on #788
Hey @alanakra

Thanks for your suggestion! As discussed in https://github.com/carloscuesta/gitmoji/issues/452 we don't want to introduce platform specific emojis to the convention!

Thanks 😊

[2021-06-04 07:47] #788 closed

[2021-06-04 14:57] jeffrey-hui commented on #787
I may have misunderstood the assignment! I thought it would also serve to be a dictionary for standardizing emojis used in github. Anyways, love the project, i'll go ahead and close this now :)

[2021-06-04 14:57] #787 closed

[2021-06-08 14:03] vhoyer commented on #284
Ok, I think it's way pass the time we acknowledge this issue properly since there are so many voices in the community supporting this change (and we have added emojis in the past for less :sweat_smile:). I know you've voiced your opinion as being against this change, @carloscuesta, and while I also prefer you approach, I think it's important for us to allow people to use this set of commits.

That

[2021-06-08 15:17] evaristor commented on #284
Between option 2 and 3, I prefer option 2, changing the meaning of :white_check_mark: to be _make tests pass_.

[2021-06-08 16:27] carloscuesta commented on #284
Thank you for all the comments and suggestions over this topic, I really appreciate the time and effort you took on this!

I would like to introduce as minimum breaking changes possible so I would be really comfortable with the option 3 that @janainascal mentioned

If we agree on this I think we can move forward 😊

[2021-06-08 21:43] janainascal commented on #284
I also vote for option 2. with the change @evaristor suggested.

[2021-06-08 21:52] janainascal commented on #284
That said, I'm curious to know how you usually use ✅
Do you commit only test files? Or test files with code to pass tests?

What I'm thinking is, if it's the second case, most commits will still use ✅ to write tests.
If it's the first, then we need to consider whether the breaking change is worth it.

Since I'm still new to gitmoji, that break do not affect me so much and that's why I 'm asking 😅

[2021-06-09 04:00] karlbecker commented on #284
Seconded.  I don't see a clear connection between 💩 and having code that is causing tests to pass.  Seeing that emoji on a commit would get my guard up immediately, not to mention just be kind of a gross emoji to be so frequently used for someone doing TDD.

Like  @janainascal, I prefer what @evaristor suggested - perhaps making ✅ mean "Add or update passing tests."

Since ✅ means "add or update t

[2021-06-10 13:42] carloscuesta commented on #284
From an API pov, this is not a "breaking change" per se, as we're making the applications of the emoji wider, right?

The proposal would be https://github.com/carloscuesta/gitmoji/issues/284#issuecomment-856862143

What do you think @vhoyer @johannchopin ?

[2021-06-10 17:20] carloscuesta commented on #284
Let’s do it then! Who wants to raise the PR?

[2021-06-10 17:50] evaristor commented on #284
I could try. Do we have a guide for this or should I follow the [currently open PR](https://github.com/carloscuesta/gitmoji/pulls) as example?

[2021-06-10 21:15] evaristor commented on #284
The [contribution guidelines](https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md) does not mention the `src/__tests__/__snapshots__/pages.spec.js.snap` file. Should I modify that file as well as part of #794?

[2021-06-10 21:21] carloscuesta commented on #284
Yes! It's mentioned as a part of the tests:

[code]

[2021-06-10 22:07] evaristor commented on #284
[code]

[2021-06-11 07:07] carloscuesta commented on #728
Agree with what @johannchopin says!

[2021-06-11 07:07] #728 closed

[2021-06-11 07:12] Sawtaytoes commented on #728
Rewriting could potentially change the functionality, but refactoring is specifically something that should _not_ change the implementation. At least, those are the words of Martin Fowler. I've avoided using the term refactor to refer to a situation where I've rewritten (and thus changed the API) for some segment of code.

[2021-06-11 15:18] evaristor commented on #284
[Here](https://github.com/carloscuesta/gitmoji/pull/794) is the corresponding PR #794. 🚀
I look forward to getting your feedback. ❤️
Cheers!

[2021-06-11 19:28] #284 closed

[2021-06-23 13:12] svenvandescheur commented on #750
I think we can use an emoji to describe a container setup. And TBH: I dislike the fact that so many useful emoji's got removed in: https://github.com/carloscuesta/gitmoji/issues/452

Even though the argument that a specific feature should not be described by the technology (which is an implementation detail) is valid we still need a way to describe certain things. And if we want to remove an emoji

[2021-06-23 16:49] vhoyer commented on #750
Yeah, man, you are correct. The one that I was most unsure about removing was the docker one, not only me, but the only one issue that we started receiving regarding re-addition of the removed ones, were this one, about containers.

But we have to agree that we succeeded in our unspoken goal, which was to stop receiving so many issues about adding platform specific new emojis, which were kinda har

[2021-06-25 03:14] hamiecod opened #806 ":apple: for adding or updating README files"
Hello @carloscuesta :sunglasses:!

- Emoji: 🍎
- Code: `:apple:`
- Description: This emoji should be used to represent the addition or updation of README files. The apple emoji is chosen because it just tells you a lot about the world - Newton's discovery of Gravity, a fruit with which life started and the personal computer revolution at Apple - just like a README does about the project and it is j

[2021-06-25 10:53] carloscuesta commented on #806
Hey! @hamiecod

Thanks for your suggestion, this topic is already covered with the 📝 emoji

[2021-06-25 10:53] #806 closed

[2021-06-29 09:18] LECbg opened #809 "Add ✖️ to replace dependencies"
Hello, I know this was previously discussed [here](https://github.com/carloscuesta/gitmoji/issues/413) but the proposed solution doesn't seem to match my use case.

- Emoji: :heavy_multiplication_x:
- Code: `:heavy_multiplication_x:`
- Description: Swap a dependency

## Rationale

I just replaced Flake8 by Flake9 and the change is so minimal it seems excessive for me to do more than one commit. Of

[2021-06-29 09:37] carloscuesta commented on #809
Hey @LECbg

The case you're explaining is a dependency bump, as you upgraded from v8 to v9, not a replacement, you can use `:arrow_up:` ⬆️ for that

Thanks for opening an issue!

[2021-06-29 09:37] #809 closed

[2021-06-29 11:26] mstroiu opened #810 "Initial Emoji list doesn't render"
**Description**
Initial Emoji list doesn't render

**To Reproduce in VS Code**
Steps to reproduce the behavior:
1. Go to Git Source Control
2. Click on on the Emoji icon
3. Search bar is showing but when searching nothing shows
4. Emoji list doesn't render

**Expected behavior**
Should show exactly as the image below:
![image](https://cdn.jsdelivr.net/gh/vtrois/gitmoji-vscode@1/images/about.gif)

[2021-06-29 11:28] #810 closed

[2021-06-29 11:30] mstroiu commented on #810
My bad, I've raised the issue in the wrong repository.

https://github.com/vtrois/gitmoji-vscode/issues/26

[2021-07-03 14:10] osharaki opened #812 "👁️ for changing visibility"
Hello @carloscuesta :sunglasses:!

- Emoji: 👁️
- Code: `:eye:`
- Description: Change visibility

I noticed there isn't an emoji for changing the visibility (e.g. from `public` to `private`) of classes, methods, properties, etc. Of the existing gitmojis, 🏷️ (`:label:`) and 🛂 (`:passport_control:`) come closest, but their descriptions don't quite fit the bill.

[2021-07-04 16:59] johannchopin commented on #812
Really like this idea however the description need to be improved to easily understand the link to method class or package visibility. It has to be clear to the user what this emoji is for.

[2021-07-04 20:17] osharaki commented on #812
Two possible approaches come to mind here:
- Using a catchall (e.g. [entity](https://en.wikipedia.org/wiki/Glossary_of_computer_science#:~:text=entity%20(function%2C%20variable%2C%20etc.))): _Change entity visibility_
- Using a partial listing of items: _Change visibility of properties, methods, etc._

Out of these two, I personally prefer the second one since _entity_ may be ambiguous.

[2021-07-08 21:22] vhoyer commented on #788
that said, if you want to keep tabs on this discussion we are considering this other issue: https://github.com/carloscuesta/gitmoji/issues/750

[2021-07-08 21:26] vhoyer commented on #725
how about "improve code inspection"? @carloscuesta @johannchopin

[2021-07-09 12:14] johannchopin commented on #725
@vhoyer Yep I would agree on that 👌

[2021-07-15 10:42] melissaboiko opened #818 "Usability emoji is condescending"
The proposed gitmoji for "user experience/usability" is `:children_crossing:` :children_crossing: .  That, very literally, infantilises users.

`:busts_in_sillhouete:` :busts_in_silhouette: is often used elsewhere to denote "users", but is already taken in gitmoji to denote "other developers".  Which illustrates the problem.

Some possible alternatives that treat human beings with respect could be

[2021-07-22 11:29] johannchopin commented on #818
Like the option of `:people_holding_hands:` but I'm not really sure that *'very literally, infantilises users'* is an enough reason to introduce such a breaking change. What's your opinion on this one @carloscuesta @vhoyer?

[2021-07-22 11:30] johannchopin commented on #812
Yes I also prefer the second one what do you think @carloscuesta @vhoyer?

[2021-07-22 16:00] vhoyer commented on #812
hmm, no strong feelings towards this emoji, I'm thinking maybe we could accommodate this under a more generic emoji like "change public API"? Do you think we already have something like this?

My reasoning is that adding the "public API" emoji, we could accommodate this and some more kinds of changes which would result in less emojis present in gitmoji, which results in less things to remember for

[2021-07-22 16:29] vhoyer commented on #818
Well, first of all, thank you, @melissaboiko, for the issue raised and I think it's great that you care about this project and the well being of everyone. but... I'm not gonna lie, with all due respect (and risking sounding a bit contradicting because of my stance on the issue about "dev tooling/DX" and the `:man_technologist:`), I kinda like treating users as children because I think that helps m

[2021-07-24 21:42] carloscuesta commented on #818
Totally agree, let's see if this gets more point of views and opinions 😊

[2021-07-27 07:27] lukethehuman commented on #818
Thanks for bringing this up @melissaboiko, I agree. I've recently been introduced to gitmoji at work and think they're a great way to quickly show what your commits are about, but I'll admit `:children_crossing:` :children_crossing: did come off as an odd pick for UE improvements. At a glace I'd have assumed it referred to either accessibility or safety/caution (i.e. the road sign).

Of the sugges

[2021-07-27 09:36] CoenWarmer opened #823 "Built a small Electron tray app"
Hello @carloscuesta :sunglasses:!

Love your work, we use Gitmojis extensively in our company. I created a small Electron tray app that allows a user to quickly search through and copy to clipboard a Gitmoji by using only keyboard commands. Just thought I'd share: https://github.com/CoenWarmer/traymoji

![alt text](https://github.com/CoenWarmer/traymoji/blob/main/screenrecording.gif?raw=true "Tray

[2021-07-27 10:20] carloscuesta commented on #823
Hey that's cool!

Do you know that we have also a cli for using gitmoji easier? Take a look at [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli)

Feel free to raise a PR for introducing this tool into the `related-tools` page:

https://github.com/carloscuesta/gitmoji/blob/23c0e0494e0e3189313d0648e1bcdbefa6625401/src/pages/related-tools.js#L8-L50

Thanks 🙏🏼

[2021-07-27 10:20] #823 closed

[2021-07-27 11:54] CoenWarmer commented on #823
Thanks! PR opened: https://github.com/carloscuesta/gitmoji/pull/824

[2021-07-29 12:02] NotMaks commented on #818
Thanks @melissaboiko for raising this issue, however, I'm not sure this warrants introducing a breaking change for a "spec" that has been in place for nearly 4 years. Plus, if I'm not mistaken, no emoji was ever changed, only some got deleted, which is fine as the emoji's meaning stay the same.

In addition, I like `:children_crossing:`🚸, for me it represents someone helping others understand how

[2021-07-31 05:21] max-programming opened #826 "Use next export with next build for a static and faster site"
**Describe the bug**
Not really a bug but it's better to use `next export` instead of only building the app. It makes the site faster by making it static site and it'll make it work faster
Read about it [here](https://nextjs.org/docs/advanced-features/static-html-export)

**To Reproduce**
Steps to reproduce the behavior:
1. In `package.json`
2. Change the `build` command from `next build` to `next

[2021-07-31 19:48] carloscuesta commented on #826
Hey @max-programming thanks for opening an issue 😊

Actually that's a great suggestion! However as we deploy the gitmoji website on Vercel, `next export` is not required, is it done automatically under the hood in the platform

You can read more about this in https://vercel.com/docs/next.js/overview#static-html-export 👈🏼

`next export` command is useful for when you're deploying outside the vercel

[2021-07-31 19:48] #826 closed

[2021-08-01 03:59] max-programming commented on #826
Oh so that seems good. Maybe I need to look more into that.

[2021-08-01 05:45] max-programming opened #827 "Use getStaticProps for /contributors page"
**Describe the bug**
I recently noticed that Gitmoji is using the simple fetching strategy and I would suggest using something better instead. In Next.js, as we have the `getStaticProps` method, if we use that method, it fetches the data at **build time** and the data is ready there so our page is no longer loading images.

So whenever a PR is merged, the data is fetched by `getStaticProps` and th

[2021-08-01 09:55] #827 closed

[2021-08-01 15:49] seancrowe commented on #723
@Sawtaytoes
I am going to make a pull request but I dropped "utility functions". I think "utility functions" is a subset of business logic. So adding it seems odd, and then you will get people who want to add their own subsets of business logic. Like "Add or update business logic and utility functions and interfaces and.... etc". Better to just make it all under one label "business logic".

See it

[2021-08-01 22:42] Sawtaytoes commented on #723
I totally agree that utility functions is a subset of business logic.

Thanks for adding it! Better than trying to overload the New Feature and Refactor Gitmojis.

[2021-08-02 04:33] RuizuKun-Dev opened #830 "🧼 for Code clean up"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧼
- Code: `:soap:`
- Description: for Code that has been cleaned up

[2021-08-02 04:36] RuizuKun-Dev opened #831 "📱 for Mobile support"
Hello @carloscuesta :sunglasses:!

- Emoji: 📱
- Code: `:mobile_phone: `
- Description: added Mobile support

[2021-08-02 05:02] favonia opened #832 "🐳 for Docker images"
Hello @carloscuesta :sunglasses:!

- Emoji: :whale:
- Code: `:whale:`
- Description: Anything related to Docker containers---deployment, release, CI, etc.

[2021-08-02 05:12] favonia opened #833 "🚧 for Work in Progress"
Hello @carloscuesta :sunglasses:!

- Emoji: :construction:
- Code: `:construction:`
- Description: Work in progress, possibly as part of a feature branch under development

[2021-08-02 05:18] favonia commented on #833
Sorry, somehow I missed the existing one.

[2021-08-02 05:18] #833 closed

[2021-08-02 05:19] favonia commented on #832
Sorry, this is a duplicate of #788.

[2021-08-02 05:19] #832 closed

[2021-08-02 08:10] johannchopin commented on #830
Hey @RuizuKun-Dev 👋 Thanks for opening this issue.

I'm not sure what you mean with `code that has been cleaned up` 🤔 Because for removed code we already have 🔥, for not needed code we have ⚰️ and for code to be refactored there is ♻️. Does your initial idea fit in one of those?

[2021-08-02 08:26] johannchopin commented on #831
This one is way to similar to the existing 📱 `:iphone:` one. Also is `added Mobile support` not a feature covered by ✨? Because if we start to add some specific 'support' gitmoji there will be to much possibilities 😅

[2021-08-02 13:06] carloscuesta commented on #830
I think that this could be covered with `:recycle:` as a cleanup ♻️ fits into the refactor description

[2021-08-02 13:06] carloscuesta commented on #831
Agree with @johannchopin, it's too specific so we're closing this 😊

[2021-08-02 13:06] #831 closed

[2021-08-02 13:10] #723 closed

[2021-08-05 02:36] RuizuKun-Dev commented on #830
I see, that makesense @johannchopin @carloscuesta

[2021-08-05 02:36] #830 closed

[2021-08-12 10:59] SonXuanNguyen2k opened #838 "Propose an emoji for example or demo code"
Hello @carloscuesta :sunglasses:!

- Emoji: :lollipop:
- Code: `:lollipop:`
- Description: for example or demo codes only.

This emoji is from the [git-commit-message-convention](https://github.com/kazupon/git-commit-message-convention#emojis) repo

[2021-08-12 11:51] SonXuanNguyen2k commented on #838
Yeah u right, that makes sense

[2021-08-12 11:51] #838 closed

[2021-08-20 03:07] hms5232 opened #844 "🧫 For VM and container"
Hello @carloscuesta :sunglasses:!

- Emoji: :petri_dish:
- Code: `:petri_dish:`
- Description:
I notice #750 and nominate 🧫 for container and VM.
The petri dish is a controlled and isolated environment, like features of VM and continer.
How about this idea?

[2021-08-22 13:31] creeperkafasi opened #845 "Dark mode toggle switch"
As far as I understand, gitmoji currently uses the `prefers-color-scheme` media query to switch between light and dark mode.

Unfortunately from what I could find, this media query is *not* really supported on platforms like Arch Linux where there is not a single system-wide dark mode switch that the user could toggle. (There are some hacky ways to do it but none have worked for me so far)

I (and

[2021-08-22 18:37] carloscuesta commented on #845
Sure! Sounds like a great feature to introduce 😊

Would you like to implement this on a PR?

[2021-08-23 10:04] lonwabo-mnyaiza opened #846 "Right click to copy emoji code not working."
**Describe the bug**
On Chrome, it used to be when you right click on the git emoji itself, it would automatically copy the emoji code for you so that you can just paste the copied code into your IDE.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the landing page
2. Click on any of the emoji's
4. See error

**Expected behavior**
When the user right clicks, the emoji code should be av

[2021-08-23 13:40] carloscuesta commented on #846
Hey @lonwabo-mnyaiza

Thanks for opening an issue!

As far as I know, the copy functionality on the website, works with the left click, not the right one.

I just tested and is working properly on Mobile Safari, and Desktop Chrome.

[2021-08-23 13:42] carloscuesta commented on #846
Can you share the error you get on the console?

[2021-08-23 13:44] creeperkafasi commented on #845
I'll try, but I'm not really experienced in Next.js so don't expect the best code quality lol

[2021-08-26 14:11] NotMaks opened #849 "🥷 for when you just don't care"
Hey @carloscuesta :sunglasses: !

- Emoji: 🥷
- Code: `:ninja:`
- Description: When you just don't care

Can be useful when you commit meaningless things or when you just don't care about giving descriptive messages

[2021-08-26 17:11] RuizuKun-Dev opened #850 "Game Development Related Commits"
Hello @carloscuesta :sunglasses:!

So there are a lot of general Software development Emojis already and they are great!

However in terms of Game Development sometimes I can't find an Emoji related it for example adding new SFX, VFX, 3D models, animations, making gameplay changes or adding gameplay elements, in game purchases etc.

Do you think it's possible and probable to make a list for that?

[2021-08-27 12:55] #849 closed, assigned to nobody

[2021-08-31 10:32] lonwabo-mnyaiza commented on #846
soz for the delayed reply, here is the console errors:
![image](https://user-images.githubusercontent.com/60598841/131487568-7ff27e3c-37cb-419e-b90d-b9f14834cd3a.png)

[2021-08-31 21:10] #850 closed

[2021-09-01 07:30] lonwabo-mnyaiza commented on #846
Elo,
browser url: https://whatismybrowser.com/w/MJ2E9L2

In incognito mode it works as expected ¯\_(ツ)_/¯

[2021-09-01 07:40] carloscuesta commented on #846
Then this means that is something related with a browser extension that you have installed that is conflicting with the actual notifications plugin 😅

Since I wanted to replace what we have with [`react-hot-toast`](https://react-hot-toast.com/) I'll close this issue 🙏🏼

[2021-09-01 07:40] #846 closed

[2021-09-01 13:12] UramnOIL opened #854 "Files automatically generated or edited by the IDE"
I'd like to commit changes of files in the .idea folder that IntelliJ IDEA needs.
Which emoji should I use when I commit a file that the IDE has automatically generated or edited?

[2021-09-01 14:43] carloscuesta commented on #854
I would say `:wrench:` 🔧

[2021-09-02 01:14] UramnOIL commented on #854
Thank you!
You've been so helpful!

[2021-09-02 01:14] #854 closed

[2021-09-07 22:19] jonathanl-telenav opened #856 "Global Settings"
Hello @carloscuesta :sunglasses:!

Cool plugin. I use it every day. A small proposal...

Every time I delete a project's .idea folder or clone a new project, I have to go back into the Gitmoji preferences and set it back to use Unicode. I can't really see the value of having this setting different for different projects. Could it be added to the global settings and then either remove the project s

[2021-09-08 06:03] carloscuesta commented on #856
Hey @jonathanl-telenav

Not sure what IntelliJ extension are you using but I'm not the maintainer of it, so I think you should move this issue to the proper repo!

Thanks

[2021-09-08 06:03] #856 closed

[2021-09-16 07:09] qinrui777 opened #862 "Can not show the emoji in Azure Devops Repos"
**Describe the bug**
I want to use gitmoji for our azure devops repos. howereve, it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to azure devops
2. Choose an existing repo in your ADO(azure devops)
3. Add a new commit with gitmoji
[code]

4. See error

**Screenshots**

![image](https://user-images.githubusercontent.com/37825938/133565906-039b96f1-947a-4251-a379-d8346885c4

[2021-09-16 07:29] johannchopin commented on #862
@qinrui777 That's because ADO doesn't support the `:EMOJICODE:` format. You will need to use the raw emoji `📝` instead of `:memo:`.

[2021-09-16 09:20] carloscuesta commented on #862
As @johannchopin you can switching to the emoji format if you use gitmoji-cli

Closing this issue as it's not an error with this repo 😊

[2021-09-16 09:20] #862 closed

[2021-09-16 10:16] qinrui777 commented on #862
thanks your reply, got it.

[2021-09-17 10:00] AnirudhPanda opened #864 "Tooltip message"
When we click on the messages it gets copied but there is no tooltip to know that it is copied for new users.  Something like below or message after clicking

![Screenshot (136)](https://user-images.githubusercontent.com/66218496/133764808-a0b11685-b011-43b8-a497-6c8b28782727.png)

[2021-09-17 22:33] vhoyer commented on #864
doesn't it apear on the side of the website? as a kinda of notification? you mean hover tooltip?

[2021-09-19 15:36] AnirudhPanda commented on #864
I don't think it appear on the side!
Yeah on click hover tooltip

[2021-09-20 14:12] vhoyer commented on #864
it's on click, or on hover? because the on click definitely exists:

![image](https://user-images.githubusercontent.com/11022464/134017394-c5e452d4-39b2-4763-9e10-ac5444daaf16.png)

[2021-09-29 14:55] nabeelvalley opened #870 "Feature Idea: Pin Emojis to Top"
Often I find myself using a specific subset of emojis (particularly via the Gitmoji site)

 It would be useful if I could Pin a specific emoji to the top of the list so that I don't have to scroll to find/search for the emoji

[2021-09-29 14:58] carloscuesta commented on #864
Hey @AnirudhPanda I understand that what you are asking for is a little tooltip that appears when hovering the emojis to indicate that clicking on them will copy the emoji to the clipboard.

TBH I'm not a big fan of tooltips and I don't think they are strictly necessary as the copy action is not a main action on the site, just a useful feature for certain advanced users!

Thank you for opening the

[2021-09-29 14:58] #864 closed

[2021-10-17 13:24] anynines-johannchopin commented on #870
Hey @nabeelvalley 👋 That would be a nice improvement do you have time and will to implement it? 😄

[2021-10-17 13:32] johannchopin commented on #870
Hey @nabeelvalley 👋 That would be a nice improvement do you have time and will to implement it? 😄

[2021-10-18 08:10] ElianVanCutsem opened #883 "☁️ for cloud related changes"
Hello @carloscuesta :sunglasses:!

- Emoji: ☁️
- Code: `:cloud:`
- Description: Cloud infrastructure related changes

willing to put the PR in if accepted

[2021-10-18 16:47] vhoyer commented on #883
I don't get what you mean by cloud infrastructure, could you give examples?

[2021-10-18 17:30] vhoyer commented on #883
How about "IAC related changes" instead as a description, maybe clearer? donno, just my touch, that said, I think it would be nicer if we could update the :construction_worker: `:construction_worker:` to include this demand. What do you think?

I know that I have already used the `:construction_worker:` for IAC commits and besides, I think that this emoji is under utilized, so I would like to incl

[2021-10-23 11:09] gitryder opened #889 "Add :robot: for files generated or updated automatically with a script"
Hello @carloscuesta :sunglasses:!

- Emoji: :robot:
- Code: `:robot:`
- Description:
    - I have seen workflows where a lot of files need to be auto-generated using custom scripts.
    - For instance, at my workplace we use a script to generate React Icon Components from SVG files.
    - In such situations where the change was auto-generated, this emoji would be extremely helpful to display a scr

[2021-10-27 15:54] LeWawan opened #894 "⌘ + k && Ctrl + k to focus the input element"
Hello @carloscuesta :sunglasses:!

I often find myself trying to focus the input element with tab to search for an emoji more quickly without leaving my keyboard.

I thought it would be nice to have an event handler on cmd + k and ctrl + k to focus the input.

What do you think about it ?

[2021-10-30 17:34] carloscuesta commented on #889
I think the idea for this gitmoji is to be used within CIs or bots that automatically generate commits and push them to a repository.

Let's say that for example, you have a workflow that once you publish a release, a changelog file is generated from a GitHub Action and the changes are published into the master branch.

I understand the reason why you thought about this! However, instead what I wo

[2021-10-30 17:36] carloscuesta commented on #883
Hey! Maybe we can find a gitmoji for infra related work? What do you think?

[2021-10-30 17:44] #668 closed

[2021-10-30 17:45] carloscuesta commented on #654
📸

[2021-10-30 17:45] #654 closed

[2021-10-30 17:47] carloscuesta commented on #108
Closing this issue as it's stall for quite some time 😅

[2021-10-30 17:47] #108 closed

[2021-10-30 17:48] carloscuesta commented on #844
Could this be related with infrastructure? #883

[2021-10-31 06:39] ElianVanCutsem commented on #883
Yes, I indeed like the VM and container thing! But what if Im' fiddling with ansible, Terraform or Kubernetes. Those are a little harder to find a specific emoji for.

In our company we use ☁️ to notify of cloud related changes, 📦 for container/Docker, ☸️ for Kubernetes ( not a suggestion per sé, just an FWI )

[2021-10-31 09:02] petervmeijgaard commented on #654
:camera_with_flash: still does nothing 🙃

[2021-10-31 09:43] carloscuesta commented on #654
😓 I got confused yesterday, however considering the times we've been waiting I don't think this is going to be changed and also there's nothing we can do from our side, so I don't see any more reasons to keep the issue open

[2021-10-31 09:45] carloscuesta commented on #883
Maybe something like: https://emojipedia.org/brick/ ?

[2021-10-31 09:46] carloscuesta commented on #812
Maybe we can cover this with 👔, what do you think?

[2021-10-31 09:48] carloscuesta commented on #474
Hey! Seems that they added this into GitHub? 🗃️`:card_file_box:`

Closing this issue!

[2021-10-31 09:48] #474 closed

[2021-10-31 09:50] carloscuesta commented on #475
Hey!

Let's close this as we have this covered with other emojis and seems that is indicating a scope and not an action as @Lyokolux says

[2021-10-31 09:50] #475 closed

[2021-11-02 19:02] LionC opened #900 "Add 🏭 for auto-generated code"
Hello @carloscuesta :sunglasses:!

I suggest to add a gitmoji for modifications to auto generated code, e.g. by the relay compiler, code generators based on OpenAPI or any other files that are checkec into version control but not modified by developers.

- Emoji: 🏭
- Code: `:factory:`
- Description: Add or update auto generated code

I posted a PR that should pass and that adds this if accepted :-

[2021-11-03 20:55] #894 closed

[2021-11-03 20:57] #889 closed

[2021-11-03 21:17] carloscuesta commented on #900
Hey! Is this similar to #889 ?

[2021-11-03 21:19] carloscuesta commented on #626
They released a version of the font however it's missing a ton of emojis that we currently have on the website 😅

[2021-11-04 00:54] LionC commented on #900
I read that issue before posting mine and I think it is quite different. Even though the intro post reads similiarly on the surface, that issue seems to have mostly gone in the direction of "changes done by a script", while I talk specifically about generated code, which is more a different class if assets, usually kept in a separate folder.

Code generation happens more and more in the mainstream

[2021-11-05 15:49] vhoyer commented on #626
shame :( should we wait more or maybe choose another font?

[2021-11-06 11:44] carloscuesta commented on #626
Not sure to be honest, 😅 after thinking about it for some time, I don't know if using different emojis on the website vs the ones that are used in GitHub is a great idea, as it can cause some kind of confusions

[2021-11-08 20:29] vhoyer commented on #626
how about this then?
https://github.com/github/g-emoji-element

[2021-11-08 21:11] carloscuesta commented on #626
Yeah I remember I saw it, but I think I discarded it because they don't have SVG support?

[2021-11-10 01:34] hms5232 commented on #844
It maybe depend on usage? For example, I have a service use container (maybe Docker or directly use containerd) in my local, but it doesn't relate any cloud base service.

Any idea? This need more discussion.

[2021-11-10 18:39] vhoyer commented on #626
Why we need svg support? does those images have fixed tiny size? like 25x25?

[2021-11-12 18:46] lquenti opened #905 ""WIP" does not match "Work in Progress" when using "gitmoji-cli -c""
(I post this here since gitmoji-cli just fetches everything)

**Describe the bug**
I use `gitmoji-cli -c` for committing. There, I often do "Work In Progress"-commits as I often change machines.
When typing "WIP" (or any capitalisation thereof) in the "Choose a gitmoji" dialog, I don't get the right match recommended at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Start `gitmoji -c`

[2021-11-12 18:47] lquenti commented on #905
Suggested Solution:

Change the "Work in progress."-String to "Work in progress. (WIP)". That should work, right?
If so, I can create the PRs to this and gitmoji-cli for test-updates if you want to.

[2021-11-15 19:45] carloscuesta commented on #626
Hey! Mainly for quality and performance 😊

[2021-11-15 19:46] carloscuesta commented on #905
Hey @lquenti thanks for opening an issue.

I think this is not related with the gitmoji website itself, perhaps what we can try to do is improving the fuzzy search that is being done at the gitmoji-cli level

Feel free to move the issue to the other repository 😊

[2021-11-15 19:46] #905 closed

[2021-11-16 11:04] arelstone opened #908 "🤖 Github action to validate pull request title"
Hello @carloscuesta :sunglasses:!

The dev team I work in have decided to use gitmojis generate our change logs and we love it. We were missing a github workflow to validate if our pull requests started with a gitmoji. So we created it our self.

I think that some other developers could benefit of this

[2021-11-16 16:48] carloscuesta commented on #908
Hello! @arelstone very happy to hear that your team finds gitmoji useful 😊

Is the GitHub action published in the marketplace? If so feel free to add the link on the site!

Alternatively, you can use commitlint for that as well: https://www.npmjs.com/package/commitlint-config-gitmoji

[2021-11-16 17:11] arelstone commented on #908
@carloscuesta I had to do a roll back on it... It wasn't working as intended.. I will keep you posted on this

[2021-11-18 16:47] carloscuesta commented on #844
I see, maybe what we can do is try to find one emoji for infrastructure related work?

[2021-11-18 16:48] carloscuesta commented on #883
I would try to suggest 🧱 for "Infrastructure related changes" removing the 'cloud' part so we can cover more use-cases like #844

Wdyt?

[2021-11-19 02:09] hms5232 commented on #844
It sounds good! Let community decide how to do about this!

[2021-11-19 08:10] ElianVanCutsem commented on #883
Looks good and clear to me! Want me to put in a  PR for it?

[2021-11-20 19:52] ksinkar commented on #883
I would suggest using 🪄 could be used for container orchestration files like k8s/terraform/chef/puppet/ansible etc.

The wand represents the conductor's baton that is generally used in musical orchestra performances to coordinate different musical instruments. Infrastructure orchestration does something similar for either various IaaS platforms (e.g. terraform) or various programming languages (e,

[2021-11-20 20:13] ksinkar commented on #883
Cloud IMHO is a misnomer created due to very intense propaganda/marketing by  IaaS providers.  These are nothing but physical data-centres spread over geography. The correct term for what is today referred to as cloud is *distributed data-centres*. Just read the difference between *deploying to M/A/G Cloud* as opposed to *deploying to M/A/G Distributed Data-centres*; A company could lease a data-c

[2021-11-21 03:44] franciscocandido commented on #845
I can do this

[2021-11-21 03:54] codingedgar opened #912 "Copy emojis and autogenate gitmoji command from the webpage"
Hello @carloscuesta :sunglasses:!

even after using gitmoji for a while now, i often use the webpage a lot, specially when i want to use a gitmoji outside the terminal, but I'm missing the "copy emoji" command, actually I'm missing the "copy emoji" as unicode (🐛), shorcode (`:bug:`) and gimoji command `gitmoji -c --emoji bug` (I'm not sure this is actually a thing)  or `git commit -m ":bug"`.

tha

[2021-11-21 03:57] codingedgar commented on #870
I'm dying for something showing "latest 7 used" instead of the current ones, and access with a number instead of arrow keys. I could help implementing it

[2021-11-21 08:41] carloscuesta commented on #845
Sounds good go for it! @franciscocandido

[2021-11-21 09:25] carloscuesta commented on #883
Let's go for https://github.com/carloscuesta/gitmoji/issues/883#issuecomment-973048456 🙏🏼 feel free to open a PR 😊

[2021-11-21 09:28] carloscuesta commented on #912
Hey @codingedgar thanks for opening an issue, not sure if I got the question right, but on the website you can actually copy both things:

https://user-images.githubusercontent.com/7629661/142756693-bf04c64c-2749-4551-bb01-9a5d842edbd9.mov

[2021-11-22 19:41] #883 closed

[2021-11-22 19:42] carloscuesta commented on #844
Closing this! As 🧱 was merged 😊

[2021-11-22 19:42] #844 closed

[2021-11-23 21:43] cheapsteak opened #919 "🧴 for "Fixed flaky test""
Hello @carloscuesta :sunglasses:!

- Emoji: 🧴 :
- Code: `:lotion_bottle:`
- Description: Fixed flaky test

Flaky skin? Flaky tests? Moisturize[.](https://github.com/carloscuesta/gitmoji/compare/master...cheapsteak:patch-1)

[2021-11-24 14:52] vhoyer commented on #919
what do you mean? flaky test?

[2021-11-24 16:00] carloscuesta commented on #919
Usually "flaky tests" is a common term in E2E environments where a test that often passes sometimes fails due to different conditions.

Seems way to specific for me and I would cover this use-case with the ✅ gitmoji, what do you think?

[2021-11-25 20:58] ksinkar opened #921 "©️ for commits to update Copyright information like year or author"
Hello @carloscuesta :sunglasses:!

- Emoji: ©️
- Code: `:copyright:`
- Description:  Currently we have the same emoji for updating License as well as Copyright Information. Licensing information is fundamentally different from Copyright information. Copyright information consists the name of the Copyright Holders and Years. In many projects commits are made by automated scripts to update the Copyr

[2021-11-25 23:58] ksinkar opened #922 "㊙️ Secrets"
Hello @carloscuesta :sunglasses:!

- Emoji: :secret:
- Code: `:secret:`
- Description: Many programmers commit their secrets with git-crypt (and some do not even bother to use that), although this may be frowned upon by others; for them to mark such commits. Then it shall be easier for automated programs to detect such commits, flag them, hide them or refuse to push them or at least provoke some s

[2021-11-26 23:54] #919 closed

[2021-11-27 10:08] #912 closed

[2021-11-27 10:09] carloscuesta commented on #908
Hey! I think we don't need a specific issue opened for this, feel free to send the PR anytime!

[2021-11-27 10:09] #908 closed

[2021-11-27 10:12] carloscuesta commented on #921
Hey! I think we can consider the copyright as part of the license as it's on the same file, so I don't see a clear reason to introduce this one 😊

[2021-11-27 10:12] #921 closed

[2021-11-27 10:12] #304 closed

[2021-11-27 10:21] carloscuesta commented on #818
Hey! Thanks everyone for all your opinions and comments I appreciate the time you took into this ❤️

While we all recognise that this emoji was not the best choice in that moment, we agree introducing the breaking change it's not worth it. For the next ones we will carefully asses that they cannot offend anyone

Thanks! 🙏🏼

[2021-11-27 10:21] #818 closed

[2021-11-27 10:22] carloscuesta commented on #405
Hey! Quite an old thread, I think there are some great ideas suggested in the first comment, some of them are already implemented and other ones no.

Feel free to break this issue down into smaller ones so we can easily implement what's missing and also seek volunteers for those ones.

Thanks! 🙏🏼

[2021-11-27 10:22] #405 closed

[2021-11-27 10:23] carloscuesta commented on #750
Hey!

Clossing this issue as we can cover now this with `:bricks:`

Thanks 😊

[2021-11-27 10:23] #750 closed

[2021-11-27 10:26] carloscuesta commented on #214
Hey! Really like the idea of `Improve developer experience` feel free to raise a PR 🙌🏼

[2021-11-27 10:47] carloscuesta commented on #845
We can use [`use-dark-mode`](https://github.com/donavon/use-dark-mode) hook to implement this easier. We already have two themes defined with the `prefers-color-scheme` CSS media query, so what we would need to do is adding a class that triggers both of the themes with the hook!

[2021-11-27 11:15] franciscocandido commented on #845
I'm using next-themes which facilitates implementation using data-theme

you can see how it looks [here](https://github.com/franciscocandido/gitmoji/commits/theme-toggle)

[2021-11-28 00:25] carloscuesta commented on #845
Nice! That seems a much better fit for us ❤️

[2021-11-29 10:17] oparaskos commented on #922
Not sure about this emoji from a international pov but i'd like to +1 this as a [SOPS](https://github.com/mozilla/sops) user.

I think an emoji like
🔐 `:closed_lock_with_key:` or perhaps
 🏦 `:bank:` might be more appropriate

[2021-11-29 17:34] vhoyer opened #924 "For each emoji, add a shortlist of "potential other related" gitmoji (e.g bug => hotfix)"
Hello,

Was thinking about this in https://github.com/carloscuesta/gitmoji/issues/405 and I quite like this idea, I will try find time to implement this, but if in the meanwhile anyone would like to do this, feel free.

[2021-11-29 19:13] franciscocandido commented on #845
It's going to take me a while to finish because I'm kind of busy.

And I'm also in doubt about where to position and what kind of input it's going to be. I was thinking about a switch, i made one to see how it would look. You can see [here](https://codepen.io/franciscocandido/pen/jOGNjOR).

[2021-11-30 07:16] #214 closed

[2021-11-30 07:17] carloscuesta commented on #845
Hey @franciscocandido it's okay, no worries for that thans for the job you're doing 😊

I'll try to think for a design

[2021-12-01 13:02] codingedgar opened #928 "Copied to the clipboard popup does not show on chrome with Grammarly for Chrome extension"
**Describe the bug**
Following https://github.com/carloscuesta/gitmoji/issues/912#issuecomment-974782522 , the popup in the gif does not show in macOS Chrome with the Grammarly for Chrome extension.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Chrome
1. Install [Grammarly for Chrome extension](https://chrome.google.com/webstore/detail/grammarly-for-chrome/kbfnbcaeplbcioakkpcpgfkobkg

[2021-12-01 14:09] vhoyer commented on #928
the popup doesn't show up, but does the clipboard work?

[2021-12-01 15:06] codingedgar commented on #928
@vhoyer yes, it works fine!

I worked it around by disabling grammarly for that page in chrome's extension manager (in-extension-config was not enough), but unsure if it is working 100% of the time.

[2021-12-02 12:47] EmGarr opened #930 "Introduce the shibui gitmoji (beautiful and simple)"
Hello @carloscuesta :sunglasses:!

- Emoji: :o:
- Code: `:o:`
- Description: Shibui (渋い) (adjective), shibumi (渋み) (noun), or shibusa (渋さ) (noun) are Japanese words that refer to a particular aesthetic of simple, subtle, and unobtrusive beauty. [source](https://en.wikipedia.org/wiki/Shibui)
I know it is not fairly common in programming. However, in my company when we do something simple and beauti

[2021-12-02 19:09] carloscuesta commented on #928
Hey, I don't necessarily consider this a bug as the extension is somewhat affecting the JS of the page, this is not something we can control 100% on our own so I'll close the issue 😊

[2021-12-02 19:09] #928 closed

[2021-12-02 20:53] vhoyer commented on #930
Firstly, I loved the idea as an idea, because I'm obsessed with Japanese culture, but because I liked it so much, I feel the need to be specially impartial; I've always adopted the position of trying my best not to add more emojis to the "spec" to prevent useless complexity for newcomers to gitmoji (since I've encountered resistance amongst my peers about the adoption of gitmoji due to "there bein

[2021-12-03 01:49] jvrsolis opened #931 "Gitmoji PWA"
**Describe the bug**
I cannot find a way to download the site for offline use. Generally this means I have to continuously have the site open rather than opening an application.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to gitmoji.dev
2. Attempt to see where you can download the site as a pwa
3. See unable to locate download of site

**Expected behavior**
Able to download gitmoji si

[2021-12-03 04:47] jvrsolis commented on #931
A bit more context as to whats preventing the PWA from showing

Uncaught (in promise) bad-precaching-response: bad-precaching-response :: [{"url":"https://gitmoji.dev/_next/server/middleware-manifest.json","status":404}]
    at Y.j (https://gitmoji.dev/workbox-f6183121.js:1:16756)
    at async Y.D (https://gitmoji.dev/workbox-f6183121.js:1:16354)
    at async Y.v (https://gitmoji.dev/workbox-f6183

[2021-12-03 11:23] EmGarr commented on #930
Thanks for the answers :heart: .

I clearly here your concerns and shibui is clearly a "how" and not a "what". I mostly used it when I find a solution to a complex  problem with a really simple solution. It is just a mark of proudness I guess :laughing: .

Regarding the description I guess: simple and beautiful only would fit the shibui spirit.

For the emoji I really like :diamond_shape_with_a_do

[2021-12-03 14:03] carloscuesta commented on #930
Hey! I think that @vhoyer explained very well the criteria we use when trying to add new emojis!

You can still use the emoji for the project, at the end of the day this is just an idea that people can transform embrace and adapt based on their needs

Thankd for opening the issue! 😊

[2021-12-03 14:03] #930 closed

[2021-12-03 15:09] vhoyer commented on #930
oh yeah, the :snowflake: would be very cool for this, but either way thank for opening the issue :D

[2021-12-03 15:11] vhoyer commented on #930
@carloscuesta, do you think we could add this notion of "what"/"how" to the contribution guide or in the issue template?

[2021-12-03 16:20] carloscuesta commented on #930
Yes please! It would be a great addition

[2021-12-05 10:04] #931 closed

[2021-12-06 12:21] QuietOne opened #936 "🧨 Emoji for warmfix"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧨
- Code: `:firecracker:`
- Description: Emoji should be used for fixing issue found in staging environment.

[2021-12-06 21:37] franciscocandido commented on #845
Do you already have something?

[2021-12-07 11:44] carloscuesta commented on #845
The idea for me would be to have two icons, one for light mode and another one for dark mode that the user can toggle to switch both themes:

<img width="53" alt="Screen Shot 2021-12-07 at 12 43 36" src="https://user-images.githubusercontent.com/7629661/145023306-03cd4421-442b-4706-8a55-4acd6b5d3bc1.png">

<img width="55" alt="Screen Shot 2021-12-07 at 12 43 19" src="https://user-images.githubuser

[2021-12-07 11:50] carloscuesta commented on #936
Hey! I would like to suggest using `:bug:` 🐛 instead.

I don't think we should differentiate environments in gitmojis, as that would require to add N emojis per environment, eg `dev`, `local` `production`

Thanks for the suggestion!

[2021-12-07 11:50] #936 closed

[2021-12-08 02:05] franciscocandido commented on #845
How about a single icon that changes with the theme. It can be the classic sun and moon, as in the example, or a lightbulb.

![chrome_ju69msVGcd](https://user-images.githubusercontent.com/64603958/145135303-4b8ab11b-bb3f-40cb-a01c-d73e506c45eb.png)

![chrome_YL0qnmPZSu](https://user-images.githubusercontent.com/64603958/145135306-77d983c4-5092-4242-ac53-44de2da6501b.png)

I think the best place wo

[2021-12-08 09:02] carloscuesta commented on #845
Yes! The icon should be the same and should change along the theme

[2021-12-08 19:07] franciscocandido commented on #845
@carloscuesta

Do you know of a place where I can find the icons? I was thinking about [Material Design Icons](https://materialdesignicons.com/)

[2021-12-08 19:09] carloscuesta commented on #845
Hey! If I remember properly the icons that we're currently using were taken from https://icomoon.io which is a handy app to get resources like this!

Select the SVG version that you want and download it

[2021-12-10 16:07] franciscocandido commented on #845
Ok, in my next free time I'll implement it and leave everything ready

[2021-12-13 14:37] mainrs opened #939 "Please remove the blinking effect from the links inside the hamburger menu."
Or at least add them only if the user does not specify the [prefers-reduced-motion](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_Media_Queries_for_Accessibility).
Currently, if I visit the website and hover over the links inside the hamburger menu, they blink repeatedly.

[2021-12-13 21:06] vhoyer commented on #939
Oh yeah, huge issue, sorry for that, I will try looking into this tomorrow morning (morning for me), but if this is not fixed by sunday, pls scream at me ahha

[2021-12-13 21:07] vhoyer commented on #939
@carloscuesta do you have any suggestions on how to represent the hover? or can I just do whatever?

[2021-12-13 21:08] carloscuesta commented on #939
I would suggest to do a simple underline or something like that.

I think is a great suggestion as it could be a bit disturbing for some users

[2021-12-13 21:15] vhoyer commented on #900
As [I've commented on this other issue about the shibui emoji](https://github.com/carloscuesta/gitmoji/issues/930#issuecomment-984992482), this emoji represents mostly the "how", not the "what", do you agree?

And, like, we've been striving for adding only "what" emojis.

[2021-12-13 21:19] vhoyer commented on #939
do you think that we apply to all users or only to reduced motion? I was thinking on applying for all, thoughts?

[2021-12-14 07:56] carloscuesta commented on #939
Only reduced motion I would say

[2021-12-15 15:57] #939 closed

[2021-12-15 16:07] mainrs commented on #939
Way better, thank you very much!

[2021-12-19 14:41] carloscuesta commented on #900
Agree with @vhoyer's point of view, we introduced this in the [contributing docs](https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md#how-to-add-a-gitmoji) and I feel this one focus more on the "how" than "what"

[2021-12-24 10:45] #900 closed

[2021-12-24 10:49] carloscuesta commented on #812
Let's use `👔` for this case!

Thanks 😊

[2021-12-24 10:49] #812 closed

[2021-12-24 10:55] carloscuesta commented on #725
Hey!

The problem is see with this proposal is that we already have:

Logs:

- 🔊Add logs
- 🔇 Remove logs

Healthchecks:

- 🩺

This one feels like grouping all of them into a bigger category, does it makes sense to add an emoji that covers all of the use-cases while maintaining those 3? 🤔

[2021-12-27 14:54] vhoyer commented on #725
well, a lot of things are a grouping of the ✨ and 🐛 already, right? (in fact, it would be cool to see a visualization of this categories ahah)

[2022-01-01 18:37] 8xu commented on #924
Sounds good, to be honest! 😅

[2022-01-01 21:46] 8xu opened #952 "⭐ Adding a new emoji! :link:"
As told [here](https://github.com/carloscuesta/gitmoji/pull/951), I want to add a new emoji for developers who fix broken links.

[2022-01-06 12:01] 8xu commented on #952
Anything to add? Any response? 😭

[2022-01-06 16:24] carloscuesta commented on #922
`closed_lock_with_key` seems like a good suggestion!

[2022-01-06 21:05] vhoyer commented on #924
this is nice cuz it can help in the search function, but if @8xu wants to do that, I'd find it pleasing :D

[2022-01-06 21:09] vhoyer commented on #952
This is a snippet of the issue template, can you answer this questions?

[2022-01-06 21:20] 8xu commented on #952
This use case can't really be covered by another emoji, it's only for broken links.
It's describing what has been done in one particular commit.

[2022-01-06 21:27] 8xu commented on #924
I pretty much have no idea of how can I implement that 😭

[2022-01-07 09:49] johannchopin commented on #952
Hey @8xu 👋 Thanks for opening an issue 👍

I think that the 🚚 gitmoji already cover the cases of 'moving or renaming paths/routes ressources'. I wont recommend adding a new emoji just to specificy that the link was initially broken.

[2022-01-07 15:20] vhoyer commented on #952
Seeing that apparently the author agrees with the use of the :truck:, I will close the issue, if I'm mistaken, feel free to re-open it :D

[2022-01-07 15:20] #952 closed

[2022-01-07 15:30] vhoyer commented on #924
Oh, as a first thought, I'd probably create a json file in the `data` folder (mostly because I don't think this should be very useful information to the consumers of `gitmoji.json`), probably something like:

[code]

Ultimatly this PR would be mostly for we to agree about what emoji is related to what other :D

as a note, I think that there is no problem in an emoji be present in more than one gro

[2022-01-07 15:31] vhoyer commented on #924
If in the future we need to change implementation of this list, I don't think it should be a huge problem, that's why I don't think that we should focus much in the implementation details in this issue, and I think that the format of a PR is better to separate the emojis

[2022-01-19 14:17] fbruetting opened #962 "Dangerous commit (test, experiment, etc.) which might cause damage"
Hello @carloscuesta :sunglasses:!

- Emoji: :skull_and_crossbones:
- Code: `:skull_and_crossbones:`
- Description: Striking indication that that commit might cause (serious) damage

I am currently programming an FPGA controller and have to alter the i/o voltages for testing purposes. When I connect my devices to the controller in that situation, this might destroy their input circuits. So I want t

[2022-01-19 15:20] vhoyer commented on #962
Can't this be covered by `:boom:` :boom: "Introduce breaking changes.", I know you said that the proposed emoji should be used only on testing branches, but what do @fbruetting think we gain by separating the two usages (when testing and when its for real)?

I don't think we gain much by separating them, if you are only testing the breaking changes, you could, as you said, use the :rewind: emoji a

[2022-01-19 17:07] fbruetting commented on #962
Not „only for testing branches“ but this is how I use it for. My thinking here is that `:boom:` :boom: means more major changes for end users, or compatibility issues due to for example altered interfaces, or you just introduce some other drastic regular changes. The purpose with this icon is more to highlight really dangerous stuff.

When you work on a project with some :boom: changes, you might

[2022-01-20 13:56] johannchopin commented on #962
Thanks for the proposition @fbruetting 👍 However I support the thought of @vhoyer. Your use case is really specific but can be covered by 💥. I propose you to really describe in your README what a developer should do if he encounters such a gitmoji.

[2022-01-21 19:45] corysimmons opened #964 "Separate into basic and extended sets"
Hello @carloscuesta :sunglasses:!

I think the idea of Gitmoji is great, but learning what all the emojis represent is pretty overwhelming at first. Do you think it might be a good idea to simply separate the website into having like 7 emojis for the basic/intro set, that cover almost all use cases, and the rest below it in a different section marked as "Extended Gitmojis" or something?

[2022-01-21 23:16] carloscuesta commented on #964
Hey @corysimmons thanks for opening an issue

Definitely I think there's room for improvement you raised a valid point here 😊. The main concern I see is that we're all biased based on our use-case, context etc. Which means that the "basic" emoji intro set can be completely different for everyone.

Which can lead to more complexity in the end for someone that is starting 😅

[2022-01-24 04:19] nick10811 opened #966 "The emoji is divided into two separate."
**Describe the bug**
`:technologist:` 🧑‍💻  emoji is divided into two separate.

**To Reproduce**
Steps to reproduce the behavior:
1. copy emoji 🧑‍💻  into commit via terminal (I installed the iTerms but it's the same on the original)
2. the log displays two emojis.

**Expected behavior**
the emoji is the single one.

**Screenshots**
![Screen Shot 2022-01-24 at 12 12 11 PM](https://user-images.githu

[2022-01-24 15:31] #966 closed

[2022-01-24 17:13] nick10811 commented on #966
ok, I got it. thanks for your reply. ^^

[2022-01-25 18:34] corysimmons commented on #964
Yup, it'd be up to you and your community which ones constituted a "basic" set. I've worked at a bunch of places that used Angular's commit types, but I'm unsure if that's as common as I think. https://gist.github.com/brianclements/841ea7bffdb01346392c#type

[2022-01-26 16:39] corysimmons commented on #964
I like the idea of an opt-in telemetry prompt (explaining the exact reason for the collection). I don't like the website analytics idea because 1) 99% of devs have adblock, 2) a ton of devs will only use the website to look-up emojis they don't know (so your metrics would tell you that some obscure emoji is getting clicked on a lot).

[2022-01-26 22:34] carloscuesta commented on #964
Hey! Thanks for sharing your input 😊

I've considered many times building a simple telemetry system for gitmoji-cli to have a clear vision about the usage of each gitmoji. However I think it's a very sensible and conflictive topic.

I've been postponing this decision over the time and as of today I still think that I would like to not include any telemetry into `gitmoji-cli` even if it's optional.

[2022-01-27 22:48] corysimmons commented on #964
I think my point against this, again, is that likely most people will be going to the website to copy/paste obscure/infrequently-used emojis.

tbh this isn't a huge deal to me anymore. It was just one of those "It'd be cool to separate the site into common emojis (like from Angular) and weird emojis". Outside of something like that it seems like any solution is overkill. 🤷

[2022-01-28 00:54] vhoyer commented on #964
what if we made an script that crawls the git log of people searching for the emoji count on the messages and ask people to run it and submit a json to us ahah, or we run on public repos :shrug: public info is public info, I guess, the only problem with that last approach would be we find repos that use emojis but not gitmojis.

[2022-01-29 06:20] PressJump opened #967 "(😴) Write code sleeplessly"
Hello @carloscuesta :sunglasses:!

- Emoji: 😴
- Code: `:sleeping:`
- Description: Write code sleeplessly.

## Describe the use case of your emoji

Many programmers (I included) have a messed up circadian rhythm and stay up until late hours to fix issues stuck in our heads when trying to sleep. The downside with this difficulty we have is the quality of our code being either very hacky or just outr

[2022-01-29 09:52] carloscuesta commented on #967
Hey! @PressJump thanks for opening an issue

We are trying to always include emojis that describe/categorize the "what" has been done in one
particular commit (:white_check_mark:, :lock:, :zap:...), not the "how" it was
done (the exceptions being :hankey:, :beers:).

[2022-01-29 09:52] #967 closed

[2022-02-01 00:12] ndebuhr opened #973 "Add the 🧩 emoji for plugin or extension work"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧩
- Code: `:jigsaw:`
- Description: Add, update, or remove plugins or extensions

## Describe the use case of your emoji

The emoji is a jigsaw puzzle piece used to signify work on plugins or extensions.  My own work ([example](https://github.com/ndebuhr/cloud-native-workstation/commit/67ea23b4e63a4ea072bb1d913c74c8900770e838)) is often at the "systems l

[2022-02-01 14:33] vhoyer commented on #973
Yeah, as you said, all those examples in my view seem an awful lot like ":heavy_plus_sign: `:heavy_plus_sign:` Add a dependency."

[2022-02-01 14:34] vhoyer commented on #973
or at least :heavy_plus_sign: is the one I always use for adding dependencies of my dependencies (like plugins and extensions)

[2022-02-02 19:00] carloscuesta commented on #973
Hey! I agree with @vhoyer all the use cases you described sound like a “dependency” to me and could be covered by the ➕

[2022-02-04 05:09] ndebuhr commented on #973
Sounds good 👍

[2022-02-04 05:09] #973 closed

[2022-02-06 15:43] connorjs commented on #725
FWIW, since my original comment, I have seen and heard more references to the term **observability**. To provide another industry reference, I found a [Google dev ops article on observability (and monitoring)](https://cloud.google.com/architecture/devops/devops-measurement-monitoring-and-observability).

Some more thoughts about choosing the gitmoji for commits following some recent work I have do

[2022-02-06 18:07] carloscuesta commented on #725
Hey! Sounds good to me let's add this one 🙏🏼

[2022-02-06 22:16] connorjs commented on #725
Nice! Let me re-ask one of my questions hidden in my musings 😅

Do the speaker/sound gitmojis (🔊 and 🔇) refer explicitly to logs (and not metrics)? Or - no - they can also include metrics.

[2022-02-07 08:28] carloscuesta commented on #725
I would say speaker/sound gitmojis only refer to logs!

[2022-02-09 01:47] connorjs commented on #725
Thanks for clarifying!

@sylvanaar - Do you have any new thoughts to add here? And thoughts on holding out for XRay emoji?

(I really like using XRay as @meg-gutshall mentioned. And we should hopefully see it coming soon.)

[2022-02-11 11:04] oparaskos commented on #922
If you're happy I've raised a PR going with `closed_lock_with_key`

https://github.com/carloscuesta/gitmoji/pull/980

[2022-02-11 19:14] #922 closed

[2022-02-13 16:23] pghk opened #981 "Zero Width Joiner Sequences lower adoptability of gitmoji"
This is not an issue or complaint. I'd just like to raise the question, while the new "Improve developer experience" entry is relatively new and the first of its kind: should this project reconsider using [Emoji ZWJ Sequences](https://emojipedia.org/emoji-zwj-sequence/) in the standard?

I appreciate that years of discussion went into #214. I like the choice that was made there (especially the fac

[2022-02-15 18:23] lsagetlethias opened #986 "🤝 Review code"
Hello @carloscuesta :sunglasses:!

- Emoji: 🤝
- Code: `:handshake:`
- Description: Review code.

## Describe the use case of your emoji

When working in team, gives a way to mark code part of a review resolution and avoid micro atomic commits.

### Is this use case covered by an existing emoji?

Yes, with 🐛  but not entirely ; or yes if we allow micro commits in our repo or if we don't care about

[2022-02-15 19:30] carloscuesta commented on #986
Hey @lsagetlethias thanks for opening an issue!

We discussed this emoji before in https://github.com/carloscuesta/gitmoji/issues/348 it was part of the convention but it was removed.

If you think a bit deeper about it when someone requests a code review, it is because there's an issue or a potential improvement, that change can be categorized using one of the existing emojis.

Using your example

[2022-02-15 19:30] #986 closed

[2022-02-15 19:32] carloscuesta commented on #981
Hey! I think this is related with https://github.com/carloscuesta/gitmoji/issues/966

Unfortunately there's nothing we can do atm, we can consider this when introducing new emojis cc @vhoyer

[2022-02-15 19:42] lsagetlethias commented on #986
Seems fair! Thank you for the ref.

[2022-02-19 19:03] #981 closed

[2022-02-22 09:42] jdvala opened #991 "Use pull_request_template for commit message."
Hello @carloscuesta :sunglasses:!

I have a proposal that in the git repo if there is pull_request_template available, then it should be used for the first commit.

[2022-02-23 15:18] bruxisma commented on #442
Hi,

I know it's been a while since this issue was last updated. I was wondering if moving forward with this is still planned? Having a convention commit format for gitmoji would definitely save me a ton of headaches when trying to deal with all the tooling out there that expects conventional commits these days. 😅

At the moment I'm shoving multiple shims in everywhere or writing custom regex to c

[2022-02-23 21:33] vhoyer commented on #991
Perhaps you are getting confused between https://github.com/carloscuesta/gitmoji-cli and https://github.com/carloscuesta/gitmoji are you not?

[2022-02-23 21:35] vhoyer commented on #442
yeah, that is a good point

[2022-02-24 08:23] jdvala commented on #991
Oh yes indeed very much. I will close it

[2022-02-24 08:23] #991 closed

[2022-02-24 16:06] Lyokolux commented on #442
@vhoyer good point ! So it should definitely be an example of usage :) Surely not a convention, but an example of usage, so people can get to the point with emojis in commit message.

[2022-02-24 19:00] carloscuesta commented on #442
Hey! Let's move forward with this idea!

I'll start suggesting something like this so we can start discussing about the different options:

- `intention`: One of the emojis that we have defined, what is the purpose of this commit
- `message`:  A brief explanation of the change.

[code]

What do you think?

[2022-02-24 19:06] carloscuesta commented on #442
Hey! Sure let's move forward with this idea!

I'll start suggesting something like this so we can start discussing about the different options:

- `intention`: One of the emojis that we have defined, what is the purpose of this commit
- `message`:  A brief explanation of the change.

[code]

What do you think?

[2022-02-24 23:01] bruxisma commented on #442
Kind of spitballing/stream of consciousness here:

Looking at the various formats for `conventional-changelog`, there is the older [`atom`](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-atom) format (thought no longer used as of recent commit messages).

I've been doing the `<intention> <message>` approach to commits for some time now,

[2022-02-26 09:40] carloscuesta commented on #442
I'm not a big fan of the `scope` thing but I see the value in some scenarios, let's include it as well in the convention:

[code]

Being:

- Intention: An emoji of the list
- Scope?: An optional string that describes the scope of the commit, contextual information of the commit such as the module
- Message: The explanation of the commit

[2022-03-02 00:54] bruxisma commented on #442
I'm in favor of this.

This would also be *mostly* compatible with Gitmoji + Jira Smart Commits (which I use at work and has been adopted by several coworkers). The difference here is that I think it should be

[code]

So that `:` can be filtered out by tooling and not counted as part of the scope, but as an *optional*  separater.

[2022-03-05 17:39] carloscuesta commented on #442
Hey! I think that adding the separator optionally if you want to specify the scope is a great addition, let's go with:

[code]

Anyone has other ideas/opinions? 👀

[2022-03-07 13:55] vhoyer commented on #442
personally I always use `[]` to separate the scope, examples:

that's from my dotfiles repo :D

[2022-03-12 09:39] carloscuesta commented on #442
I think we can move forward with the approach agreed on https://github.com/carloscuesta/gitmoji/issues/442#issuecomment-1059802990, let's include this on the website and the readme under a "example of usage"

[2022-03-12 14:39] #442 closed

[2022-03-12 14:40] carloscuesta commented on #964
Let's close this then! 😊

[2022-03-12 14:40] #964 closed

[2022-03-25 15:48] Framonti opened #1004 "New emoji for code cleaning / cleanup operations"
- Emoji: 🧹
- Code: :broom:
- Description: Clean up operations

I would suggest to add a complementary gitmoji to 🗑. That is, a gitmoji that states code cleaning / clean up operations were performed. We already have similar options (e.g., ⚰️  for dead code, 🔥 for deleting code, ♻️ for generic refactoring, 🎨 for style). However, sometimes during code cleaning operations I put together most of those

[2022-03-25 17:24] NatoBoram opened #1005 "Remove 🤡"
Issue #176 and PR #177 introduce the 🤡 emoji, which is often used in hate speech context.

* https://github.com/carloscuesta/gitmoji/issues/176
* https://github.com/carloscuesta/gitmoji/pull/177

#176 does not conform to the current issue template, which would highlight several issues from that emoji in the first place.

[2022-03-26 09:44] carloscuesta commented on #1005
Hey @NatoBoram thanks for opening an issue

You're right, there are a few emojis in gitmoji that are not following the approach described in the issue template. Such as 💩 🍻 and others.

However a mock does not falls under the _how_ category, you can read more [why about this in the following link](https://en.wikipedia.org/wiki/Mock_object).

We tend to not change or remove emojis that were added m

[2022-03-26 09:44] #1005 closed

[2022-03-28 02:53] franciscocandido commented on #845
@carloscuesta First I want to apologize for not finishing the feature

I had some problems and I left the studies aside I deleted my repositories. I wanted to let you know that I will re-develop this and leave it working.

sorry for my english, it's not my native language and i need to study more

[2022-03-28 12:54] marcselman opened #1009 "Hardcoded values or checks"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧬
- Code: `:dna:`
- Description: Add or update hardcoded values or checks

## Describe the use case of your emoji

Sometimes, when quickly developing something, we might temporarily use some hardcoded data before refactoring it, it a later time, to use database values or a configuration file. Using a special emoji for this makes it easy to find when the

[2022-03-28 16:59] carloscuesta commented on #845
Hey @franciscocandido thanks for reaching out 😊

It's totally fine!! Don't feel forced to finish this if you don't have the time. Focus on what's more important for you!

I really appreciate the time and effort you took into this ❤️. I would be more than happy to help you with the issue.

[2022-03-29 08:55] pboling opened #1011 "Add gitmoji-regex"
A Gitmoji::Regex for Ruby

https://github.com/pboling/gitmoji-regex

The Ruby Gitmoji Regex will be useful for testing strings for the presence of Gitmoji characters.  It relies on the [gitmoji JSON](https://github.com/carloscuesta/gitmoji/blob/master/src/data/gitmojis.json) from this project, and has a script for updating, as well as a spec that will fail the build as soon as it gets out of sync

[2022-03-29 11:41] #1011 closed

[2022-03-30 18:42] carloscuesta commented on #1004
Hey @Framonti

Can you reopen the issue sticking with the gitmoji proposal template?

https://github.com/carloscuesta/gitmoji/issues/new/choose

Thanks 🙏🏼

[2022-03-30 18:42] #1004 closed

[2022-04-01 07:56] scp-nm opened #1014 "Include 👃 for Code Smell fixes"
Hello @carloscuesta :sunglasses:!

- Emoji: :nose:
- Code: `:nose:`
- Description:

## Describe the use case of your emoji

We use SonarCloud to help us improve our code quality, one of the fixes we have to do regularly is resolving code smells.

### Is this use case covered by an existing emoji?

I've not seen anything suitable.

### Does this emoji fall into the "how" category?

I don't believe

[2022-04-05 09:56] piotrkubisa commented on #1014
Interesting suggestion, however isn't the ♻️/`:recycle:` an appropriate alternative for a commit focusing on cleaning up code? AFAIK, code smell is kind of trigger for developers to do refactoring, so also a reason of the commit.

[2022-04-06 10:08] LittleFox94 opened #1020 "Handling non-ideal existing emojis without breaking change"
Hi,

I've seen some issues about non-ideal emojis that are already defined, the problem being acknowledged but no action taken to not do a breaking change to gitmoji "spec". This makes a lot of sense, but I think this could be handled gracefully - handling the problem without breaking.

The idea is to change the website template a bit, allowing alternative emojis to be added and adding a tooltip (

[2022-04-06 10:11] LittleFox94 commented on #1020
(the `:children_crossing:` would be different of course, my fail while mocking)

[2022-04-07 11:18] #962 closed

[2022-04-08 17:59] AjuSingh opened #1021 "Copy to Clipboard Toast Issue"
**Describe the bug**
Toast of copy to clipboard doesn't disappeared automatically.

**Expected behavior**
Copied to clip board toast need to disappear after clicking on cross or automatically.

**Screenshots**
![Screenshot (24)](https://user-images.githubusercontent.com/69449848/162495942-abf689a8-0bbf-41e6-8172-7e469f3aa59e.png)

[2022-04-19 10:36] ladislas commented on #1014
it's not always refactoring, sometimes you just need to add a `const` qualifier or use a `reference` (we do c++).

It's not a full featured refactor in that case, just a code smell fix. We tend to use 🩹 for that but it's not quite the same thing.

[2022-04-19 20:46] vhoyer commented on #1014
I guess you could use :recycle: or :rotating_light:, I mean, code smells are not always linting, but the way I see it they are quite alike, no? we could edit the message for :rotating_light: from "Fix compiler / linter warnings" to something like "Fix automated warnings" or something like that which would accommodate tools like SonarCloud and the like as well, what do you think?

[2022-04-20 15:25] Rafzahn opened #1030 "Support for multiple gitmoji's"
Hello,

do you guys see a chance to implement usage of multiple gitmojis?

Sometimes one is not enough for a commit. For example:
❇️ 💩 -> For new features that are completely crap :)

[2022-04-21 17:03] TOTHT0MI opened #1031 "Include :loop: for Multi-Thread or Thread-Safety work"
Hello @carloscuesta :sunglasses:!

- Emoji: :loop:
- Code: `:loop:`
- Description: Work with multiple threads or thread safety.

## Describe the use case of your emoji

As a Java developer, I find myself working with multiple threads and thread safety many times.
These commits are usually quite large, and I think they should be recognized as a separate group in the Gitmoji standard.

This emoji wo

[2022-04-21 17:08] carloscuesta commented on #1030
Hey!

I think this was already suggested, but the idea is to do atomic commits as much as possible.

If you find the need to use more than one emoji it means that you'll need to split the change into different commits.

[2022-04-21 17:08] #1030 closed

[2022-04-22 16:08] vhoyer commented on #1031
I think you are on the right track with this, I also can only think on the :bug: as a possible existing emoji for covering some of this cases and _maybe_ :zap: for the other half of the cases, but I guess this is a nice one to have as well, no objections on my part, let us just get the feedback from @carloscuesta and @johannchopin

[2022-04-25 09:22] ladislas commented on #1014
Yes, 🚨 could do the job

[2022-04-26 06:50] carloscuesta commented on #1014
Hey!

I agree with @piotrkubisa most of the times a code smell triggers a refactor which should be the original purpose of the commit as you're suppose to change the code without changing the outcome of it!

I think we can safely cover this with ♻️

Thanks for the suggestion!

[2022-04-26 06:50] #1014 closed

[2022-04-27 09:00] MountainTiger144 opened #1035 ":technologist: Cut out of box at page zoom 100%"
![image](https://user-images.githubusercontent.com/59207260/165482113-7b9e22ba-1952-4637-a80e-f3b1980a00ec.png)

[2022-04-27 16:27] #1035 closed

[2022-04-27 19:14] theochampion opened #1036 "Accept donations on gitmoji.dev 💸"
Hey Carlos 😎

Like many people I'm sure, I've been using https://gitmoji.dev almost everyday.
Since I run an ad blocker, I would love to have another easy way to support the project everytime I use it.

I've been seeing a lot of dev project using [Zink](https://zink.tips) for that. It's a small widget that sits on the website and let visitor tip a few cents in one click (see below).
Another option

[2022-04-27 21:05] carloscuesta commented on #1036
Hey!

Congrats on launching this project, looks cool, I think the idea behind it is great, but I'm not sure if it will bring more contributions to this project.

I would like to maintain the small ad on the top, even though almost everyone is using AdBlocker it makes provides enough money to cover the domain costs so I'm happy with this

In case you want to donate 💸 to the project, you have a big

[2022-04-27 21:05] #1036 closed

[2022-05-03 18:11] minalike opened #1043 "Using `gitmoji -c` renders the :emoji_name: as text instead of the actual emoji"
**Describe the bug**
Using `gitmoji -c` renders the :emoji_name: as text in the commit title instead of the actual emoji

**To Reproduce**
I am able to reproduce this using `gitmoji -c` and making a commit in both iTerm2 and VS Code's built-in terminal on macOS.

**Expected behavior**
I expect the emoji to render 😢

**Screenshots**
<img width="436" alt="image" src="https://user-images.githubuserco

[2022-05-03 20:46] carloscuesta commented on #1043
Hey!

Feel free to open this issue on the cli repo, but there’s a configuration setting on the docs

[2022-05-03 20:46] #1043 closed

[2022-05-04 20:15] vhoyer commented on #1009
So we are striving to now add "how" emojis, only "what" emojis, That said, your suggestions seems to me to be a "what" emoji.

I usually cover hardcoded values with :speech_balloon:
![image](https://user-images.githubusercontent.com/11022464/166818519-4eaf8b19-c6c0-4757-b782-f8183aedb5b2.png)

Why would the :speech_balloon: not suited for this case?

[2022-05-04 20:18] vhoyer commented on #1021
Can't reproduce.

I see you are using brave, are you sure that none of its configuration is messing up with this behavior? It works on chrome and firefox

[2022-05-05 02:47] #1021 closed

[2022-05-26 04:00] oneezy opened #1061 "Is there a way to configure? i.e. inside a `gitmoji.config.js`"
Our team has some specific needs and wants to configure our own emojis

[2022-05-26 07:30] #1061 closed

[2022-05-29 22:31] JoshuaKGoldberg opened #1063 "Add a sponsorships-related remoji?"
Hello @carloscuesta :sunglasses:!

- Emoji: 💸
- Code: :money_with_wings:
- Description: Sponsorships or other money-related infrastructure.

## Describe the use case of your emoji

For changes related to project sponsorships, such as:

* Setting

### Is this use case covered by an existing emoji?

Ehh, I don't think so?

### Does this emoji fall into the "how" category?

No.

### Examples

* 💸 doc

[2022-06-02 08:20] imalexlab opened #1069 "Emoji use variation"
**Describe the bug**
The package emoji from the website use a variation from the emoji and the cli an other version.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the 📦 emoji from https://gitmoji.dev/
2. Go to ['uniode onerter'](https://convertcodes.com/unicode-converter-encode-decode-utf/)
3. Paste the emoji
4. See that the UTF-32 is u+0001f4e6u+0000fe0f
5. Copy the 📦 emoji from the

[2022-06-02 19:46] vhoyer commented on #1069
So, if:
- the gitmoji-cli don't comply with the gitmoji official list, and
- that is a problem;

I assume this should be fixed by gitmoji-cli, not gitmoji itself, that being the issue should be in the gitmoji-cli.

Tho still I think that is not really a problem because, as far as I know, gitmoji-cli makes a download on the user's machine directly from the gitmoji repo, not from gitmoji-cli, that f

[2022-06-02 20:08] vhoyer commented on #1063
Well, I don't have anything against this, we should wait for @carloscuesta or @johannchopin's opinion on this before following with the PR, tho

[2022-06-03 18:06] carloscuesta commented on #1063
Hey! I think this is somehow similar to #475 but more focused to sponsorship, we can definitely add it 😊

[2022-06-11 11:33] #1063 closed

[2022-06-29 04:37] Nauxscript opened #1087 "[question] using in vscode git shortcut key"
hi there!

I am using vscode-vim in vscode, and use shortcut key like `option` + `c` to do commit action in git.
so if there a way to let me use gitmoji when i do commit action by shortcut key ?

I just want to find some way to not use gitmoji by mouse click.
of course, I know I can use gitmoji-cli in terminal. but I take it as an alternative, cause use use vscode shortcut maybe more easy and need

[2022-06-29 07:27] carloscuesta commented on #1087
Hey! Thanks for opening an issue

Unfortunately I do not maintain any gitmoji-vscode extension, so you should find the proper repo and open the issue there 😊

[2022-06-29 07:27] #1087 closed

[2022-06-29 07:31] Nauxscript commented on #1087
oh sorry! thank you for reply!

[2022-07-14 14:30] ewen-lbh commented on #1031
Just want to illustrate the usefulness of this gitmoji with a real-world example: I pushed a commit where I changed a pass-by-value to a pass-by-reference for a struct with a mutex in it: https://github.com/ortfo/mk/commit/0566687143de83b51bce3198cb20760a87769eff

I was on the fence between bug fix (but it's not fixing a bug, rather the _possibility hypothetical future bug_, which I find a bit too

[2022-07-17 19:21] ma1ted commented on #1031
Hey! Wouldn't 🧵 (`:thread:`) be a better fit for this?

[2022-07-19 16:59] francois-rozet opened #1098 "Emoji for adding or updating tutorials/guidelines"
Hello @carloscuesta :sunglasses:!

- Emoji: :footprints:
- Code: `:footprints:`
- Description: Adding or updating tutorials/guidelines

## Describe the use case of your emoji

This emoji should be used when tutorials or guidelines are added or updated. This includes quick start/installation guidelines, examples of common usage, how to report issues and contribution guidelines in general.

### Is t

[2022-07-27 19:13] bryanjtc opened #1102 "Warnings while installing gitmojis"
**Describe the bug**
When I add this package to any project, some dependency warnings show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn add -D gitmojis`

**Expected behavior**
No warnings

**Screenshots**
![warnings](https://user-images.githubusercontent.com/49354825/181353136-739baf94-6442-4453-b307-981d8f7a7f16.png)

**Desktop (please complete the following information):**

[2022-07-27 19:19] bryanjtc commented on #1102
I only updated the package.json. The yarn.lock also needs updating.

[2022-07-29 18:55] #1102 closed

[2022-08-02 16:13] vhoyer commented on #1031
since, the other two didn't manifested their opinion, I'm gonna take the liberty of green lighting this idea, if someone want's to make a PR for this one (preferably using the :thread: emoji), it is welcomed.

[2022-08-02 16:21] vhoyer commented on #1009
I just said that first line specifically because you were the one saying that the emoji was falling under "how" category, so I didn't spend too much time analyzing this aspect.

Thinking about it now, personally, I'd put it in the "what" category, like you said "what? a hardcoded value"

that said.

If I'm adding a commit so that I can test something, I'd use either :alembic:, or :construction:, o

[2022-08-02 16:23] vhoyer commented on #1098
I mean... I don't see why not using documentation :memo: and just leaving the description or the scope to express to what it refers to.

[2022-08-02 17:35] #1098 closed

[2022-08-04 13:55] #1031 closed

[2022-08-05 20:15] ma1ted opened #1108 "🤖 Gitmoji proposal"
Hello @carloscuesta :sunglasses:!

- Emoji: 🤖
- Code: `:robot:`
- Description: Merge an automated pull request.

## Describe the use case of your emoji

For use in pull request merges that were opened by a bot.

### Is this use case covered by an existing emoji?

No.

### Does this emoji fall into the "how" category?

I think for practical purposes it does, but I would be interested in hearing oth

[2022-08-05 22:27] ma1ted opened #1109 "Add the githubmoji Firefox addon to /related-tools"
I made a Firefox addon which suggests gitmojis as you type your commit message. It also converts gitmoji codes (`:example:`) into the emoji counterparts.

![image](https://user-images.githubusercontent.com/59726149/183219200-6b7030e2-3e3f-4a14-9f6c-c253184dc98c.png)

I think this would be a good addition to the [/related-tools](https://gitmoji.dev/related-tools) page.

The repository can be found

[2022-08-06 06:20] johannchopin commented on #1109
Hey @ma1ted 👋

I see no problem with that 👌 I guess you can go ahead and open a PR

[2022-08-06 07:45] carloscuesta commented on #1108
Hey @ma1ted thanks for opening an issue

This is a duplicate of https://github.com/carloscuesta/gitmoji/issues/889 and https://github.com/carloscuesta/gitmoji/issues/565

[2022-08-06 07:45] #1108 closed

[2022-08-09 21:44] ezeparziale opened #1112 "new emojis"
Hello!

Consider add new emojis like:

:whale: for Add or update docker files (like Dockerfile, docker-compose.yml, .dockerignore)
:hatching_chick: for initial commits

I have the changes in my fork repo: https://github.com/ezeparziale/gitmoji/tree/new-emojis

`
    {
      "emoji": "🐋",
      "entity": "&#1F433;",
      "code": ":whale:",
      "description": "Add or update all docker files.",

[2022-08-09 22:04] vhoyer commented on #1112
the "new emojis" you mention are actually old emojis, :whale: was removed I think in this batch https://github.com/carloscuesta/gitmoji/issues/435 when we removed platform specific emojis. There are also some discussion on the addition of an emoji for dealing with containers https://github.com/carloscuesta/gitmoji/issues/750 which can now be covered with :bricks: for infraestructure.

And :tada: o

[2022-08-09 22:04] #1112 closed

[2022-08-10 06:43] mvrangeme opened #1114 "💾 for integrating with external datasources"
## Describe the use case of your emoji

- Emoji: 💾
- Code: `:floppy_disk:`
- Description: "Integrate with external datasource"

We often add or remove datasources such as Elastic Search, S3 buckets, read replica databases, data streams etc.

### Is this use case covered by an existing emoji?

- ➕ - This is more related to library/package dependencies
- 👽 - API != datasource
- 🗃️ - This may work fo

[2022-08-10 17:52] vhoyer commented on #1114
oh, sorry, didn't see this one before

[2022-08-10 17:54] vhoyer commented on #1114
I'd much prefer if we change the description of the :card_file_box: to something like "Perform database or datasource related changes." That way it would be clearer the relationship between :card_file_box: and it being like, changing related to data storage, not exclusively to databases.

[2022-08-10 17:56] carloscuesta commented on #1114
Agree with @vhoyer we can expand a bit the scope of the one that we have

[2022-08-10 17:56] vhoyer commented on #1114
also, your issue does not follow the issue template for emoji proposal:

[code]

be sure to answer those questions in the issue body before we continue :slightly_smiling_face:

[2022-08-10 23:55] mvrangeme commented on #1114
Apologies. I copied the format of another issue. I guess they did it wrong as well.

[2022-08-11 13:45] vhoyer commented on #1114
We already have a lot of emojis which makes the experience a little daunting for newcomers trying to get started using gitmoji, so as much as we don't want to limit the ability for the community to add new emojis, we always try to limit and scrutinize the addition proposal as much as we can to help keeping the growth of the standard slow paced.

This is why we prefer to broaden the scope of :card_

[2022-08-12 09:17] mvrangeme commented on #1114
I can only really reiterate what I've already said:

1. I think 🧱 is too general and it would be useful to distinguish between a small number of different infrastructure changes
2. 🗃️ already has quite a wide scope since it can be used for any database change
4. Adding a column to a database table is very different to integrating with a new S3 bucket or data stream
5. When reviewing your commit hi

[2022-08-12 14:40] carloscuesta commented on #1020
Hey!

While this could help on the "breaking changes" I think it would still leave things without meaning anymore 😅.

As this didn't receive too much support I will close this issue for now but we can revisit in the future

Thanks 🙏🏼

[2022-08-12 14:40] #1020 closed

[2022-08-12 14:41] carloscuesta commented on #1109
Hey! Please go ahead if you want to I'll close this issue 😊

[2022-08-12 14:41] #1109 closed

[2022-08-12 21:08] ma1ted commented on #1109
Sorry for the delay!

[2022-08-13 08:38] #845 closed

[2022-08-14 23:19] mvrangeme commented on #1114
@vhoyer are you saying [here](https://github.com/carloscuesta/gitmoji/pull/1113#issuecomment-1211051252) that you want me to open a new PR for this? Or are you just saying for next time that I should create the issue first?

[2022-08-18 01:56] #1114 closed

[2022-08-18 11:37] librafrog opened #1119 "Issue: Torii Gitmoji proposal"
### Emoji symbol

⛩

### Emoji code

:shinto_shrine:

### Emoji description

Translation of docs \ papers \ readme

### Describe the use case of your emoji

We found ourselves reading through install instruction, how to contribute and etc. all the time. Some (not all projects) need at least a couple of languages for the repos. So when we commit to add a new language we would type e.g ⛩️ Mold ar la

[2022-08-18 11:48] johannchopin commented on #1119
Hey @librafrog 👋

There is already a gitmoji for localisation and internalisation which is 🌐`:globe_with_meridians:`.

[2022-08-18 12:20] librafrog commented on #1119
Yep, I saw it, well I guess we can use that as well, it's more universal; sorry for the dublicate 😞

[2022-08-18 12:27] johannchopin commented on #1119
No problem at 😄

[2022-08-18 12:27] #1119 closed

[2022-08-18 12:32] johannchopin commented on #1009
Agree with @vhoyer. Also I would recommend putting such constants into configuration files and then use 🔧 `:wrench:`.

[2022-08-18 12:40] vhoyer commented on #1114
oh, no, that's what I was referring here:

I saw the PR first before seeing the issue and, (since the workflow I'm used to is: issue is presented, discussed and accepted -> then a PR is open), I just assumed you hadn't open an issue at all, sorry for the misunderstanding, also sorry for the late reply (the notification just got lost), and finally sorry for our views to not aligning on this idea, t

[2022-08-18 12:49] vhoyer opened #1120 "Issue template"
### Discussion

I think we should rephrase the `does your commit fall into the "how" category`, because I've seem a lot of confusion about it. Maybe we can even transform it into a checkbox like ones like "- [ ] this emoji describes what is in the commit, and not how it was made", and have a validation that doesn't let people proceed with the issue creation otherwise, then keep the current descrip

[2022-08-18 20:16] lcundiff opened #1121 "Database Migration Gitmoji"
### Discussion

Is there a gitmoji that would best align with creating migration files? If not, is this a big enough of a category to add an new emoji for?

### Validations

- [X] Follow our [Code of Conduct](https://github.com/carloscuesta/gitmoji/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md).
- [X] C

[2022-08-18 21:26] carloscuesta commented on #1121
Hey!

We have 🗃️ for:

I guess this one can be used for migrations as well since the migration will perform a database change

[2022-08-19 00:34] mvrangeme commented on #1114
No problems @vhoyer. I didn't take it for granted that my first submission would be accepted. I'll put more thought into the next one.

[2022-08-22 15:04] carloscuesta commented on #1121
I'll close this issue! 🙏🏼

[2022-08-22 15:04] #1121 closed

[2022-08-22 19:26] LeoColman opened #1124 "Add 🚬 emoji"
### Emoji symbol

🚬

### Emoji code

:smoking:

### Emoji description

Writing code while high

### Describe the use case of your emoji

Analogous to the "Write code drunkenly.", this emoji can be used to "Write code while high"

### Is this use case covered by an existing emoji?

Yes ✅

### Does this emoji fall into the "how" category?

It does fall in the "how" category, and an exception should

[2022-08-23 06:19] carloscuesta commented on #1124
Hey!

Since this is already covered by another emoji and is focused on the how not what we will skip this one

[2022-08-23 06:19] #1124 closed

[2022-08-23 10:28] alessandropaperini opened #1126 "Add governance-related emoji 🏛"
### Emoji symbol

🏛

### Emoji code

:governance:

### Emoji description

Add or update governance related files or code.

### Describe the use case of your emoji

For governance implementations such as adding pages or scripts related to privacy and cookie policies.
For cookie management also.

### Is this use case covered by an existing emoji?

No ❌

### Does this emoji fall into the "how" catego

[2022-08-23 13:04] carloscuesta commented on #1124
Hey!

I don't want to enter into much detail about the differences of being high/drunk

This emoji was introduced almost at the beginning of the project where the criteria was not clear as what we have today

The main reason why I don't want to include this emoji is because it falls in "how" and we should not do any exceptions to avoid mistakes that were made in the past

Hope it's clear now!

Tha

[2022-08-23 13:07] LeoColman commented on #1124
I think this wraps it up.
I didn't see the beer emoji as an outsider/out of the criteria.

Is it possible to deprecate a gitmoji?
Prehaps that one should be deprecated and discontinued

[2022-08-23 13:28] carloscuesta commented on #1124
Yes it's possible to deprecate them, we usually try to not change them to avoid introducing "backwards breaking changes"

[2022-09-06 13:07] Freed-Wu opened #1135 "Add shell completions"
### Description of the problem

Add shell completions for bash/zsh/fish/posh/etc

[code]

### Solution

I guess in javascript there exists a library to generate shell completions automatically like

- <https://docs.iterative.ai/shtab/use/#library-usage>
- <https://click.palletsprojects.com/en/8.1.x/shell-completion/>
- <https://docs.rs/clap_complete/latest/clap_complete/>
- <https://jmtirado.net/s

[2022-09-06 13:16] carloscuesta commented on #1135
Hey!

You opened the issue in the wrong repository

Thanks

[2022-09-06 13:16] #1135 closed

[2022-09-08 09:54] cnfw opened #1136 "🦺 for validation changes"
### Emoji symbol

🦺

### Emoji code

`:safety_vest:`

### Emoji description

Validation logic/schema changes

### Describe the use case of your emoji

Often features are developed rapidly with little thought given to validation checks on user-submitted data (at least initially), and so work can be done at a later stage to add or improve the validation on API requests, form submissions, etc.

In th

[2022-09-09 11:14] mike-mccormick commented on #1136
I'd definitely use this!

[2022-09-19 02:37] jonathanloganmoran opened #1141 ":sparkles: Feature Proposal: GitHub Summary stats widgets"
### Description of the problem

Since we're already "labelling" and summarising our commits with Gitmoji, it would be really great to have someone make a `git —shortlog` script to visualise these stats on e.g., a GitHub profile or repository's README.

For example, a live widget that shows summary stats, such as:
| Emoji | Short description | Nr. commits |
|-------|-------------------|------------

[2022-09-19 03:21] jonathanloganmoran opened #1142 "✨ Feature Proposal: Reverse lookup on desktop app"
### Description of the problem

I want to be able to reverse lookup emojis by searching the list with a specific emoji.

For example, if I wanted to find out what the "🚀" emoji means in Gitmoji language, I would try to do:
![Fig. 1. Searching for the corresponding Gitmoji description by emoji character or emoji description.](https://user-images.githubusercontent.com/22329957/190944544-f3aa9625-e2a

[2022-09-19 11:36] carloscuesta commented on #1142
Hey!

Unfortunately I do not maintain this desktop app so you should reach to the proper repository

Thanks!

[2022-09-19 11:36] #1142 closed

[2022-09-19 11:37] carloscuesta commented on #1141
Hey!

Thanks for opening an issue, I'll close it as it's a bit out of the scope for this project.

You can check gitmoji-cli, even though I don't see a clear use-case and the value for a visualisation like this!

Thanks

[2022-09-19 11:37] #1141 closed

[2022-09-22 13:46] jgunstone opened #1144 "👌 emogee for "improvement""
### Emoji symbol

👌

### Emoji code

`:ok_hand:`

### Emoji description

improvement

### Describe the use case of your emoji

like refactor but it indicates that the functionality is better than before

### Is this use case covered by an existing emoji?

No ❌

### Does this emoji fall into the "how" category?

to be used when you've improved the existing functionality of some code

### Examples

[2022-09-28 17:15] vhoyer commented on #1144
if the function has changed, isn't it a feature (aka :sparkles:)

[2022-09-28 17:23] vhoyer commented on #1126
similar to #282 and #480

[2022-09-28 17:25] vhoyer commented on #1126
quoting from [johan's commend](https://github.com/carloscuesta/gitmoji/issues/480#issuecomment-652304894):

[2022-09-30 16:43] vhoyer commented on #1144
the example you provided can be clearly classified as a new feature for me, imagine:

- :sparkles: Add a hello world message
- :sparkles: Add a globe emoji to hello message

instead of creating another emoji for an "small little feature", I'd rather stick with just the main `:sparkles` one, if you don't agree, I'd suggest you provide more examples that more clearly defends your point

[2022-10-04 14:31] vhoyer commented on #1144
oh, ok, then, have a good day, I will close the issue, if I'm doing so erroneously, just open it again, ok? best

[2022-10-04 14:31] #1144 closed

[2022-10-05 22:00] jgunstone commented on #1144
Happy for you to close the issue. If you are comfortable have two similar emogees i think it would be good yo give the option of :art: and :ok_hand: , but no problem if you dont want bkth.

Thanks for the great tool, i use it daily!

[2022-10-06 12:51] nemo0 opened #1151 "Add Message When Emoji is Copied"
### Description of the problem

The project doesn't show any message if the clicked emoji is copied. I think it'd be better to add a toast message when an emoji is copied. It will lead to a better user experience, in my opinion.

If you decide to add this as a feature, I would love to work on this.

### Solution

Add a toast message. We can use [react-toastify](https://www.npmjs.com/package/react-

[2022-10-06 15:41] johannchopin commented on #1126
@alessandropaperini IMHO this scope is way to global for a single commit message as @vhoyer pointed out 😉
If gitmoji start to include such "higher scope" emoji then there would be really hundreds more to add 😅
I would recommend to keep it simple/stupid exactly how a single commit on a feature branch should be.

[2022-10-06 15:43] johannchopin commented on #1120
@vhoyer I definitely want it 😉 Please open a PR 🚀

[2022-10-07 15:29] vhoyer commented on #1151
do you think you can test to see what extension is causing the issue? If I were to test it, I'd begin by disabling temporarily the ad blocker.

I say this to maybe pinpoint the extension causing the problem.

[2022-10-12 09:56] Sigmanificient opened #1153 ":link: for symlink and gitmodules"
### Emoji symbol

🔗

### Emoji code

:link:

### Emoji description

link a file, a directory or add a submodule

### Describe the use case of your emoji

This emoji would be useful when adding symlink on a repository or adding a sub-module.

### Is this use case covered by an existing emoji?

No ❌

### Does this emoji fall into the "how" category?

No, this emoji describe the type of "file" added,

[2022-10-12 17:22] carloscuesta commented on #1151
Hey!

Let's close this issue as it looks related with the browser extensions 😊

[2022-10-12 17:22] #1151 closed

[2022-10-19 21:41] vhoyer commented on #1153
I don't think that #243 is related

[2022-10-19 21:44] vhoyer commented on #1153
I also think that the linking of git sub-modules should be committed using the :heavy_plus_sign: (add a dependency), now for adding symlinks, I don't even know if this is a good practice, because like, if you clone a repository with a symlink on a Windows machine I doubt it would work.

And I'd prefer we don't encourage this practice if it is detrimental to the windows folks

thoughts @carloscuest

[2022-10-20 12:42] orien90 opened #1157 "Fingers crossed"
### Emoji symbol

🤞

### Emoji code

:crossed_fingers:

### Emoji description

Hoping for code to work

### Describe the use case of your emoji

When you have to commit and push multiple times hoping for the code to work.

### Is this use case covered by an existing emoji?

No ❌

### Does this emoji fall into the "how" category?

When you have to commit and push multiple times hoping for the code

[2022-10-22 14:07] aldairandre opened #1158 "Should Be Refactored Command gitmoji -c"
### Discussion

Hey guys, I'm sure everyone here loves Gitmoji, who doesn't!
Let's get to the actual discussion, first sorry for my bad english.
But don't you think the gitmoji -c command should be refactored?
Why am I saying this....
[Little history]
Today I was working on a small project and editing 3 different files, at some point in my work I decided to send only one file with "gitmoji -c", to

[2022-10-22 18:08] carloscuesta commented on #1158
Hey!

Wrong repo, feel free to move this issue to the gitmoji-cli repository!

[2022-10-22 18:08] #1158 closed

[2022-10-24 15:41] UramnOIL opened #1162 "Add or update example code"
### Discussion

I wanted to add 🔰 as an emoji for `add or update example code`, but maybe it is only used in Japan so it is not appropriate.
Is there a suitable emoji for `Add or update example code`?

### Validations

- [X] Follow our [Code of Conduct](https://github.com/carloscuesta/gitmoji/blob/main/CODE_OF_CONDUCT.md)
- [X] Read the [Contributing Guide](https://github.com/carloscuesta/gitmoji/

[2022-10-24 15:52] carloscuesta commented on #1162
Hey!

Perhaps we can cover this with 📝 ?

[2022-10-24 16:16] UramnOIL commented on #1162
I love it! Can I create new issue?

[2022-10-24 16:25] carloscuesta commented on #1162
Hey! This is already part of the convention

<img width="1009" alt="Screenshot 2022-10-24 at 18 24 50" src="https://user-images.githubusercontent.com/7629661/197576699-0d0ad3ea-7955-404c-9fdf-94fc317bda7b.png">

No need to add it!

Thanks 😊

[2022-10-24 16:25] #1162 closed

[2022-10-26 07:15] me-manikanta opened #1163 "Reverse Search: Search using emoji to get the description"
### Description of the problem

**Background**:
Most of my friends started learning about using the emojis to specify the intent of their commit message and PR. As they are new to this it's difficult for them to understand what emoji specifies what type of intent. Gitmoji search helps in translating intent to emoji, whereas the vice versa isn't true i.e., translating emoji to intent.

**Feature**:

[2022-10-26 12:14] carloscuesta commented on #1163
Hey!

That makes sense to me, feel free to send a Pull Request!

Thanks 😊

[2022-10-26 17:19] #1157 closed

[2022-10-26 17:20] carloscuesta commented on #1009
Hey!

Closing this issue, feel free to reopen if needed 🙏🏼

[2022-10-26 17:20] #1009 closed

[2022-10-26 17:21] carloscuesta commented on #1120
Hey @vhoyer do you want to follow up on this? 👀

[2022-10-26 17:25] carloscuesta commented on #1136
Hey!

I like the idea behind this suggestion 😍

I understand this point of view but when going through the commit log that could fall into UX / Usability

Personally I would use "business logic" but it's not 100% accurate on this case, so in my opinion I would be happy to introduce this one! 😊

Feel free to send a PR! 🙏🏼

[2022-10-27 10:08] junseinagao opened #1166 "JAPANESE SUPPORT"
### Discussion

Hello,

I'm love gitmoji and eager to increase more commit message to using gitmoji in my team and others Japanese software developer.

Why don't we add Japanese description to gitmoji? 📝

I am ready to add Japanese description to each emoji and submit PR. 🎉

### Validations

- [X] Follow our [Code of Conduct](https://github.com/carloscuesta/gitmoji/blob/main/CODE_OF_CONDUCT.md)
-

[2022-10-28 10:36] #1136 closed

[2022-10-28 17:31] vhoyer commented on #1163
The PR for this issue was merged, I will close this, if this was a mistaken, feel free to re-open

[2022-10-28 17:31] #1163 closed

[2022-10-28 17:33] vhoyer commented on #1166
related to:
- https://github.com/carloscuesta/gitmoji/issues/477
- https://github.com/carloscuesta/gitmoji/issues/560

[2022-10-28 17:38] vhoyer commented on #1166
Hey, I'm sorry, but after very careful thought, We've decided not to support multiple languages on <https://gitmoji.dev>.

You can read more about this decision on the issues I linked above.

As an alternative, there are some projects that people created to translate gitmoji.dev to a different language (namely Chinese) on a different repository and a different url.

[2022-10-28 17:42] vhoyer commented on #1166
@carloscuesta, do you think we can begin adding links on the footer of the page to the translation projects? like http://gitmoji.tslang.cn/

[2022-10-28 17:49] vhoyer commented on #1120
I want to, I didn't have the mental band width to tackle this issue yet, tho

If you really want to close the issue I don't mind, I think I will remember that I want to do this, even without it haha

[2022-10-29 08:05] carloscuesta commented on #1120
It's fine! Will keep it open 😊

Thanks 🙏🏼

[2022-10-30 18:54] charlestbell opened #1169 "🧹 Cleaning Your Code"
### Emoji symbol

🧹

### Emoji code

:broom:

### Emoji description

Clean your code

### Describe the use case of your emoji

Refactoring code, to make it neat and tidy.

The way I learned to code was to work in two stages. First, simply 'make it work', and then to refactor it till it looks intentional, is extensible, has comments, and melds with the codebase as a whole. In a word,  make it "clea

[2022-10-30 18:58] charlestbell commented on #1169
Here is a link to when this was previously requested. https://github.com/carloscuesta/gitmoji/issues/1004#issue-1180955903

[2022-10-30 18:59] charlestbell commented on #1169
https://github.com/carloscuesta/gitmoji/pull/179#issuecomment-449282660

[2022-11-01 00:04] junseinagao commented on #1166
@vhoyer

I've understood about i18n issue in this project. I'm going to launch a project to translate gitmoji.dev to Japanese.

Adding footer links also looks to me. I guess it grows gitmoji moreover.

[2022-11-01 01:24] thetechie7 opened #1173 "card hover on light mode does change text color"
### Describe the bug

the gitmoji cards on hover on light mode does change text color. it makes them hard to read I came up with a fix can i make a pull request?

<img width="1536" alt="Screenshot 2022-10-31 at 8 00 21 PM" src="https://user-images.githubusercontent.com/47117192/199138287-7377e0b4-4a36-46bb-bd4b-244f629e0a57.png">
<img width="1536" alt="Screenshot 2022-10-31 at 8 23 15 PM" src="htt

[2022-11-01 08:42] carloscuesta commented on #1166
Hey!

Aside from what has been discussed in the past on the issues @vhoyer mentioned, I want to point that I'm not a big fan of external sites such as`http://gitmoji.tslang.cn/`, mainly for two reasons:

1. They become outdated very quickly: Comparing to the emojis that we have on the website right now this is way behind and can be confusing to other users.
2. We can't control what's published the

[2022-11-01 08:42] #1166 closed

[2022-11-01 08:43] carloscuesta commented on #1173
Hey!

Good catch, for sure feel free to send a Pull-Request. I think the issue happens when your system has the `prefers-color-scheme` to dark but our theme toggle is forcing the `light` version of it.

I think we should somehow synchronise the value of the theme selector with the user preferences

[2022-11-01 08:55] carloscuesta commented on #1173
Hello again!

Went ahead and fixed the issue, thanks for reporting it ❤️

[2022-11-01 08:55] #1173 closed

[2022-11-11 14:49] Artmorse opened #1188 "Add the :mailbox: emoji when we apply PR suggestions."
### Emoji symbol

📫

### Emoji code

:mailbox:

### Emoji description

Apply pull request suggestions.

### Describe the use case of your emoji

This emoji would be useful when we applying PR suggestions.

### Is this use case covered by an existing emoji?

No ❌

### Does this emoji fall into the "how" category?

No

### Examples

:mailbox: - Suggestions applied.

### Validations

- [X] Follow our

[2022-11-11 17:07] carloscuesta commented on #1188
Hey @Artmorse

This was already proposed and removed see https://github.com/carloscuesta/gitmoji/pull/96 https://github.com/carloscuesta/gitmoji/issues/348 https://github.com/carloscuesta/gitmoji/issues/1188

Thanks for opening the issue!

[2022-11-11 17:07] #1188 closed

[2022-11-12 21:36] BrnMarq opened #1190 "Clear emoji input on focus"
### Description of the problem

Normally when I program and have to make commits I often try to use it the fastest possible, obviously, using the shortcuts that the page provides, such as CTRL + K, but after focusing the emoji search bar it doesn't clear the input. Probably should be good having it at least as an option in the config section

### Solution

In the Toolbar component, before focusing

[2022-11-14 16:08] vhoyer commented on #1190
I think that a better way (for UX) to handle this problem is to have a clear button, that once the user clicks it, the input is cleared and focused automatically, this have the nice side effect of "not having to design a settings page/section/model", also it matches the native behavior of most places iirc.

since we already occupy the section where one would put a "clear" button with the "ctrl K"

[2022-11-19 03:21] lapidary-master opened #1200 "📝 Have a file that outlines grouping for the emojis"
### Discussion

Hi there!

I built a quick and dirty cheatsheet for all of the emojis, grouped by purpose and I was hoping to at least have it looked over to double-check if anything needs modifying to it.

[The Gist](https://gist.github.com/lapidary-master/70d8d008e01a8a4d5d652af0a8740f53)

Am not sure if this is the definitive way to group them so suggestions welcome!

### Validations

- [X] Fol

[2022-11-19 20:22] carloscuesta commented on #1200
Hey!

This was previously discussed in here: https://github.com/carloscuesta/gitmoji/issues/138 so I think we can close the issue 😊

[2022-11-19 20:22] #1200 closed