[2016-11-07 19:45] carloscuesta opened #1 "images"
![gitmoji-logo](https://cloud.githubusercontent.com/assets/7629661/20073135/4e3db2c2-a52b-11e6-85e1-661a8212045a.gif)

[2016-11-07 19:47] #1 closed

[2016-11-13 18:25] dasMulli opened #2 "Consider adding 🛠"
Hello @carloscuesta :sunglasses:!

I suggest adding the following emoji:
- Emoji: 🛠
- Code: `:hammer_and_wrench:`
- Description: Heavy refactoring.

Useful if you change / reorder namespaces, split / merge libraries etc. Dirty but satisfying plumbing work (hence the wrench one and not ⚒ ).

[2016-11-13 22:43] carloscuesta commented on #2
Hey @dasMulli that's a great idea :smile:

Feel free to send a [pull request](https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md#how-to-add-a-gitmoji) 👍

[2016-11-14 10:13] phpforlan opened #4 ":fire:"
Hello @carloscuesta :sunglasses:!

- Emoji: :rainbow:
- Code: `:rainbow:`
- Description:

[2016-11-14 10:13] #4 closed

[2016-11-14 14:34] #2 closed

[2016-11-14 16:21] caepenna opened #7 "Suggestion for adding 💅"
Hello @carloscuesta :sunglasses:!

Frist of all, congratulations for the awsome project 😁. Here's another suggestion:

- Emoji: :nail_care:
- Code: `:nail_care:`
- Description: CSS only changes

To be used when there no change in the implementation of any feature, only cosmetic adjustments to style (CSS). This is useful for telling programmers that that commit would have changed only CSS (or Sass/

[2016-11-14 19:31] carloscuesta commented on #7
Hello @caepenna!

Great one!  🎉

[2016-11-14 21:15] duivvv opened #9 "Suggestion for adding 🎉"
Hello @carloscuesta :sunglasses:!

I saw you used this one yourself, but it's not in the guide :)

- Emoji: 🎉
- Code: `:tada:`
- Description: Initial Commit

[2016-11-14 21:22] carloscuesta commented on #9
Hey @duivvv!

Forgot to add tada 😅 :tada:

Feel free to send a pull request!

[2016-11-14 21:33] duivvv commented on #9
https://github.com/carloscuesta/gitmoji/pull/10/files

[2016-11-14 21:37] #9 closed

[2016-11-15 07:25] nagygergo commented on #7
Hi, I think that's too domain specific to web development. The current emojis are near totally domain independent. I'm not against the introduction of a "UI style changes only" emoji, tough.

[2016-11-15 08:16] redmagic commented on #7
We use 💄 for cosmetic changes, it's a bit easier to recognize IMHO.

[2016-11-15 08:22] carloscuesta commented on #7
I understand what you're saying @nagygergo, probably this is too specific with the "cosmetic" and UI changes, but in my opinon is great to have a gitmoji that represents the "UI changes" more than only styles 😄

We can consider @redmagic 💄 `:lipstick:` too, let's see what people think (Add a 👍 / 👎 / ❤️ to the comment).

[2016-11-15 08:23] redmagic commented on #7
Thanks for removing my heart, could not see how to do that ;)

[2016-11-15 08:25] duivvv opened #11 "Suggestion for adding ➕ & ➖"
How about these, not quite the same as ⬆️ and ⬇️

- Emoji: ➕
- Code: `:heavy_plus_sign:`
- Description: Added dependency

<br/>

- Emoji: ➖
- Code: `:heavy_minus_sign:`
- Description: Removed dependency

[2016-11-15 08:27] nagygergo commented on #7
@carloscuesta I can agree with that 😄

Arjen Geerse <notifications@github.com> ezt írta (időpont: 2016. nov. 15.,
K, 9:23):

[2016-11-15 10:25] winkbrace opened #14 "heavy refactoring emoji alternative for bitbucket compatability"
Hello @carloscuesta 😎 !

Great idea! I really like using standardised emojis in the commits. My team uses bitbucket and we can use all but one of the assigned emojis: The `:hammer_and_wrench:` (I verified this).
Could you change it to 🔨  `:hammer:` or 🔩 `:nut_and_bolt:`? Then your guide will be compatible with the two largest source code repositories.

I couldn't find any better emojis, but you ca

[2016-11-15 10:34] carloscuesta commented on #14
Hey @winkbrace

Definitely will be considering using emojis that are supported on **Bitbucket** and **GitHub** as possible. Thanks! 😄

Will change: 🛠 => 🔨

[2016-11-15 11:27] duivvv commented on #7
I like the lipstick idea

[2016-11-15 11:29] duivvv commented on #11
Should I change the descriptions in my PR to 'Added depencies' & 'Removed depencies'?

[2016-11-15 12:01] virzen commented on #7
I think the `:lipstick:` is much easier to distinguish at the first glance.

[2016-11-15 12:39] welcoMattic opened #15 "Suggestion for 🐳 emoji for Docker concerned commit"
Hello @carloscuesta :sunglasses:!

For projects use Docker, we can use 🐳 emoji to identify Docker concerned commit .

- Emoji: 🐳
- Code: `:whale:`
- Description: Commit about Docker (Dockerfile, docker-compose ...)

[2016-11-15 13:02] winkbrace commented on #14
Awesome. Thanks 👍 😃

[2016-11-15 14:38] fabersky opened #16 "Copy to clipboard"
Let's automatically copy the emoji code to clipboard to make it easier to make a commit with it.
e.g.
Copy ": art :" (without spaces) to clipboard when clicking on it.

[2016-11-15 14:55] luvalenz opened #17 "Is this a fork of this style guide?"
Hi @carloscuesta,

I saw this  [style guide](https://gist.github.com/nkawasg/f96a2f0bfe1e059d589d6a2190a2ac81) a couple of months ago and it's very similar to this one, so I wonder if this is a fork.

Cheers!

[2016-11-15 15:05] carloscuesta commented on #17
No, @luvalenz, there are a lot of gists like this one, the intention of this repo is to create an initiative to standarize and explain the use of emojis on GitHub commit messages where people can take part of it.

Some big projects were using emojis much before this repo like Atom, and you can see some use cases on his CONTRIBUTING guide, and this is not a fork 😄

[2016-11-15 15:05] #17 closed

[2016-11-15 15:08] carloscuesta commented on #16
Hey @fabersky!

I'm implementing the copy with [Clipboard.js](https://clipboardjs.com/) should be pushed soon 😃

[2016-11-15 16:35] carloscuesta opened #20 "Add contributors section"
### Contributors

Create a contributors page/section, to recognize everyone who has contributed to [gitmoji](https://github.com/carloscuesta/gitmoji/)

[Contributors API Request](https://api.github.com/repos/carloscuesta/gitmoji/contributors)

[2016-11-15 17:49] turnbullm commented on #7
:nail_care: looks like a broken umbrella

[2016-11-15 18:01] carloscuesta commented on #7
Cool, let's use `:lipstick:` 💄 instead of 💅

[2016-11-15 19:03] #7 closed

[2016-11-15 19:07] #14 closed

[2016-11-15 19:57] jgalat0 opened #21 "Usage of 💯 for first realease."
Hello @carloscuesta :sunglasses:!

Used when getting out of beta stage.

- Emoji: 💯
- Code: `:100:`
- Description: Used for first release.

[2016-11-15 20:30] w3cj opened #22 "Provide attribution for prior work"
Hello @carloscuesta

@dannyfritz created the commit-message-emoji repo on March 17th of 2015
https://github.com/dannyfritz/commit-message-emoji

Your repo was created on Oct 21, 2016.

Several of the emoijis you are using (Initial commit, bug, new feature etc) are exactly what Danny Fritz first proposed in his repo:
https://github.com/dannyfritz/commit-message-emoji#which-emoji-to-use-confused

An

[2016-11-15 21:28] carloscuesta commented on #22
Hello @w3cj

I have no problems on giving attribution to prior work, but to be honest I used [Atom Contributing Guide](https://github.com/atom/atom/commits/master/CONTRIBUTING.md). As I said on #17.

If you take a look at [this Atom commit](https://github.com/atom/atom/commit/12116809980e390f1f5044a45e5e6ba367b2cad4) you can see that the emoji list was implemented on 2014, and I'm not seeing any a

[2016-11-15 21:44] carloscuesta commented on #11
Great one!

[2016-11-15 21:58] #22 closed

[2016-11-15 22:27] #16 closed

[2016-11-15 22:27] carloscuesta commented on #16
Done @fabersky 😄

[2016-11-16 03:12] w3cj commented on #22
Thanks for replying and thanks for the info!

I didn't realize atom developers were one of the first to do it.

[2016-11-16 07:33] carloscuesta commented on #11
Merged in #12

[2016-11-16 07:33] #11 closed

[2016-11-16 08:25] carloscuesta commented on #15
Cool @welcoMattic!

Send a pull request 🎉

[2016-11-16 09:06] Johann-S opened #23 "How to use it ?"
Hello @carloscuesta :sunglasses:!

gitmoji seems pretty cool, but sorry to ask but I don't know how to use it ?

When I make a commit I write something like this :
``git commit -am "My commit"``

So where can I add an emoji ?

[2016-11-16 09:41] GiacomoLaw commented on #23
I agree, a tutorial would be pretty nice.

[2016-11-16 09:56] welcoMattic commented on #23
On macOS, you can press `ctrl+cmd+space` to open emoji's modal, select one and press `enter`

[2016-11-16 09:58] Johann-S commented on #23
Thank you @welcoMattic for mac users but I'm on Windows 10

[2016-11-16 09:59] carloscuesta commented on #23
I will write a tutorial on the README.md, but long story short, the point is about adding the emoji `:code:` at the beginning of the commit, for example:

`git commit -am ":lipstick: Updating the UI" -m "Body message"`

[2016-11-16 10:04] Johann-S commented on #23
Ok thank you @carloscuesta for your quick answer 👍

[2016-11-16 10:04] #23 closed

[2016-11-16 10:07] welcoMattic opened #25 "Replace 🔥 emoji with 🗑 for "Removing code or files.""
Hello @carloscuesta :sunglasses:!

- Emoji: :🗑:
- Code: `:wastebasket:`
- Description: Removing code or files.

Replace 🔥 emoji with 🗑 for "Removing code or files.", because it's more explicit. And we let 🔥 free for another signification like Hotfixes (see #6)

[2016-11-16 10:16] #15 closed

[2016-11-16 10:20] carloscuesta commented on #25
I like the `:wastebasket:` 🗑 and is more explicit than the :fire: but, it's not available on [BitBucket](https://bitbucket.org/DACOFFEY/wiki/wiki/BITBUCKET/EMOJI/Emoji) emojis list,

See #14, we should try to use supported emojis as possible. What do you think? 🤔

[2016-11-16 10:21] welcoMattic commented on #25
Oh 😞 too bad! I'm ok to support GitHub & BitBucket as possible.

[2016-11-16 10:21] #25 closed

[2016-11-16 11:45] jonathanwiesel opened #28 "Performance improve, merging and reverting"
Hello @carloscuesta :sunglasses:!

Great project, I use most of them myself, in my personal projects I usually don't leave a single commit without starting the message with a contextual emoji, it makes the log easier to read and to understand. Just wanted to share some that I use that could be helpful:

---

- Emoji: :racehorse:
- Code: `:racehorse:`
- Description: Performance improvements

---

-

[2016-11-16 15:13] welcoMattic opened #30 "Suggestion about git hook to interactively choose the right emoji for a commit"
Hello @carloscuesta :sunglasses:!

For CLI git users we can imagine to create a commit-msg hook to be able to choose interactively the right emoji for the commit, and then write the commit message.

The aim of the hook will be to ask for the emoji, ask for the commit message, concatenate them in the final commit message, and execute the commit.

For the interaction we can use https://github.com/SB

[2016-11-16 15:45] carloscuesta commented on #21
I suppose that the 100 it's for `1.0.0`, no? @jgalat0

[2016-11-16 15:55] carloscuesta commented on #28
Hey @jonathanwiesel

That's a great issue! Thanks for taking the time to fill this one 👍

Great ideas in there, personally I prefer to use :zap: instead of 🐎 for performance, the reverting commits emoji looks good for me and the cactus one it's cool because there are like "two branches", but could be a little bit confusing though.

[2016-11-16 16:09] jgalat0 commented on #21
Exactly

[2016-11-16 16:28] johannesschobel commented on #21
Why not use :tada: ( `:tada:`) for the releases?

[2016-11-16 16:30] carloscuesta commented on #21
At the moment :tada: it's used for the initial commit.

The problem with :100: it's that should be used only at a time (when reaching 1.0.0) and does not takes into consideration future releases like 2.0.0 🤔

[2016-11-16 16:30] jgalat0 commented on #21
I've seen that is used that way, but :tada: is already used on initial commits. What if we used :boom: for initial commits?

[2016-11-16 16:33] johannesschobel commented on #21
and why not use  :checkered_flag: (`:checkered_flag:`) as release-symbol?

[2016-11-16 16:37] carloscuesta commented on #21
Yes 🎉 should only be used one time, but doesn't have a "limitation" for the design itself.
@johannesschobel 🏁 it's being used for indicating Windows fixings.

[2016-11-16 16:49] jgalat0 commented on #21
How about composing emojis? So we could free some.
For example: 🐛 🏁 could be fixing something on windows.
Then use 🏁 (alone) as release-symbol or when reaching any milestone?

[2016-11-16 16:59] johannesschobel commented on #21
I don't get, why 🏁 is used for "fixing something on windows"?! Do you mean "Windows" (operating system) or do you mean "Windows" (a panel where the user-interface is drawn to)?

If you mean the OS, why is there no "Fixing something on Linux / Mac / IOS / Android / ..."? Why do you need a specific "fixing on ... " icon?

[2016-11-16 17:03] johannesschobel opened #31 "Research Icon"
Hello @carloscuesta :sunglasses:!

- Emoji:  :microscope:
- Code: ` :microscope:`
- Description: Commits to add research (e.g., evaluation of different frameworks, ... )

[2016-11-16 17:07] carloscuesta commented on #21
There are icons for indicating OS: Take a look at https://gitmoji.carloscuesta.me, there is 🍎 for macOs, 🐧 for Linux, and there is a pull request #13 for adding the Android one.

Probably we can replace something similar to :boom: for initial commits and :tada: for releases, but I'm not totally with it 🤔

[2016-11-16 20:40] viktorstrate commented on #21
@jgalat0 I think it would be too complicated / confusing, if you had to use 2 emojis. And if only using 🏁, would mean something completely different.
Especially for people, who is new to the idea of using emojis to describe PRs

[2016-11-17 00:01] ptraceur opened #35 "Backup emoji"
Hello @carloscuesta :sunglasses:!

- Emoji: 💾 :
- Code: `:floppy_disk:`
- Description: No special feature. Just project backup.

[2016-11-17 01:49] evrowe opened #36 "Usage of 📈 for analytics/tracking updates"
Hello @carloscuesta :sunglasses:!

- Emoji: 📈
- Code: `:chart_with_upwards_trend:`
- Description: Used for commits that add analytics/tracking code

When working on large applications that require a lot of manual tracking features, often commits will be submitted that are updates to the codebase but not necessarily new features. Having an emoji to express these types of updates would be a nice way

[2016-11-17 08:07] welcoMattic commented on #30
The hook is almost exists: https://github.com/tjoskar/emoji-commit-hook, the only thing we have to do is to replace the static list with the gitmoji one. I'll fork it today.

[2016-11-17 08:12] carloscuesta commented on #30
Cool! @welcoMattic

Will take a look into this but worth making something like emoji-commit-hook!

[2016-11-17 08:25] welcoMattic commented on #30
Well, my vison of it is:

- Create a npm package with gitmoji as dependency
- Gitmoji exports a module with gitmojis.json inside
- The hook package can use the gitmojis list

So we have to create this module ;)

[2016-11-17 09:27] SergiSMJ opened #40 "Add emoji 💩 when you know your code is rubbish and need to improve it"
Hello @carloscuesta :sunglasses:!

I think this emoji can have sense in some cases, as a rule you do not have to write shitty code but in some cases you need to do it for time or because your are under pressure, this emoji remember you that this code need improvement

- Emoji: 💩
- Code: `:hankey:`
- Description: When you write a line of code that you know is a crap and you need to improve in the f

[2016-11-17 11:23] duivvv commented on #21
isn't releasing = deploying in a modules context

💯 can indicate the first 1.0.0 release, I use :rocket: for every next one

[2016-11-17 11:28] duivvv opened #43 "Dynamic pdf cheatsheet"
Maybe we should add the option on the website (and README?) to download a pdf cheatsheet?
(generated from the json file)

[2016-11-17 11:29] FredrikAugust opened #44 "Make a list version of the website, so it's easier to see all emojis at once"
Hello @carloscuesta :sunglasses:!

Is it possible to get a mode on the website where all the emojis are displayed in a list format instead of tiles? That way it's a bit easier to see all of them, especially when you don't know which one you are looking for.

Perhaps like this?

|Emoji|Description|
|-------|---------------|
|:smirk:|Cheeky code|
|:lipstick:|Fancy smancy|

[2016-11-17 11:50] viktorstrate commented on #43
There is node libraries called [pdfkit](http://pdfkit.org/), to generate pdf files.

[2016-11-17 13:30] carloscuesta commented on #36
Great one! @evrowe

[2016-11-17 13:31] #36 closed

[2016-11-17 13:33] carloscuesta commented on #31
Thanks for your suggestion, IMHO I don't see a commit to add research, this is decided in a talk 🤔

[2016-11-17 13:33] #31 closed

[2016-11-17 13:36] carloscuesta commented on #35
Hello @ptraceur, thanks for your suggestion

What would be the use case on this one? I mean I don't usually see "backup commits"

[2016-11-17 13:37] carloscuesta commented on #40
Hey @SergiSMJ

In my opinion, you shouldn't push crappy code to production, but sometimes I understand you code fast and those things should be improved.

Let's see what people thinks about adding this as a gitmoji. (:+1: / 👎)

[2016-11-17 14:48] blakek opened #45 "Use 🤕 for commits related to polyfills, shims, fallbacks, etc."
Hello @carloscuesta :sunglasses:!

🤕 could be used for commits related to adding polyfills, shims, fallbacks, etc. (although I'd _prefer_ a band-aid emoji)

- Emoji: 🤕
- Code: `:face_with_head_bandage:`
- Description: Adding support for other platforms through polyfills, shims, fallbacks, etc.

Also, how specific do you plan for gitmoji to be?  For example, I often use 🍪 for commits related to coo

[2016-11-17 14:55] blakek commented on #35
@ptraceur and @carloscuesta, I think 🔖 and git tags probably better serve the purpose of project backups.

I use 💾 for storage-related commits including database connectivity, localStorage/sessionStorage, and sometimes saving things in the filesystem.  Arguably those could be ✨ since they are new features, but storage/database access seems to be a pretty common task—perhaps common enough to use th

[2016-11-17 15:01] SergiSMJ commented on #40
Hankey is happy, for once in his life will be useful 💩

😄

[2016-11-17 15:17] jonnitto opened #46 "Use :paintbrush: for css styling updates"
Hello @carloscuesta :sunglasses:!

- Emoji: 🖌
- Code: `:paintbrush:`
- Description: 🖌 could be used for commits who handle styling of the website/tool/software

[2016-11-17 15:19] jonnitto commented on #46
I didn't saw the 💄 . I close this one

[2016-11-17 15:19] #46 closed

[2016-11-17 16:11] ptraceur commented on #35
I do lots of backup commits because I often use two computers do develop, sometimes it isn't a feature or other specific commit, is just a backup so I can pull it on my home computer and keep where I left

[2016-11-17 20:37] #20 closed

[2016-11-17 22:02] carloscuesta commented on #30
Working on this 🚧

[2016-11-18 07:21] carloscuesta commented on #21
What about using 🎊 for releases?

[2016-11-18 07:23] carloscuesta commented on #45
Hey @blakek

Thanks for sending your suggestion!

I really like the idea of having a gitmoji for indicating the use of libs, polyfills, ponyfills, shims and fallbacks. In my opinion the emoji proposed it's not really descriptive. Let's find out If we can use another one like. 🦄 And see other suggestions for that!

The cookie it's probably too specific for the cheatsheet, but can be considered 😄

[2016-11-18 07:24] carloscuesta commented on #44
Hello @FredrikAugust thanks for your suggestion!

I'm working on a gitmoji-cli, that will have that feature 🎉 #30

See [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli)

[2016-11-18 08:56] SergiSMJ commented on #35
@ptraceur @blakek I do not see the point either on commits backups, when you work with git and branches you always have a backup of your code/project in the cloud, a branch backup have sense, a commit backup I don't think so

[2016-11-18 09:12] #40 closed

[2016-11-18 09:26] Spidersouris commented on #21
Shouldn't 🔖 be used for releases?

[2016-11-18 10:55] duivvv commented on #21
well, in most cases a tag indicate a release, so that would make sense

[2016-11-18 10:56] carloscuesta commented on #21
Yes @Spidersouris 🔖 now it's set as Releasing / Versioning tags

[2016-11-18 13:57] trych commented on #45
This one cannot even be rendered on my system for some reason (Mac OS X 10.8.5 / Firefox 48.0.2). All other suggested emojis so far could be rendered.

![bildschirmfoto 2016-11-18 um 14 57 21](https://cloud.githubusercontent.com/assets/9803905/20432402/5cc7b6cc-ad9f-11e6-991b-e69ba5c87bd1.png)

[2016-11-18 15:28] welcoMattic commented on #30
It's almost done on my side, directly with HTTP request to get gitmojis.json

https://github.com/welcoMattic/gitmoji-commit-hook

[2016-11-18 15:31] Spidersouris commented on #45
Do you see these ones @trych?

🍾🏹🛐🕎

They come from Unicode 8.0. Maybe Apple hasn't updated their products to this version yet.

[2016-11-18 15:37] trych commented on #45
No, I don't see those. I *do* see them in Chrome and Safari, but they don't show on FF. Maybe it is better to be safe and stay with non-Unicode 8.0-emojis only. I am sure, I am not the only person with this issue.

[2016-11-18 15:49] Spidersouris commented on #45
☔️ could maybe replace this one? As platforms would now be "protected", and so supported.

[2016-11-18 15:52] carloscuesta commented on #45
This emoji in particular it's from the V8.0 release. Thanks @trych good to know this 👍

In this link we can find all the emoji releases: http://www.unicode.org/emoji/charts/emoji-versions.html

[2016-11-18 15:58] trych commented on #45
Thanks for the chart. Just gave it a test, I can display all emojis up to and including version 6.1.
That means I *can not* display any emojis from 7.0 and above. So to stay compatible, it would be good to stay below 7.0, I guess.

[2016-11-18 17:31] viktorstrate commented on #43
I try to work on it 🚧

[2016-11-18 22:40] virzen commented on #28
The revert one is nice, but I think ⏮, ⏪ or ↩️ might be prettier and more coherent with existing ones (up-/downgrading dependencies).

As for merging icon, it's not clear at the first glance what the 🌵 means, so I would rather use 🔀.

Let me know what you think. If these are fine I will gladly submit a PR. 🙂

[2016-11-19 06:29] hiroqn commented on #30
Hi I often using angular commit style , and using this hooks i write

https://gist.github.com/hiroqn/505d27bec5afc35a52e5eab2158dbc6a

[2016-11-19 10:05] carloscuesta commented on #30
Released gitmoji-cli 🎉

`npm i -g gitmoji-cli`

![gitmoji-cli](https://cloud.githubusercontent.com/assets/7629661/20454643/11eb9e40-ae47-11e6-90db-a1ad8a87b495.gif)

[2016-11-19 10:09] #30 closed

[2016-11-19 10:10] carloscuesta commented on #44
Hey @FredrikAugust it's done!

Install `npm i -g gitmoji-cli` and run

[code]

See [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli)

<img width="860" alt="list" src="https://cloud.githubusercontent.com/assets/7629661/20454700/cfc29c1a-ae48-11e6-83c8-568e45583244.png">

[2016-11-19 10:10] #44 closed

[2016-11-20 16:05] carloscuesta commented on #28
Hey @virzen feel free to submit a oull request for the rewind and merge ones 😄

[2016-11-20 17:15] Spidersouris opened #55 "Some emojis codes are too long"
📈 and 🌐 emoji codes (respectively `:chart_with_upwards_trend:` and `:globe_with_meridians:`) extend outside the box on the website.

[Screenshot #1](https://puu.sh/soFrK/3a26ec2f00.png)
[Screenshot #2](https://puu.sh/soFsY/bda86fb8e5.png)

[2016-11-20 17:46] carloscuesta commented on #55
What browser and version are you using? This is for the `word-break: break-all;`

[2016-11-20 17:57] Spidersouris commented on #55
Tried on Edge 38.14393.0.0 and Firefox 53.0a1 and it doesn't work. However, it works on Chrome 54.0.2840.71.

By the way, I noticed that the `:heavy_minus_sign:` and `:heavy_plus_sign:` emojis were misrendered on Chrome ([Screenshot](https://puu.sh/soHYU/d60b620a22.png)), so I don't know if It's browser's fault or not, even if It's very likely).

[2016-11-20 18:16] carloscuesta commented on #55
Can you please take a look now @Spidersouris to see if the emoji codes are overflowing now?

[2016-11-20 18:23] Spidersouris commented on #55
Yeah, it works on both browsers now! Thanks :)

[2016-11-20 18:23] #55 closed

[2016-11-20 19:04] ykh opened #56 "Take a look at this repository, very similar idea is behind it"
Hi all
Take a look at [this repo](https://github.com/slashsBin/styleguide-git-commit-message), maybe some ideas be there to improve this nifty job! 😄
However I thought this repo is forked from slashsBin's repo at the first glance 😉

[2016-11-20 19:17] carloscuesta commented on #56
Hey

Not a fork see #22. Not pretending to do "something like" a style guide for the commit messages but thanks anyway! @ykh

[2016-11-20 19:17] #56 closed

[2016-11-21 11:46] #43 closed

[2016-11-22 08:34] Swizz opened #58 "Gitmoji goal and the changelog way"
Hi there!

I was asking myself a question :
Is the Gitmoji's goal to interrupt the holding of a changelog in favor of a more human readable `git log`?

Is it possible to make a version [Keep a Changelog](http://keepachangelog.com/en/0.3.0/) compliant ?

Cheers,

[2016-11-22 08:43] carloscuesta commented on #58
Hi @Swizz

Not really, the main goal of gitmoji is to create a standarization cheatsheet/guide that provides an easy way of identifying the purpose or intention of a commit with only looking at the emojis used. With out having to read necessarily the title and the message.

You should be writing changelogs too apart from creating awesome commits using a good combination of gitmojis + titles + body

[2016-11-22 08:48] Swizz commented on #58
Thank you for your answer. I will keep an eye on that

[2016-11-22 10:21] travissuban opened #59 "Use 🗽 in the first commit on a new branch"
Hello @carloscuesta :sunglasses:!

- Emoji: 🗽
- Code: `:statue_of_liberty:`
- Description: To identify the first commit on a new branch. (She lives in **New** York)

There are times when you based your work on some branch and then that branch got squashed, merged and deleted. You have no idea which commit is the first one you make and you have to identify it for some reason. What do you guys think

[2016-11-22 11:11] AlexisBRENON opened #60 "Why not use Unicode instead of gitmoji?"
Hello @carloscuesta :sunglasses:!

This project is very fun and interesting, but I would like to ask why not use Unicode emoji instead of proprietaries ones from Github?

Using ones from GitHub limit the visibility of the emoji to the GitHub interface (mainly), whereas using Unicode ones will allow anyone with an iconic font respecting the Unicode standard to see the emojis!

Well, that's just my

[2016-11-22 22:43] viktorstrate commented on #60
I think to keep it simple, githubs emojis are better. Because when making a commit, it's easier to add `:emoji` in the start of the commit message, than to insert a unicode character, but I get your point.

How would you add the unicode emoji to the commit message? - Copy / Paste? 😃

[2016-11-23 08:33] AlexisBRENON commented on #60
Hi @viktorstrate

I agree that it's far easier to use gitmojis as it's a complete mess to remember emojis codepoint and to type them.

Hopefully, plugins are here. For vim, it exists [emoji_complete](http://vimawesome.com/plugin/emoji-complete) [autocomplete_emojis](https://github.com/atom/autocomplete-emojis) for atom and co. Finally, the @carloscuesta 's [gitmoji-cli](https://github.com/carloscu

[2016-11-23 08:50] JonasDoebertin opened #61 "Use 📦 for adding/updating compiled files or packages"
Hello @carloscuesta :sunglasses:!

- Emoji: 📦
- Code: `:package:`
- Description: Updating compiled files or packages

Sometimes you need to update certain compiled files or packages included in the repo. Right now, there isn't an gitmoji that fits good enough for this.

[2016-11-23 12:53] virzen commented on #60
I am all behind this, because in basically all the other places than GitHub and Slack these emojis appear as plain text. Now that CLI tool is in place it's just an implementation detail.

[2016-11-23 12:59] carloscuesta commented on #60
Yes, with the gitmoji-cli it's just updating one parameter to use Unicode instead of the GitHub :code: emojis.

We can give it a try / test in a branch of gitmoji-cli to use unicode, but I would like to hear what people thinks about.

[2016-11-23 13:18] SergiSMJ commented on #60
I like more use the :emoji instead of the unicode, basically because this guide I think is oriented to use in Github and Bitbucket, and the guide choose the emojis that work on github and bitbucket. If this change to the unicode code it's almost like force the people to use the gitmoji-cli or emoji_complete etc... I like more the idea of people learning the code :emoji (also if you use slack you a

[2016-11-23 13:59] virzen commented on #60
Actually not even GitHub supports `:emoji:` completely.
![screen shot 2016-11-23 at 14 49 13](https://cloud.githubusercontent.com/assets/13262428/20564145/1c64fc48-b18c-11e6-81eb-d3fa1cda30da.png)

[2016-11-23 14:02] carloscuesta commented on #60
Yeah @virzen GitHub does not render the `:emojis:` on titles

[2016-11-23 14:16] carloscuesta commented on #61
It's great! @JonasDoebertin

But then what would be the difference between using: ⬆️ / 📦

[2016-11-23 14:18] carloscuesta commented on #59
Thanks for the suggestion @travissuban.

In my opinion the emoji suggested it's not very descriptive for the mentioned purpose!

[2016-11-23 14:18] #59 closed

[2016-11-23 14:18] #58 closed

[2016-11-23 14:21] viktorstrate commented on #60
I think it's a good idea to make a 'test' branch, like @carloscuesta suggested

[2016-11-23 14:23] viktorstrate commented on #61
⬆️ is for upgrading dependencies, from other libraries, where 📦 is for things like binaries, from the local project.

[2016-11-23 14:48] JonasDoebertin commented on #61
Exactly!

[2016-11-23 14:49] carloscuesta commented on #61
Cool! @viktorstrate @JonasDoebertin 😄

[2016-11-23 15:01] viktorstrate commented on #45
@trych Try updating the the newest Firefox, I think they have implemented a preinstalled emoji fonts for Firefox very recently

[2016-11-23 15:02] #61 closed

[2016-11-24 14:47] agea opened #63 "Use of 👽 when updating code due to external changes"
Hello @carloscuesta :sunglasses:!

- Emoji: :alien:
- Code: `:alien:`
- Description: When you have to change your code when external service or a dependency changes its API

[2016-11-25 19:07] carloscuesta commented on #63
Cool! Feel free to send a pull request 👍

[2016-11-26 23:49] grdryn opened #65 "Use 🀄 to indicate that some deduplication happened"
Hello @carloscuesta :sunglasses:!

- Emoji: :mahjong:
- Code: `:mahjong:`
- Description: Removing duplications.

This maybe isn't necessary, since there are already things like :fire: for removing code or files and :hammer: for refactoring. 🤔

OTOH, emoji _enable_ expressiveness rather than limit it! :smile:

[2016-11-26 23:56] grdryn commented on #65
If this sounds good, I've open a PR at #66 to add it.

[2016-11-28 18:47] tamedro opened #68 "Use 🚚 to indicate moving or renaming files"
Hello @carloscuesta :sunglasses:!

- Emoji: :truck:
- Code: `:truck:`
- Description: Moving or renaming files in the project

Maybe falls under :hammer: but I sometimes make singular commits that only involve moving or renaming files and believe it could help to be more descriptive in these situations.

[2016-11-28 21:07] viktorstrate opened #69 "Text wrapping for descriptions"
For some descriptions, the words are broken up, and harder to read.
Like in the example below, the word `files`, are broken up to `fi les` instead.

![wrench](https://cloud.githubusercontent.com/assets/4233458/20685899/a1bf4cbc-b5b6-11e6-80ba-63a2f14c9584.PNG)

[2016-11-28 21:47] Spidersouris commented on #68
Good idea 👍

[2016-11-28 21:50] carloscuesta commented on #68
Cool! Send a pull request @tamedro

[2016-11-29 10:30] #63 closed

[2016-11-29 19:14] #69 closed

[2016-11-30 07:43] kyawkyawsoezhu opened #70 "gitmoji for database affairs"
Hello @carloscuesta :sunglasses:!
I want Emoji for database things

- Emoji: 🗃
I'm not sure this emoji is suite with database things, feel free to replace.
- Code: `:database:`
- Description: I want to use this emoji when i create database migration file about add new table, new columns, rename, delete or change attribute

[2016-11-30 19:40] octaviogb opened #71 "Use 🙈 for jerry-rig"
Hello @carloscuesta 😎!

Emoji: :see_no_evil:
Code: `:see_no_evil:`
Description: When you've done something to fix something, with some creative workaround

[2016-11-30 21:13] #35 closed

[2016-11-30 21:55] Spidersouris commented on #71
meh, i see no point in this

[2016-11-30 22:32] virzen commented on #28
Took me a while, but here they are: 🔀 - https://github.com/carloscuesta/gitmoji/pull/72, ⏪ - https://github.com/carloscuesta/gitmoji/pull/73!

[2016-11-30 22:53] virzen opened #74 "Missing jsonlint dependency"
Hello @carloscuesta :sunglasses:!

When I cloned this repository and ran `yarn && yarn test` I encountered following problem:
[code]

Looking for a solution, I glanced upon the project dependencies in `package.json`, which are the following (at the time of writing):
[code]

It is fairly obvious, that `jsonlint` package is missing here.

I think it is advisable to add `jsonlint` to project dependen

[2016-12-01 08:24] #74 closed

[2016-12-01 09:44] #68 closed

[2016-12-01 11:11] carloscuesta commented on #28
Great @virzen !

[2016-12-01 11:11] #28 closed

[2016-12-01 12:13] octaviogb commented on #71
@Spidersouris it's useful when you do something really creative that can be inpiration in the future, also it can be used as an advice that your way is not a common sense pattern, despite of it works.

[2016-12-01 13:27] Pczek opened #77 "Browser Specific Emojis"
Hello @carloscuesta :sunglasses:!

When developing a WebApp we unfortunatly still have to consider multiple browser, similar to Operating Systems for desktop apps. Analog to the Operating System Emojis, I would suggest adding emojis for the most Common Browsers:

🐺 : Firefox
⏱/🦁 : Safari
📧/🐌 : Edge/Internet Explorer
🍬 : Chrome
? : Opera

I know these Emoji's might not be the ideal choice, feel fre

[2016-12-01 14:01] tomlutzenberger commented on #77
@Pczek Great input.
I'll add some additional suggestions 😀

**Firefox**
🦊 as Firefox (New in Unicode 9.0 => no markdown code yet)

**IE/Edge**
:cyclone: `:cyclone:`
:blue_book: `:blue_book:`
:large_blue_circle: `:large_blue_circle:`

**Chrome**
:gem: `:gem:`
:cd: `:cd:`

**Opera**
:o: `:o:`
:o2: `:o2`

**Vivaldi**
:small_red_triangle_down: `:small_red_triangle_down:`

[2016-12-01 14:10] carloscuesta commented on #77
Great idea! As long as we have emojis for specific platform OS I think it would be great to add browsers ones. But probably we should stick only to the most used and popular browsers (Chrome, Safari, Firefox and Edge/IE) to not have a lot related to browsers.

- Safari: ⏱
- Chrome:
- Firefox:
- Edge/IE:

<hr>

- Brave: :lion:
- Vivaldi:
- Opera:

[2016-12-01 15:08] Spidersouris commented on #77
Chrome could maybe be 🚥?

[2016-12-02 14:25] carloscuesta commented on #77
🚦 Could work for google chrome @Spidersouris

[2016-12-03 19:07] mraerino opened #78 "Breaking changes in libraries"
Hello @carloscuesta :sunglasses:!

- Emoji: :boom:
- Code: `:boom:`
- Description: For open-source libraries it is really important to highlight when a breaking change in the api of the lib happened. Via gitmoji, people could easily find commits that contain some breaking change.

In the future, I also think it should be possible to generate changelogs from a repo that uses gitmoji and this would

[2016-12-03 22:27] NeoLegends commented on #60
Also one should be aware that while not all terminals support displaying Unicode Emojis, all of them can display the long colon form.

[2016-12-04 16:47] viktorstrate commented on #60
@NeoLegends Thats right, but the point of gitmoji's, is to quickly see what the commit does. And a long colon form doesn't really help to identify the purpose of the commit. And most of the modern terminals support emojis, or you can install an emoji font-pack.

[2016-12-05 08:51] AlexisBRENON commented on #60
@NeoLegends If your terminal doesn't support Unicode you would change it ! If it's just that you don't have a font to display emoji as @viktorstrate says, you can easily install one.
The main drawback that I see of using emojis instead of long colon form, is that they don't interact very well with monospaced fonts... You have to add some spaces after them to be sure that the emoji doesn't overlap

[2016-12-05 09:36] epilande opened #79 "Use 📄 for adding/updating license"
Hello @carloscuesta :sunglasses:!

- Emoji: :page_facing_up:
- Code: `:page_facing_up:`
- Description: Adding or updating license

[2016-12-05 09:53] carloscuesta commented on #79
Great idea @epilande

Feel free to send a pull request 😎 !

[2016-12-05 12:17] preeteshjain commented on #79
This can be used to for those `Update <name>.md` commit messages as well!

[2016-12-05 14:33] octaviogb opened #81 "Use 💬 for text changes"
Hello @carloscuesta :sunglasses:!

- Emoji: :speech_balloon:
- Code: `:speech_balloon:`
- Description: Using for text, dialogs, messages and textual content related changes

[2016-12-05 17:53] #79 closed

[2016-12-07 17:34] felipemfp commented on #71
I agree with @Spidersouris

And we already have :hankey: (Writing bad code that needs to be improved).

[2016-12-07 20:59] #71 closed

[2016-12-09 16:00] carloscuesta commented on #78
It's a good idea @mraerino but it's not similar to https://github.com/carloscuesta/gitmoji/issues/63 ?

[2016-12-12 08:46] mraerino commented on #78
@carloscuesta no, i mean it the other way around. If you want to highlight to other people, that changes in the api of your own library happened

[2016-12-16 18:09] carloscuesta commented on #78
Ah ok! Feel free to send a pull request @mraerino

[2016-12-18 11:02] #21 closed

[2017-01-03 18:22] johannlaqua opened #85 "gitmoji when adding new assets"
Hello @carloscuesta :sunglasses:!

- Emoji: 🖼
- Code: `:frame_with_picture:`
- Description: when you are adding new assets

[2017-01-04 09:57] carloscuesta commented on #85
Hey @johannlaqua that's a cool idea!

Feel free to send a pull request 🎉

[2017-01-04 10:36] johannlaqua commented on #85
@carloscuesta do you think that `:frame_with_picture:` is a good emoji choice ?

[2017-01-04 12:14] carloscuesta commented on #85
For me it works, would be great if we found something more general, but it's not bad @johannlaqua let's see if someone can share some thoughts!

[2017-01-06 03:29] dorayx commented on #85
I use ``:mount_fuji:`` for images because 🗻  is a great view 😏

[2017-01-06 09:11] johannlaqua commented on #85
@dorayx that's a better emoji, and grate mountain 😎

[2017-01-06 23:04] carloscuesta commented on #85
Not all the assets are strictly images 🤔

[2017-01-11 13:44] Pczek opened #87 "🙊 Made the Code less verbose"
Hello @carloscuesta :sunglasses:!

- Emoji: 🙊
- Code: `:speak_no_evil:`
- Description: Made the code less verbose /  Removed log/debug messages

[2017-01-11 15:45] agnelnieves opened #88 "📱Responsive Emoji"
Hello @carloscuesta :sunglasses:!

- Emoji: :iphone:
- Code: `:iphone:`
- Description: Responsive design tweaks

Sometimes i need to add responsiveness on a commit and I cant find a mobile device emoji to describe this feature. I was thinking on adding this feature.

[2017-01-11 15:51] agnelnieves commented on #85
I like the  🖼 Emoji! Great idea!

[2017-01-11 15:55] Spidersouris commented on #88
It has already been suggested, but it has been refused because this emoji is a Unicode 6.0 emoji, and, as such, isn't compatible on some computers.

[2017-01-11 17:56] sgraewe commented on #85
Maybe use the bentobox 🍱 ?
Because it is separated in different parts, like pictures, stylesheets etc

[2017-01-11 18:48] carloscuesta commented on #85
I like the bentobox one, what about the support?

[2017-01-11 19:01] sgraewe commented on #85
Don't know :/
How can i check it?

Its Emoji v4.0

[2017-01-11 19:37] johannlaqua commented on #85
Bentobox emoji, seems legit

Le mer. 11 janv. 2017 20:02, Stefan Gräwe <notifications@github.com> a
écrit :

Don't know :/
How can i check it?

Its Emoji v4.0

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/carloscuesta/gitmoji/issues/85#issuecomment-271962007>,
or mute the thread
<https://github.com/notifications/unsubscrib

[2017-01-11 19:40] sgraewe commented on #85
Alright.
Do you wanne create a pull request or should i?

[2017-01-11 19:46] johannlaqua commented on #85
Yes you can

Le mer. 11 janv. 2017 20:40, Stefan Gräwe <notifications@github.com> a
écrit :

[2017-01-14 10:54] #85 closed

[2017-01-20 22:35] johannlaqua opened #92 "⛳️ Quality, technical debt gitmoji"
Hello @carloscuesta :sunglasses:!

- Emoji: ⛳️
- Code: `:pushpin:`
- Description: i was on my Atom app and i was wondering which gitmoji i can used to close sonarqube issues, and grow quality code (less duplication, less technical debt). So, a new gitmoji for quality commit ! 👀

Feel free to suggest better emoji 😄

[2017-01-21 10:41] #88 closed

[2017-01-25 15:11] jlandure opened #93 "Use 👌 for code review changes"
Hello @carloscuesta :sunglasses:!

- Emoji: 👌
- Code: `:ok_hand:`
- Description: code review changes

When someone requests changes in a code review, use this emoji to commit the updated changes

[2017-01-30 12:44] avoelkl opened #94 "Use :mortar_board: for code quality improvements"
Hello @carloscuesta :sunglasses:!

I'd like to suggest a new emoji:

- Emoji: :mortar_board:
- Code: `:mortar_board:`
- Description: Improve code quality

The issue is:
None of the current emojis describes the change i want to see, where functionality was not changed (=remained the same) but the quality of the code was improved.

Example: Removed a hardcoded string from the code and put it into an

[2017-01-30 14:10] WaKeMaTTa commented on #94
Is called refactor :hammer:

[2017-01-30 14:10] aschrammel opened #95 "Use :pencil2: for content changes"
Hello @carloscuesta :sunglasses:!

- Emoji: :pencil2:
- Code: `:pencil2:`
- Description: Change content of existing files

Issue:
Non of the existent emojis offers the possibility to show that only content of existent files has changed.

[2017-01-30 14:11] avoelkl commented on #94
Saw that @WaKeMaTTa but **Heavy** refactoring seems not to be appropriate in this case.

[2017-01-30 16:52] WaKeMaTTa commented on #95
But currently :pencil2: is used for *Fixing typos.*

[2017-01-30 16:55] WaKeMaTTa commented on #95
We can popose to change the empji of *Fixing typos* for this one: :nut_and_bolt:

And use :pencil2: for your propose.

cc/ @carloscuesta

[2017-01-30 16:59] WaKeMaTTa commented on #94
@avoelkl I see what do you mean. What about using this emoji: 💯 ? Because a refactor is always a good thing.

[2017-01-30 19:03] avoelkl commented on #94
Hm, do you think 100 has the right meaning?
https://www.quora.com/What-does-the-100-emoji-generally-mean

Before I posted this issue here I also thought about
📚  because you'll need to read and learn a bit to be able to do refactoring
💡  would be more for ideas/problem solving
⭐️  because, why not a star?! :)

[2017-01-30 19:07] carloscuesta commented on #93
Hey @jlandure, looks good to me!

Feel free to send a pull request 👍

[2017-01-30 19:08] carloscuesta commented on #94
Hey! @avoelkl thanks for sending a gitmoji,

In my opinion this is too similar to the 🔨 icon, also similar to #92

[2017-01-30 19:09] carloscuesta commented on #60
Finally after testing, I think it's better to use the `:emoji:` format in favour of the unicode one. Taking in account that not all the systems support the unicode gitmoji, I would prefer to stick up with this method. I'll consider this issue in the life of the project, but for now i'm closing this 👍

[2017-01-30 19:09] #60 closed

[2017-01-30 19:10] #45 closed

[2017-01-30 19:10] #65 closed

[2017-01-30 19:15] avoelkl commented on #94
I am all for 🔨  if we can rename it from "heavy refactoring" to just "refactoring". Or am I too picky with the title?
Who does HEAVY refactoring every day... ;)

[2017-01-30 19:20] carloscuesta commented on #95
Really similar to #81

[2017-01-30 19:25] carloscuesta commented on #94
Looks good changing "heavy refactoring" to "Refactoring code" then 👍 @avoelkl

[2017-01-30 19:26] #94 closed

[2017-01-30 19:31] #78 closed

[2017-01-31 07:19] aschrammel commented on #95
@WaKeMaTTa sry - I've overlooked the usage for _Fixing typos_ - I think changing an already existing emoji could lead to confusion - therefore I'll follow the proposal in #81.

[2017-01-31 07:19] #95 closed

[2017-02-05 13:52] NeoLegends opened #97 "😎 for ARIA or accessibility-related things"
Hello @carloscuesta :sunglasses:!

- Emoji: 😎
- Code: `:sunglasses:`
- Description: HTML ARIA attributes are the base of accessbility in the web. They are used by screen-readers and such for building the accessiblity tree that lives alongside the DOM. Accessibility is not limited to the web, however, there exist technologies and/or guidelines in many other platforms such as [Qt](http://doc.qt.io/q

[2017-02-05 16:15] WaKeMaTTa commented on #77
These are the ones that I like the most:

**Chrome**
???

**Edge/IE**
:cyclone: (code `:cyclone:`)

**Firefox**
:fox_face: (code `:fox_face:`)

**Safari**
:stopwatch: (code `:stopwatch:`)

---

PS: popular browsers (Chrome, Safari, Firefox and Edge/IE) :ok_hand:

[2017-02-05 16:20] WaKeMaTTa commented on #70
The code is `:card_file_box:`

[2017-02-06 08:25] WaKeMaTTa opened #98 "🐒 patch"
Hello @carloscuesta :sunglasses:!

- Emoji: :monkey:
- Code: `:monkey:`
- Description: Making a monkey patch.

When you make a [monkey patch](https://en.wikipedia.org/wiki/Monkey_patch#Applications) some npm package, ruby gem, your code, ...

[2017-02-07 15:02] garymazzeo opened #99 "Working with responsive/mobile code"
Hello @carloscuesta :sunglasses:!

- Emoji: 📱
- Code: `:iphone:`
- Description: Working with responsive/mobile code

[2017-02-07 15:27] WaKeMaTTa opened #100 "🚀 and 🔖 are the same ? (:rocket: / :bookmark:)"
Hello :sunglasses:

I want to know which is the difference between :rocket: (*Deploying stuff.*) and :bookmark: (*Releasing / Version tags*).

[2017-02-07 15:55] lholznagel commented on #100
Well I would say deploying stuff is when you deploy a project onto a server and releasing taging is when you build a github release / tag

[2017-02-07 15:57] lholznagel commented on #99
#88

[2017-02-07 16:49] carloscuesta commented on #99
#88

[2017-02-07 16:49] #99 closed

[2017-02-07 17:22] carloscuesta commented on #100
They're not the same @wakematta

[2017-02-07 17:22] #100 closed

[2017-02-08 15:38] garymazzeo commented on #99
Thank you for the responses, @carloscuesta and @lholznagel.

Follow-up question: What versions of Unicode emoji are you supporting? I'm not seeing anything in the [CONTRIBUTING.md](https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md) file with this information. Thanks!

[2017-02-09 02:04] Deraw- opened #101 "Implement Service Workers"
Hello @carloscuesta :sunglasses:!

It would be interesting that Gitmoji even works offline, using Services Workers, what do you think ?

[2017-02-09 13:06] thibmaek opened #102 "Dash cheatsheet"
Hello @carloscuesta :sunglasses:!

Just wanted to let you know I've made this available as a Dash cheatsheet for a while now.
https://github.com/Kapeli/cheatsheets/blob/master/cheatsheets/Gitmoji.rb

Trying to keep it regularly updated with changes on https://gitmoji.carloscuesta.me/

[2017-02-09 17:28] carloscuesta commented on #101
Hello @Deraw-

We have the gitmoji-cli that enables offline support, but could be a great feature to implement service workers at the website.

[2017-02-09 17:28] #93 closed

[2017-02-09 17:31] carloscuesta commented on #102
I know @thibmaek

Thanks for that work! 😊

[2017-02-09 21:18] #102 closed

[2017-02-10 14:44] Deraw- commented on #101
Oh, I hadn't thought of gitmoji-cli! But effectively, implementing Service Workers would improve performance and this would allow to have both gitmoji-cli and the website when offline!

(I'm going to modify the title to be more accurate)

[2017-02-11 10:59] NeoLegends commented on #87
I like this! I've actually used the 🙊 in this way before this suggestion!

[2017-02-13 22:08] danieldafoe commented on #97
I really wanted to like this one, but I think that a more universal symbol for a11y may be more appropriate.

Not only is a11y not just for the web (as you stated), but there are many types of disabilities affecting people who use the web, not just blindness. I was searching to try and find one that was more universal, but haven't found anything good yet.

[2017-02-14 12:45] WaKeMaTTa opened #103 "🔁 Convert file"
Hello @carloscuesta :sunglasses:!

- Emoji: :repeat:
- Code: `:repeat:`
- Description: Convert file
- Situation: When you convert 1 ore more files from extension A to extension B.
- Example:

[2017-02-14 16:13] WaKeMaTTa commented on #103
I think is better to use `:truck:` :truck:  because you are moving (renaming) files.

I'm right ?

[2017-02-16 12:38] #103 closed

[2017-02-16 21:52] NeoLegends commented on #97
Emojis are representations of things, such as blindness can be seen as a representation of disabilities in general. Of course, the sunglasses emoji does not represent all kinds of disabilities there are. But neither does the :bug: emoji represent all kinds of issues with some code. The inportant thing IMO is that the sunglasses emoji can be seen as a symbol for all kinds of disabilities.

[2017-02-16 21:54] NeoLegends commented on #92
IMO removing technical debt does not need its own emoji. :hammer: represents it just fine IMO.

[2017-02-19 16:08] carloscuesta commented on #92
Hey @johannlaqua as @NeoLegends says, this is covered by the refactor one 🔨 👍

[2017-02-19 16:08] #92 closed

[2017-02-21 07:53] viktorstrate opened #104 "Emojis and background, color merges."
Some of the icons blend into the background. I use [Emoji One Font](https://github.com/eosrei/emojione-color-font) on Ubuntu 16.10. 😃

I suggest darkening all of the background colors? 😉 👍 - Even though it looks pretty cool

![Screenshots](https://cloud.githubusercontent.com/assets/4233458/23155395/b5e567c8-f812-11e6-991c-8e45a8f61e27.png)

[2017-02-21 14:08] thomaslindstrom opened #105 "💡 When adding TODO, NOTE and other “idea” comments"
Hello @carloscuesta :sunglasses:!

- **Emoji**: :bulb:
- **Code**: `:bulb:`
- **Description**: I often find myself committing new comments to my code, when reading through it, that is simply an `Add TODO` or `Add NOTE`. Lately, I have started prefixing these messages with :bulb:.

## Example commit
:bulb: Add TODO

**file.js**
[code]

[2017-02-21 14:55] WaKeMaTTa commented on #105
related to https://github.com/carloscuesta/gitmoji/issues/81

[2017-02-21 15:32] danieldafoe commented on #97
I understand your thought. We aren't going to be able to cover all bases with a single emoji. That much is true. What do you think about the ♿️ emoji then? Would it not be more appropriate if you want it to be representative of all kinds of disabilities? This is something that is seen in day-to-day life to signify accessible access.

However, I don't particularly like how that wheelchair emoji *lo

[2017-02-21 17:09] WaKeMaTTa commented on #97
My opinon is :art: can be used for this subject.

[2017-02-21 17:26] NeoLegends commented on #97
@WaKeMaTTa adding aria attributes definetely isn't something that improves the structure / format of the code. :art: refers to making code align with the style guidelines, and aria attributes aren't part of that.

[2017-02-21 17:27] NeoLegends commented on #97
@danieldafoe Didn't know the ♿️ emoji existed! That certainly is a better one, even though its kinda clumsy.

[2017-02-21 18:27] carloscuesta commented on #105
Not the same for me @WaKeMaTTa. #81 Is related with content and text changes, this goes for leaving comments or documenting source code.

I like the idea of having a Gitmoji for that, but I would set a more general purpose (Eg: Documenting source code).

[2017-02-21 19:59] thomaslindstrom commented on #105
Sure, @carloscuesta, that works too!

[2017-02-22 11:43] kipters commented on #104
I noticed the same thing yesterday installing Emoji One on Ubuntu 16.04 and I was going to open the same issue today.

Adding a stroke around the emojis may also resolve the issue?

[2017-02-22 11:46] kipters commented on #77
I suggest using different emojis for IE and Edge, they are different browsers and the difference is only going to increase since the EdgeHTML engine used in Edge will be improved while IE/Trident development has been halted.

[2017-02-23 20:39] therebelrobot opened #106 "Website down"
Hello @carloscuesta :sunglasses:!

Looks like [your website](gitmoji.carloscuesta.me) is down:

http://downforeveryoneorjustme.com/gitmoji.carloscuesta.me/

![](https://i.imgur.com/TvsTDrN.png)

[2017-02-23 20:54] carloscuesta commented on #106
Thanks for letting me know, seems that there have been an issue with Cloudflare. Trying to bring the website up again! 👍 @therebelrobot

[2017-02-23 21:00] carloscuesta commented on #106
Website is working @ http://gitmoji.carloscuesta.me/ (https version disabled in the meantime)

[2017-02-23 21:15] carloscuesta commented on #104
Will take a look into this!

Thanks @viktorstrate

[2017-02-23 21:20] #106 closed

[2017-02-28 14:12] danieldafoe commented on #97
@NeoLegends I agree, quite clumsy. Not sure why whomever decided on this symbol didn't just use the typical person in wheelchair instead of one where the person looks like they're in a wheelchair race.

[2017-03-01 13:58] danieldafoe commented on #87
There's also 🔇, which is essentially a mute. I do agree that the speak no evil monkey is more playful, though.

[2017-03-01 21:48] Meadowcottage opened #107 "Menubar client"
Hello @carloscuesta :sunglasses:!

Made a small electron menubar app to give quick clipboard access to gitmoji.
Wanted to get your opinion on its release and if you have any comments on it?
[github.com/meadowcottage/gitmoji](https://github.com/meadowcottage/gitmoji) :stuck_out_tongue_winking_eye:

![alt text](https://raw.githubusercontent.com/Meadowcottage/gitmoji/master/build/Screenshot.png)

[2017-03-02 18:45] carloscuesta commented on #97
The ♿️ looks good to me!

Feel free to send a PR! @NeoLegends

[2017-03-02 18:52] carloscuesta commented on #107
Hey @Meadowcottage!

Overall I think it's a great idea, glad to see that people like to build things related with Gitmoji.

In my opinion, the app could be improved a lot, I mean, now it's something like a dump of the website and doesn't add much value as an app I guess. You have a lot of things to do that can improve the application.

For example, you can update the UI cards to take advantage of

[2017-03-02 18:52] #107 closed

[2017-03-02 19:35] Meadowcottage commented on #107
Lots of changes still need to be made. EG: Having the window close when you click on a card. Or going to switch the current pre-built list to one generated by the [gitmoji json](https://github.com/carloscuesta/gitmoji/blob/master/src/data/gitmojis.json). If offline though, generate from a fallback json list.
In regards to the UI changes. I will of course make changes as time goes on. But if you wa

[2017-03-06 14:31] WaKeMaTTa commented on #70
*dump*

[2017-03-07 08:50] joaomoreno opened #108 "Provide single page cheatsheet"
Hello @carloscuesta :sunglasses:!

It would be awesome to just hit ⌘P and get a single page cheatsheet!

[2017-03-07 18:06] carloscuesta commented on #108
Hey @joaomoreno

This couls be something interesting to do with something like [Gutenberg](https://github.com/BafS/Gutenberg).

Currently we have an implementation of this but locally as a project task. See https://github.com/carloscuesta/gitmoji/pull/54

Feel free to send a pull request!

[2017-03-07 18:44] #97 closed

[2017-03-07 18:45] carloscuesta commented on #105
Feel free to send a PR @thomaslindstrom 👍

[2017-03-07 18:48] NeoLegends commented on #97
Ahh you beat me!

[2017-03-12 10:28] #105 closed

[2017-03-14 08:16] math2001 commented on #108
I'm currently making a little app built with electron which is just a cheat sheet for theses conventions: [math2001/gitmoji-cheat-sheet](https://github.com/math2001/gitmoji-cheat-sheet). It might interest you...

PS: it there is any credit that you want me to make more obvious/change, just let me know :slightly_smiling_face:

[2017-03-14 16:31] Meadowcottage opened #110 "Added yarn package manager emoji 🐱"
Hello @carloscuesta :sunglasses:!

- Emoji: :cat:
- Code: `:cat:`
- Description: Adding or initialising yarn package manager

[2017-03-14 17:18] carloscuesta commented on #110
Hey @Meadowcottage thanks for your suggestion

In my opinion, I think this is too specific for a gitmoji.

This could be covered with 🔧

[2017-03-14 17:18] #110 closed

[2017-03-14 17:31] carloscuesta commented on #108
Hey @math2001 thanks for the effort!

Actually there's something similar to this https://github.com/carloscuesta/gitmoji/issues/107

Don't know if you would like to merge projects and collaborate

[2017-03-15 01:02] math2001 commented on #107
Hello! Seems like we had the exact same idea... You just had it about 10 days before me I think 😄

I've built it with electron directly, though. There's already a search ❇️ included (fuzzy). There's a setting system (to save the position, the size, keep the window on the top, etc).

You can also copy the alias just by clicking (or pressing <kbd>enter</kbd> when searching to copy the selected item)

[2017-03-30 23:08] cassiocardoso opened #111 "New emoji suggestions"
Hello @carloscuesta :sunglasses:!
Awesome work here. 👊

I have some suggestions based on what we use at work.

- Emoji: ♻️
- Code: `:recycle:`
- Description: When refactoring code

---

- Emoji: ☔️
- Code: `:umbrella:`
- Description: When improving test coverage

---

- Emoji: 🏧
- Code: `:atm:`
- Description: When adding automation tasks

If you approve I can submit a PR with the proposed changes!

[2017-04-02 14:21] ooJerryLeeoo opened #112 "[Question] What emoji should I use when I install some thing like atom package."
Hello @carloscuesta :sunglasses:!

Recently I'm considering to use gitmoji for my git commit message, but I have a question of what emoji should I use when I commit some message like `Install ... package`, should I use ✨  or 📦  or something else? Thanks.

[2017-04-02 14:24] WaKeMaTTa commented on #112
This one:

[2017-04-02 14:40] ooJerryLeeoo commented on #112
@WaKeMaTTa Thank you 😘

[2017-04-02 14:41] #112 closed

[2017-04-05 08:09] ooJerryLeeoo opened #113 "Use 🎹 for adding or updating keymap."
Hello @carloscuesta :sunglasses:!

- Emoji: :musical_keyboard:
- Code: `:musical_keyboard:`
- Description: Updating keyboard binding

[2017-04-05 12:45] ooJerryLeeoo commented on #111
+1

[2017-04-05 13:52] WaKeMaTTa commented on #111
@ooJerryLeeoo please don't spam, if you want to give +1, use :
![image](https://cloud.githubusercontent.com/assets/3450257/24708652/c8eef862-1a17-11e7-969c-f1654a75f862.png)

Thanks.

[2017-04-05 13:53] ooJerryLeeoo commented on #111
@WaKeMaTTa Got it.

[2017-04-05 14:09] WaKeMaTTa commented on #111
For **refactoring** we have :hammer: (your suggestion :recycle: its cool too :+1:)

[2017-04-06 06:23] motss opened #114 "Error occurred unexpectedly when committing with bookmark emoji"
Hello @carloscuesta :sunglasses:!

Unable to commit successfully with :bookmark:. Please see the screenshot below for details:

<img width="361" alt="screen shot 2017-04-06 at 2 21 48 pm" src="https://cloud.githubusercontent.com/assets/10607759/24740582/73b8353a-1ad4-11e7-8a4a-224b623d9265.png">

[2017-04-06 06:24] ooJerryLeeoo commented on #114
@motss Have you add any file on it ?

[2017-04-06 06:36] motss commented on #114
@ooJerryLeeoo I basically change the version of `package.json`. Just one line before committing for a new release. That's it.

Like so,

[code]

[2017-04-06 06:41] ooJerryLeeoo commented on #114
Yeah, I mean have you add `package.json` ??

[2017-04-06 06:44] ooJerryLeeoo commented on #114
Oh, I know the problem, just type yes on the `Signed commit` section.
Is this fix the problem for you?

[2017-04-06 06:45] ooJerryLeeoo commented on #114
Never mind, that's not the solution...

[2017-04-06 07:07] carloscuesta commented on #114
Will take a look into it @motss

[2017-04-06 07:07] #114 closed

[2017-04-06 07:33] motss commented on #114
@ooJerryLeeoo The `package.json` is already there. I just made small change to it.

[2017-04-06 16:41] carloscuesta commented on #111
I really like the idea of replacing :recycle: for :hammer: as it makes more sense to the refactor concept than the actual one.

:umbrella: and :atm: feels too specific for me @cassiocardoso

[2017-04-06 16:42] carloscuesta commented on #113
Hey @ooJerryLeeoo this is too specific for a gitmoji thanks for your suggestion!

[2017-04-06 16:42] #113 closed

[2017-04-06 20:24] cassiocardoso commented on #111
Personally I prefer to use 🔨  to some tooling/config updates.

But that's up to you guys.

[2017-04-06 20:38] carloscuesta commented on #111
The point is we shouldn't be changing emojis as long as they have been set some time ago, because some repositories would have a confusing history 🤔

[2017-04-06 23:10] cassiocardoso commented on #111
Makes sense.

[2017-04-12 12:59] cynektix opened #115 "🍷 This code has been written drunkenly"
Hello @carloscuesta :sunglasses:!

- Emoji: 🍷
- Code: `:wine_glass:`
- Description: This code has been written drunkenly (Could be combined with 💩 )

[2017-04-12 13:05] brainlessdeveloper commented on #115
Academia supports this: http://brookstonbeerbulletin.com/the-ballmer-peak/

[2017-04-12 22:16] carloscuesta commented on #115
Hahahahaha that's a great one! @cynektix

🍺 or 🍷 ?

[2017-04-13 07:17] thierrymichel commented on #115
As a Belgian, I made my choice ...
🍺 cheers! 😛

[2017-04-13 07:33] cynektix commented on #115
@carloscuesta I think 🍺 should be fine, too :) If it comes to a vote, I guess 🍺 will win over 🍷 :D

[2017-04-13 07:37] thierrymichel commented on #115
I was kidding (may be not). Both are fine.
Anyway, @cynektix excellent idea!

[2017-04-13 15:08] #115 closed

[2017-04-17 10:09] #111 closed

[2017-04-17 10:18] #81 closed

[2017-04-17 19:41] WaKeMaTTa commented on #70
@carloscuesta Let me ask you ¿Why you don't give a :ok_hand: to this suggestion? ¿There is a reason?

Thanks for responding, in advance.

[2017-04-17 19:44] WaKeMaTTa commented on #77
@kipters what about this emoji for IE 🖕

jajajajajaja

[2017-04-17 20:06] carloscuesta commented on #70
It's okay for me @wakematta sometimes I forgot suggestions :sweat_smile: don't know If there is a more descriptive emoji for this purpose but looks good

[2017-05-03 17:46] styfle opened #118 "Question ❓"
Hello @carloscuesta :sunglasses:!

This is really cool, but I'm wonder why the shortname (colon syntax) is used instead of the actual unicode?

It seems like you could copy/paste the actual emoji to clipboard and that would work everywhere including `git log` from the command line.

Is there a reason to use the shortname instead of the [unicode](http://www.iemoji.com/emoji-cheat-sheet/all)?

[2017-05-03 17:49] carloscuesta commented on #118
Hey @styfle answered here https://github.com/carloscuesta/gitmoji/issues/60#issuecomment-276158959

[2017-05-03 17:49] #118 closed

[2017-05-11 12:35] roipoussiere commented on #88
Is it possible to add this icon anyway, and add a warning about the Unicode 6.0 version?

[2017-05-16 13:57] cynektix commented on #98
As you shouldn't do monkey patching too often, maybe this one is more appropriate: 🙈

:D

[2017-05-18 16:26] carhartl commented on #108
I was just looking for this. +1000

[2017-05-24 19:06] GlitchMasta47 opened #120 "'npm start' hangs"
|                 |                                                                                                                                                                                    |
|-----------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2017-05-24 19:11] GlitchMasta47 commented on #120
I must've been drunk without being drunk, I'm confused why something was there and then it disappeared...

[2017-05-24 19:11] #120 closed

[2017-05-24 19:53] carloscuesta commented on #120
🍻

[2017-05-30 10:26] marcobiraghi opened #121 "Feature patch in production"
Hi @carloscuesta!

- Emoji: :angry:
- Code: `:angry:`
- Description: forced feature (production) patch due to customer incomplete specs

[2017-05-30 11:25] WaKeMaTTa commented on #121
Description is to specific, in my opinion.

[2017-06-05 09:09] kyawkyawsoezhu commented on #70
why this emoji doesn't appear on the website. I mean on https://gitmoji.carloscuesta.me/

[2017-06-08 15:41] marcobiraghi commented on #121
Yes, It's quite specific but I think there isn't nothing to describe this. Sometimes I have to release a patch because customer forgot something. This isn't a feature or a bug... it's something like an ambulance-enhancement.

[2017-06-08 15:50] WaKeMaTTa commented on #121
What about using this one:
- Emoji: :alien:
- Code: `:alien:`
- Description: *Updating code due to external API changes.*

[2017-06-08 15:52] WaKeMaTTa commented on #70
@carloscuesta we can propose a PR for this ?

[2017-06-10 04:41] amoose136 commented on #77
Edge: :hocho:
IE: :snail: because it's slow and vulnerable to everything or :skull: because it's been dead for a long time.

[2017-06-12 00:30] amoose136 opened #123 "Proposal for branches or right after forking: 🔱"
- Emoji: 🔱
- Code: `:trident:`
- Description: For branch specific changes or for first commit after forking.

[2017-06-12 20:14] carloscuesta commented on #123
Hey @amoose136, don't you think this could be covered with :tada: at the end, the first commit after forking is the initial commit for your fork

What are branch specific changes?

[2017-06-13 09:08] WaKeMaTTa commented on #123
And you have :memo: if your first commit is an update for *CHANGELOG.md* o similar.

[2017-06-14 11:22] KevinHivert opened #124 "commit message code injection"
Hello @carloscuesta :sunglasses:!

__Step to reproduce__

[code]

Or whatever bash command line you insert between \`. Other example :

[code]

__What is expected__

A commit message with the selected emoji and text above

__Actual Behavior__

The \` are removed from the commit message and the command is executed with the output printed inside the commit message.

[2017-06-14 13:48] WaKeMaTTa commented on #124
This issue needs to be placed in https://github.com/carloscuesta/gitmoji-cli

[2017-06-14 15:28] carloscuesta commented on #124
Yep :point_up: closing this, open it up @KevinHivert at the cli repo

Thanks!

[2017-06-14 15:28] #124 closed

[2017-06-16 12:25] frankkienl opened #125 "Emoji for fixes on Mobile platforms :green_apple: iOS and :robot: Android"
Hello @carloscuesta :sunglasses:!

I have a suggestion for using emoji's for fixing the mobile-platforms ;-)

- Emoji: 🤖
- Code: `:robot:`
- Description: fixing something on Android

- Emoji: 🍏
- Code: `:green_apple:`
- Description: fixing something on iOS

[2017-06-16 12:36] frankkienl commented on #125
created pull-request

[2017-06-16 12:36] #125 closed

[2017-06-18 00:57] Gyran opened #127 "Move gitmoji data to seprate package to enable other packages to use it without being online"
Hello @carloscuesta :sunglasses:!

I just shamelessly stole the gitmoji json data list and published it as a separate [npm package](https://www.npmjs.com/package/gitmoji-data) as part of making [gitmoji-commit-hook work offline](https://github.com/tjoskar/gitmoji-commit-hook/pull/14).

I think it is a good thing as well for other packages that want to have the gitmoji data to have a small package

[2017-06-18 03:03] amoose136 commented on #123
I wouldn't personally use 🎉 for anything except the first commit of a new repository. An example branch specific change would be porting over a feature from another branch without a complete merge. If separate users are developing branches, it could be a useful single character shorthand for recognizing that the recently committed work may have been done by someone else.

Example use cases:
"🔱bani

[2017-06-18 08:03] carloscuesta commented on #127
Seems like a good idea @Gyran! 👍

[2017-06-18 08:05] carloscuesta commented on #123
But those "branch improvements" should be covered with the actual gitmojis. Then with 🔱 you can always use this gitmoji when working on a branch and that's not the purpose 🤔

[2017-06-18 08:06] carloscuesta commented on #121
I would stick with :sparkles: for adding new features @marcobiraghi

[2017-06-18 08:06] #121 closed

[2017-06-18 08:19] #70 closed

[2017-06-18 15:01] #123 closed

[2017-06-18 15:01] #127 closed

[2017-06-22 16:20] Deraw- opened #128 "🔇 Removing & 🔊 Adding logs"
Hello @carloscuesta :sunglasses:!

- Emoji: :mute:
- Code: `:mute:`
- Description: Removing logs

- Emoji: :loud_sound:
- Code: `:loud_sound:`
- Description: Adding logs

(sorry for the name of the branch which is corresponding only to the first emoji)

[2017-06-23 08:43] jeanfredrik opened #130 "Emoji for adding or updating scripts"
Hello @carloscuesta :sunglasses:!

- Emoji: :musical_score:
- Code: `:musical_score:`
- Description: Adding or updating scripts

I would like an emoji for adding and updating scripts, eg. bash scripts or npm scripts in package.json. I’m not sure what emoji would be appropriate. :musical_score: was the best I could come up with.

Maybe the use case could be expanded to include other dev-related com

[2017-07-01 08:30] #104 closed

[2017-07-09 16:02] kipters opened #133 "Native menubar client"
Hello @carloscuesta :sunglasses:!

I've built yet another menubar client, but this time is 100% native instead of JavaScript, and its list is generated from `gitmojis.json` (at compile time).

(I'm also building a Windows one)

https://github.com/kipters/gitmoji-menu

[2017-07-14 10:29] pankajladhar opened #134 "Emoji is not showing in iTerm"
Hello @carloscuesta :sunglasses:!

I have installed gitmoji-cli in my mac system.
After making  commit with emoji , if I push to github emojis are getting shown  properly.
But when I see git log it not showing emoji icon. its shows text.
ex : ":hammer:"

[2017-07-18 17:35] fabienjuif opened #135 "Use 👥 to add a contributor to your project"
Hello @carloscuesta :sunglasses:!

- Emoji: :busts_in_silhouette:
- Code: `:busts_in_silhouette:`
- Description: Add contributor(s)

When you want to add contributor(s) to your project, use this emoji to commit the modification.

[2017-07-21 09:17] Cruyjun opened #136 "Working on holidays"
Hello @carloscuesta :sunglasses:!

- Emoji: 🏖️
- Code: `:beach:`
- Description: Working on holidays

[2017-07-21 14:13] WaKeMaTTa commented on #136
:cry:

[2017-07-21 14:16] Cruyjun commented on #136
hahahah that's true 😝 😝

[2017-07-21 23:49] mesteche opened #137 "Backdoor request from CIA/NSA"
Hello @carloscuesta :sunglasses:!

- Emoji: 👁‍🗨
- Code: `:eye_speech_bubble:`
- Description: When your commit will introduce some backdoor requested from the CIA/NSA
- Alternative: 👁 `:eye:`

[2017-07-22 12:52] D1no opened #138 "Semantic Categories & Sorting for Improved Gitmoji Navigation & Workflow"
I love gitmoji and I we have been using them for a while (well... I kinda forced my staff...). However, it is tedious to always scan for the right gitmoji given a certain context.

Following the gitflow approach
- Manage (=master)
- Create (feature)
- Refine (hotfix)

[code]

I am not 100% sure about the categories, but it should probably not be more than 3. This list feels, due to categorization

[2017-07-23 09:23] carloscuesta commented on #133
Hey thanks for building it @kipters!!

Really cool to see it on my mac ❤️

[2017-07-23 09:23] #133 closed

[2017-07-23 09:24] carloscuesta commented on #134
Hey @pankajladhar

This should be opened at https://github.com/carloscuesta/gitmoji-cli/issues, but basically it's because the gitmoji-cli by default uses the standard Github format of `emojis`. You can change that with the configuration option 👍

[2017-07-23 09:24] #134 closed

[2017-07-23 09:27] carloscuesta commented on #128
Looks cool! 😄

[2017-07-23 09:28] carloscuesta commented on #130
Hey @jeanfredrik thanks for your suggestion

Don't you think this could be covered also with 🔧

[2017-07-23 09:29] #87 closed

[2017-07-23 09:45] #128 closed

[2017-07-28 06:23] #130 closed

[2017-07-29 21:14] F3PiX opened #139 "Dev happiness"
Hello @carloscuesta :sunglasses:!

- Emoji: 🎁
- Code: `:gift:`
- Description:
Developer happiness

For everything that makes dev life more comfortable or enjoyable.

With :tulip: from Amsterdam

[2017-08-01 13:39] carloscuesta commented on #138
Hey @D1no

I don't think we really need a categorization for Gitmojis, I think it's better to keep it simple!

[2017-08-03 07:08] jeanfredrik commented on #130
I guess you’re right. I’ve been using 🔧  or 👷  until now. 👷  makes more sense to me since scripts are to libraries what build systems are to applications.

[2017-08-05 22:56] D1no commented on #138
Hey @carloscuesta, ok that is fair. My goal is to formalize the emoji use as a tag system that aligns with common workflows.

Since we use many emojis as CI triggers of certain kinds, we decided to build a development framework around our use of emojis. The full spec will release on August 23. at my talk on [React Native Continues Integration Strategies](https://www.meetup.com/de-DE/ReactJS-and-Re

[2017-08-06 13:32] carloscuesta commented on #138
Looks cool! Though I think that the paper format it's not really usable, as long as it becomes outdated really quickly

I don't think categories are necessary and your idea differs a little bit from gitmoji but I love to see things built with gitmoji 🎉 😄

[2017-08-06 13:32] #138 closed

[2017-08-06 14:59] D1no commented on #138
Well as a framework, there should be hardly any breaking changes. And if so, one maybe has to run
`lp -d pullprint gitmoji-triangle-A4.pdf` to get up to date 😅

Cheers & nice Sunday!

[2017-08-07 06:21] initialj commented on #139
:zap:

[2017-08-23 13:53] svenlombaert opened #140 "Unable to create .git/index.lock"
Hello @carloscuesta :sunglasses:!

Since a while now, every time I commit (I have the pre-commit hook installed), after it, I get this message:

[code]

I've tried removing and installing the pre-commit hook, removed gitmoji-cli completely and updated to the most recent version - nothing helps. I encounter the same problem without pre-commit hook and just using the `gitmoji`command. When I just co

[2017-08-23 14:13] WaKeMaTTa commented on #140
I'm sure you are using atom.io as your editor, and you are using the new feature "commiting/mergin/..." at the same time you use your own console.

[2017-08-23 14:44] carloscuesta commented on #140
Hello, seems like this is related with [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli), please open the issue here

Thanks @svenlombaert !

[2017-08-23 14:44] #140 closed

[2017-08-23 14:46] svenlombaert commented on #140
Silly me. Wrong repo 🤦‍♂️

[2017-08-26 01:07] jamesarosen opened #141 "add 🛁 for code clean-up"
Hello @carloscuesta :sunglasses:!

- Emoji: 🛁
- Code: `:bathtub:`
- Description: clean-up

[2017-08-26 01:08] jamesarosen commented on #141
My team usually use this for "code cleanup," as opposed to 💅🏼 for interface polish.

[2017-09-03 14:06] carloscuesta commented on #141
Hey @jamesarosen

Thanks for your suggestion, don't you think this is covered with 🔨 `:hammer:`

[2017-09-03 14:07] carloscuesta commented on #137
Don't introduce backdoors! 😜

[2017-09-03 14:07] #137 closed

[2017-09-03 14:08] carloscuesta commented on #135
Hey @fabienjuif!

Feel free to send a pull request 🎉

[2017-09-03 14:08] #98 closed

[2017-09-03 14:10] carloscuesta commented on #136
Hey @Cruyjun

Thanks for your suggestion! You shouldn't be working on holidays 😜, closing this since I think it's too "abstract"

[2017-09-03 14:10] #136 closed

[2017-09-03 16:06] #135 closed

[2017-09-04 02:43] jamesarosen commented on #141
The description for 🔨 is "refactoring code."

I usually use 🛁  for things like fixing syntax and alphabetizing entries. I wouldn't use the word "refactoring" for that, but I'm not sure it's the wrong word.

One alternative to adding 🛁  would be to change 🔨's description to something like "refactoring or cleaning up code."

[2017-09-04 11:39] jpventura opened #143 "Improve "refactoring code" moji"
Hello @carloscuesta :sunglasses:!

- Emoji: ♻️
- Code: `:recycle:`
- Description: 🔨   and 🔧   are visually too similar

🔨  (i.e. refactoring code) and 🔧  (i.e. changing configuration files) are visually too similar, but have totally different meanings in this gitmoji style.

`:recycle:` was chosen instead of [`:black-universal-recycling-symbol:`](https://github.com/dannyfritz/commit-message-emoji)

[2017-09-04 13:47] carloscuesta commented on #143
We had a similar proposal, see https://github.com/carloscuesta/gitmoji/issues/111#issuecomment-292310869

[2017-09-05 14:45] jpventura commented on #143
@carloscuesta I've just read #111 and, IMHO, repositories already using previous emojis should not be an impediment to Gitmoji project evolution/improvement.

The emoji should auxiliate the commit title semantic, not _be_ the title (not even a [_kanji_](https://en.wikipedia.org/wiki/Kanji) may contain the whole message idea 😄 ).

That being said said, the emoji should satisfy the following conditi

[2017-09-06 19:21] epilande opened #144 "Use 🌱 for adding/updating seed files"
Hello @carloscuesta :sunglasses:!

- Emoji: :seedling:
- Code: `:seedling:`
- Description: Adding or updating seed files

[2017-09-09 13:05] obstschale opened #145 ":robot: Task Runner gitmoji"
Hello @carloscuesta :sunglasses:!

I would like to propose a new gitmoji for Task runners, like Gulp, Grunt, etc.

- Emoji: :robot:
- Code: `:robot:`
- Description: Add new task to task runner config oder update a task.

[2017-09-09 13:06] obstschale commented on #145
/o\ In the moment I submit the issue, I saw that 🤖  is actually used for Android.

I will look for another emoji and open a new issue. Sry for that

[2017-09-09 13:06] #145 closed

[2017-09-19 14:23] F3PiX commented on #139
@carloscuesta Would you like me to push a PR with this?

[2017-09-19 14:59] WaKeMaTTa commented on #139
No offence, @F3PiX, but normally we wait for other users to give an opinion using reaction. If nobody gives you any reaction it means nobody cares about your sugestion / nobody will use it.

[2017-09-19 18:58] F3PiX commented on #139
No offense taken ;-) Thanks for the heads up.

[2017-09-20 11:11] WaKeMaTTa commented on #139
By the way, you can use :tada: for this type of things.

[2017-09-20 18:31] Spidersouris commented on #139
@WaKeMaTTa It's already used for the initial commit.

[2017-09-20 18:36] WaKeMaTTa commented on #139
@Spidersouris I know. I purpose it for that reason. And, also, because it is used very infrequently. And, also, because :gift: and :tada: are similars esthetically.

[2017-09-20 19:47] carloscuesta commented on #139
IMHO I think the purpose of `Developer hapiness` is just too abstract to make a gitmoji

[2017-09-20 19:50] carloscuesta commented on #143
Makes sense to me! @jpventura

[2017-09-20 20:49] F3PiX commented on #139
Well, it's clear there is not much support for my lovely 🎁
😅

I use it quite often, actually.
Maybe nice to know: For things like: removing an annoying message that shows up when running tests; adding a gem/lib that has no other effect than making dev life easier, like a debugger or a linter ; adding a feature that is used by developers / in development env only.

So, I suppose we can close the is

[2017-09-20 20:49] #139 closed

[2017-09-21 12:57] nblackburn commented on #77
😠 for IE because it is the source of all frustrations.

[2017-09-22 11:23] preeteshjain commented on #141
@jamesarosen You can use :art: `:art:` for that I think.

[2017-09-22 15:14] jamesarosen commented on #141
Nice!

[2017-09-22 15:14] #141 closed

[2017-09-23 01:21] math2001 opened #146 "Add content management emojis"
Hello @carloscuesta :sunglasses:!

[code]

[code]

What do you think?

[2017-09-23 14:10] gluons commented on #146
⬆️ (`:arrow_up:`) is currently used for "Upgrading dependencies."

[2017-09-23 14:20] gluons commented on #146
**In my opinion**
- "Publishing a post" should be 📤 (`:outbox_tray:`).
- "Drafting a post" should be ✍️ (`writing_hand`).

[2017-09-24 06:28] math2001 commented on #146
Oops... ❤️  your drafting emoji!

[2017-09-24 10:36] Stivaros commented on #146
Great idea @math2001 and I like @gluons emoji.

[2017-10-01 22:25] TheYahya opened #148 "Emoji for when creating a new file"
Hello @carloscuesta :sunglasses:!

- Emoji: :newspaper:
- Code: `:newspaper:`
- Description: when creating a new file.

[2017-10-02 08:26] WaKeMaTTa commented on #148
This is also related to scaffolds ?

[2017-10-02 09:12] TheYahya commented on #148
No, I don't think so! @WaKeMaTTa

[2017-10-02 09:32] WaKeMaTTa commented on #148
Then I think @carloscuesta will say "Is to specific."

[2017-10-02 11:05] carloscuesta commented on #148
Hey! @TheYahya

In what context are you going to commit a new file? (Empty files are not commitable if they have no content). Do you think that "Creating a new file" is something that adds value for creating a commit? IMHO, no.

[2017-10-02 14:51] WaKeMaTTa commented on #148
I think you can use `:wrench:` perfectly in this cases.

[2017-10-02 14:54] carloscuesta commented on #148
Yes, this is the point where I'm heading too, not everything it's "too specific" there's a reason behind ;) @WaKeMaTTa

[2017-10-02 15:01] TheYahya commented on #148
Yeah, I think maybe **too specific** too @carloscuesta  :)

[2017-10-02 15:01] #148 closed

[2017-10-09 12:45] Taranys opened #149 "Use 🚸 for improving usability or UX"
Hello @carloscuesta :sunglasses:!

- Emoji: 🚸
- Code: `:children_crossing:`
- Description: Improving usability / user experience.

I hesitate with 📐 but i think it is more explicit to see someone helping a child

[2017-10-09 12:55] WaKeMaTTa commented on #149
I like the idea. But someone can say is the same as `:lipstick:` (*Updating the UI and style files.*). Tell us, the difference.

[2017-10-09 13:04] Taranys commented on #149
The idea is to represent all commits linked to ergonomic notion. When we change the way user can use app, make things simple and intuitive (like adding help messages, suggestions, simplify UI, ...)

It is not how feature looks like, it is about how feature can be easy to understand and use.

[2017-10-09 15:34] carloscuesta commented on #149
Woo I like it! And yes UI it's not the same as the UX, feel free to send a pull request! @Taranys

[2017-10-12 08:11] math2001 commented on #146
@carloscuesta are you considering using these emojis?

[2017-10-12 08:21] #149 closed

[2017-10-25 06:12] arobida commented on #108
#108
I made a cheat sheet but it would be nice if the updating was automated maybe a rss feed? Anyways here it is! Just copy every thing here or download the txt file I use this in a markdown editor call bootsnote and can pull it up with a key shortcut copy the link paste and commit.
[GitMojiGuide.txt](https://github.com/carloscuesta/gitmoji/files/1413422/GitMojiGuide.txt)

# Gitmoji guide for com

[2017-10-25 07:11] carloscuesta commented on #108
Hey @arobida,

The whole point would be to integrate the single page sheet generation from the website, in order to keep it updated and don't have to make anything complicated rather than exporting it as a PDF

[2017-10-25 08:29] ghivert opened #152 "Merge conflicts"
Hello @carloscuesta :sunglasses:!

I regularly have to merge conflicts on git. Seems like 🔀 is not very much appropriated. What do you think about it? An idea to use a better emoji? Maybe something someone already use?

[2017-10-25 11:48] WaKeMaTTa commented on #152
I have a related question. How to add always automatically :twisted_rightwards_arrows: for merge comment?

[2017-10-26 13:30] adambrgmn opened #153 "PSA: Chrome extension"
Hello @carloscuesta :sunglasses:!

First and foremost – thanks for a great repo :tada: I love having the :sparkles:'s and :lipstick:'s spread across my commit history!

But I found myself always jumping back and fort between https://gitmoji.carloscuesta.me/ and GitHub when I'm doing commits and merges on the web.

So I took the liberty of creating a small [Chrome extension for Gitmoji](https://git

[2017-10-27 12:04] bpetetot opened #154 "Use 💀 when removing dead code"
Hello @carloscuesta :sunglasses:!

- Emoji: :skull:
- Code: `:skull:`
- Description: Remove dead code

Emoji used in commits when you remove dead code in your app

[2017-10-27 17:37] WaKeMaTTa commented on #154
Thanks you for your contribution.

In gtitmoji we already have an emoji for that.  We use :fire: (`:fire:`) for:

[2017-10-27 17:39] WaKeMaTTa commented on #153
I really like the section of most used emojis in your chrome extension. <3 Thank you.

[2017-10-28 09:46] carloscuesta commented on #154
Same as #151

[2017-10-28 09:46] #154 closed

[2017-10-28 09:48] carloscuesta commented on #153
Hey @adambrgmn

That's awesome! There's no problem on creating that Chrome extension for Gitmoji. Looks really cool, feel free to create anything with this project :heart:

PS: If you use gitmoji on a regular basis, I recommend you to use the [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli), you'll have all the gitmoji inside of your terminal!

Thanks :tada:

[2017-10-28 09:48] #153 closed

[2017-10-31 16:50] thewraven opened #155 "Farewell"
Hello @carloscuesta :sunglasses:!

- Emoji: :wave:
- Code: `:wave:`
- Description: See you folks! I'm not working here anymore :)

[2017-11-02 14:59] heikomat opened #156 "📌 to pin dependency-versions"
Hello @carloscuesta :sunglasses:!

- Emoji: 📌
- Code: `:pushpin:`
- Description: pinning a dependency to a specific version

[2017-11-06 16:52] WaKeMaTTa opened #157 "Mail related"
Hello @carloscuesta :sunglasses:!

- Emoji: :email:
- Code: `:email:`
- Description: Related to mail.

---

Another option is

- Emoji: :mailbox:
- Code: `:mailbox:`

[2017-11-06 18:12] carloscuesta commented on #157
Hey @WaKeMaTTa

What are you going to commit related to mails into a repository?

[2017-11-06 18:20] WaKeMaTTa commented on #157
For example:

- The layout of each transactional email. -> i can use :lipstick:
- Mail configuration. -> i can use :wrench:

But maybe is too specific.

---

Let's wait for a month before we close it.

[2017-11-22 18:30] amoose136 commented on #60
So for me typing `git log` in a terminal displays in `:emoji:` form which is useless as far as I'm concerned. I also don't want to have to remember things like `:bento:`=An asset is updated. To fix these issues for mac I created this alfred text substitution pack.  https://github.com/amoose136/alfred-gitmoji It hasn't been updated to the most recent gitmoji version though.

[2017-11-22 18:56] carloscuesta commented on #60
Though, the [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli) supports the unicode emoji format, so if you want to use it like that you can

<img width="685" alt="screen shot 2017-11-22 at 19 55 48" src="https://user-images.githubusercontent.com/7629661/33145000-37ccf312-cfbf-11e7-8d95-f46067f85b05.png">

[2017-11-23 14:10] brainlessdeveloper opened #158 "✨ Gitmojis meet Probot - feedback appreciated"
Hello @carloscuesta :sunglasses:!

At [store2be](https://github.com/store2be) we are fervent users and advocates of Gitmojis. We would not approve a PR if any of its commits lacked a Gitmoji. So we decided to build a Probot application to ensure the rightfulness of all commit messages across our repositories. 🎉

Here's the link to the repo: https://github.com/store2be/gitmoji-police - If you have

[2017-11-26 09:49] carloscuesta commented on #158
Wow @brainlessdeveloper!

I'm glad to hear that some companies are using Gitmoji as a standard in their commit messages! 😄

It's cool to see projects appearing like this, don't worry about using the favicon on the app, no problem on that! 👍.

Definitely this will help some gitmoji users to enforce a consistent style on their commit messages while using this commit style.

As an idea, I would find

[2017-11-30 06:51] pzrq opened #159 "Add emoji for massive architectural changes or giant ideas"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔦
- Code: `:flashlight:`
- Description: Searching for or thinking about massive architectural changes or giant ideas

## Thought process

- Every once in a while, one needs to think about much larger or grander changes to a codebase than the simple :boom:.
   - Such changes would often be followed up with a :boom: to actually implement them.
- :bulb: is

[2017-11-30 08:40] WaKeMaTTa commented on #159
massive architectural changes it sounds like refactoring (:hammer: time)

[2017-11-30 10:22] pzrq commented on #159
True, I'd used :hammer: a lot already in my context, forgot to include it in my thought process.

Perhaps I got sick of seeing :hammer: and felt I needed a different semantic for the much larger decision I felt needed to be highlighted in my context?

Such decisions are rare in the scheme of things though so if this issue sits open for a while to gauge community reaction I'd be fine with that.

[2017-11-30 11:18] carloscuesta commented on #159
I think it's a good idea, a change of paradigm or tech stack is a much bigger task than a refactor of code @pzrq

[2017-11-30 11:20] #158 closed

[2017-11-30 16:33] preethikalyani88 opened #160 "gitmoji -c fails with "Use of const in strict mode" at launch time."
Hello @carloscuesta :sunglasses:!

- Description: "gitmoji -c fails with "Use of const in strict mode" at launch time."

The stack trace is as follows:
○ → gitmoji -c

/usr/lib/node_modules/gitmoji-cli/cli.js:4
const meow = require('meow')
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.

[2017-11-30 17:35] carloscuesta commented on #160
Open the issue on the gitmoji-cli repository.

[2017-11-30 17:35] #160 closed

[2017-12-02 01:09] streamgao opened #161 "thumbnail!!"
Hello @carloscuesta :sunglasses:!

hey, your website seems to have problems rendering larger images.

only thumbnails?\\

![image](https://user-images.githubusercontent.com/3363065/33509877-6440d1b4-d6ba-11e7-8c96-885ad2c7040d.png)

[2017-12-02 07:30] gluons commented on #161
It works fine for me.

![screenshot-2017-12-2 gitmoji](https://user-images.githubusercontent.com/4688092/33513007-fb42f224-d76c-11e7-8c8b-cc62ec4f0973.png)

I've inspected his web. These emojis are not picture. It's actual emoji character.

[2017-12-02 09:07] carloscuesta commented on #161
Hey @streamgao,

As @gluons said the emojis that are being displayed on the website are actual emojis characters.

What browser and OS are you using?

[2017-12-02 09:18] carloscuesta commented on #159
What about 🏗 `:building_construction:` for this gitmoji? @pzrq

[2017-12-02 09:22] carloscuesta commented on #156
Hey @heikomat

Feel free to send a PR!

[2017-12-02 09:35] #143 closed

[2017-12-02 10:17] heikomat commented on #156
@carloscuesta will do, give me a moment :)

[2017-12-02 10:34] heikomat commented on #156
@carloscuesta done: #163

[2017-12-02 16:33] streamgao commented on #161
yeah it used to work for me, but recently, i think from someday this week it blurs.
Issue happes on mac osx chrome 62.0.3202.94.

It works fine actually on safari and firefox.

[2017-12-03 09:55] carloscuesta commented on #161
Hey @streamgao I've got the same version of Google Chrome as you, and I'm seeing the website without any problems

![screen shot 2017-12-03 at 10 54 21](https://user-images.githubusercontent.com/7629661/33524210-655b4f34-d818-11e7-9795-15265541a569.png)

![screen shot 2017-12-03 at 10 55 13](https://user-images.githubusercontent.com/7629661/33524217-73794cec-d818-11e7-8b1f-b6a85504b538.png)

[2017-12-03 10:29] streamgao commented on #161
hum ..
![image](https://user-images.githubusercontent.com/3363065/33524414-d5ec433a-d7d1-11e7-899b-fc40a7a516dc.png)

[2017-12-03 10:31] gluons commented on #161
@streamgao Maybe your Chrome extension is the cause of this problem. 😄

[2017-12-03 11:27] carloscuesta commented on #161
Sure there must be an issue with an extension or something like that.

[2017-12-03 11:27] #161 closed

[2017-12-04 07:27] pzrq commented on #159
@carloscuesta 🏗  `:building_construction:` would work for me.

[2017-12-06 14:12] #156 closed

[2017-12-06 14:13] carloscuesta commented on #159
Feel free to send a PR @pzrq

[2017-12-06 14:13] #157 closed

[2017-12-06 22:14] pzrq commented on #159
Cheers @carloscuesta 👍

I will do, once time permits (I'm moving house this weekend).

[2017-12-07 03:58] jonyeezs commented on #152
how bout 🤝 as that's what you would do after resolving a conflict/argument with someone?

[2017-12-08 11:43] carloscuesta commented on #159
I can do it for you If you are busy, don't worry 😄

[2017-12-09 12:34] #159 closed

[2017-12-15 06:37] cncolder opened #167 "Missing :building_construction: on macOS 10.13.2"
Hello @carloscuesta :sunglasses:!

- Emoji: :building_construction:
- Code: `:building_construction:`
- Description:

Missing :building_construction: on macOS 10.13.2

I add emojis into favor and use it from menu "Edit - Emoji & Symbol" or keybinding ⌃⌘+Space.

But I'm not found :building_construction: on macOS 10.13.2 (MacBook). It's ok on macOS 10.12.6 (iMac)

<img width="634" alt="2017-12-15 14

[2017-12-16 12:44] carloscuesta commented on #167
Hey @cncolder

You can use the [gitmoji-cli](https://github.com/carloscuesta) to add gitmojis to your commits instead of searching it on the macOS emojis.

This is not an issue related with the **gitmoji** repository

<img width="1007" alt="screen shot 2017-12-16 at 13 41 35" src="https://user-images.githubusercontent.com/7629661/34070465-1a76f3fc-e267-11e7-9e41-2b43050396c0.png">

[2017-12-16 12:44] #167 closed

[2017-12-20 09:16] streamgao opened #168 "instrumentation / analytics relevant emoji"
Hello @carloscuesta :sunglasses:!

- Description: Instrumentation and analytics.

- Emoji: 💌    - Code: `:love_letter:`

- Emoji: 💸    - Code: `:money_with_wings:`

- Emoji: 📨    - Code: `:incoming_envelope:`

- Emoji: 📦    - Code: `:package:`

- Emoji: 📬    - Code: `:mailbox_with_mail:`

for codes that do similar jobs:  can we use any of these?
💌📤✉️📦📬📭📨💸

[2017-12-22 05:13] pzrq opened #169 "⏩ for reverting a revert"
Hello @carloscuesta :sunglasses:!

- Emoji: ⏩ :
- Code: `:fast_forward:`
- Description:  When reverting a :rewind:

Because `git` and other source control systems are based on diffs, reverting a [revert](https://git-scm.com/docs/git-revert) in order to go forward (usually with some other small change immediately after) is possible and thus in my experience at least sometimes happens quite naturall

[2017-12-22 06:52] tangweikun opened #170 "Rename variable"
What emoji should I use when I `Rename variable`

[2017-12-22 07:33] carloscuesta commented on #170
The refactoring one should be good

[2017-12-22 07:33] #170 closed

[2017-12-29 04:49] gionniboy opened #171 "a bit of new emoji"
Hello @carloscuesta :sunglasses:!

i have different proposal for you guys :)

- Emoji: :herb:
- Code: `:herb:`
- Description: when you push weedy code [not all drink beers and now is legal in a lot of places]
-----------------------------------------------------------------------------------------------------------------

 - Emoji: :coffee:
- Code: `:coffee:`
- Description: too much caffeine to pr

[2018-01-05 21:07] garymazzeo opened #173 "Revisit rejected past suggestions for Unicode incompatibility"
Hello @carloscuesta :sunglasses:!

- Emoji: :iphone:
- Code: `:iphone:`
- Description: Working with responsive/mobile code

This had previously been rejected in #88 #99 because of Unicode incompatibility. I see `:building_construction:` is now being used, which is part of Unicode 7.0. `:iphone:` is Unicode 6.0—perhaps this could be included for specific responsive/mobile code?

Thanks!

[2018-01-05 21:31] carloscuesta commented on #173
Good point will take a look on them!

[2018-01-05 21:31] #173 closed

[2018-01-09 16:16] fionnbharra opened #175 "Use 🔬 for A/B tests"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔬
- Code: `:microscope:`
- Description: Used when adding A/B tests

[2018-01-10 12:47] charlyx opened #176 "✨ Add 🤡 for mocking things"
Hello @carloscuesta :sunglasses:!

- Emoji: :clown_face:
- Code: `:clown_face:`
- Description: mocking things.

[2018-01-12 01:05] ahammel opened #178 "✨: 🚮 for deprecating things"
Hello @carloscuesta :sunglasses:!

- Emoji: ::put_litter_in_its_place::
- Code: `::put_litter_in_its_place::`
- Description: Adding deprecation warnings to old code

Indicates a commit that adds deprecation warnings. E.g., adding

[code]
in java, or

[code]

In javascript

[2018-01-12 19:53] #176 closed

[2018-01-14 11:06] carloscuesta opened #180 "🚀 Automate deployments to gh-pages with Travis"

[2018-01-14 11:16] #180 closed

[2018-01-22 03:01] chinesedfan commented on #108
@joaomoreno You can check this, https://www.webpagefx.com/tools/emoji-cheat-sheet/. And of course, I think gitmoji is more cute. 😆

[2018-01-26 04:06] pzrq opened #182 "🔥🐛✨🔒💩💡🏗 ... background color contrast on Ubuntu Firefox"
Hello @carloscuesta :sunglasses:!

🏗  yellow background color blends into the crane color on Ubuntu 17.10 Firefox 58, screenshot:
![gitmoji color scheme](https://user-images.githubusercontent.com/1217010/35424774-111f0232-02aa-11e8-89df-c99dbf69e18f.png)

It just doesn't look right to me as there's insufficient contrast present to make out the crane easily, though as most developers, myself includ

[2018-02-05 19:54] rhsobr opened #183 "Feature flag"
Hello @carloscuesta :sunglasses:!

I've used :traffic_light: as a feature flag related commit.
I looked for a better one, but didn't find.
What do you think about?

- Emoji: :traffic_light:
- Code: `:traffic_light:`
- Description: Feature flag

[2018-02-07 17:22] Leva7 commented on #182
Confirming this issue. It also affects several others. I've laid them all out here:
![image](https://user-images.githubusercontent.com/15035286/35931022-58ec6ef6-0c55-11e8-842e-8e46d86f0a26.png)

[2018-02-08 00:11] CalmBit opened #185 "✨ : 📛 for badges"
Hello @carloscuesta :sunglasses:!

- Emoji: 📛
- Code: `:name_badge:`
- Description: Every repo needs a good set of badges! You _could_ use 📝  (documentation), but adding little images to the README doesn't seem like hardcore documentation work.

[2018-02-11 03:07] Snuggle opened #186 "Bump emoji! 🤜"
Hello @carloscuesta :sunglasses:!

- **Emoji:** :fist_right:
- **Code:** `:fist_right:`
- **Description:** Used to bump things. Bumping versions. BUMP EVERYTHING!

[2018-02-12 17:38] jamarr81 opened #187 "Add support for semantic/conventional codes."
Hello @carloscuesta :sunglasses:!

This project, like [the many before it](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#git-commit-messages), is a good start and provides a solid base of emoji's to integrate into development workflows. However, the _code_ used for most emoji's seem to lose the original _intention_ of that emoji. The issue is very similar to css class naming conventions

[2018-02-12 17:55] jamarr81 commented on #187
For additional reference, there have been other tickets/comments that touched on similar idea(s) but may not have been an _explicit_ ticket concerning the underlying need/desire for more semantic/conventional codes:
1. https://github.com/carloscuesta/gitmoji/issues/143#issuecomment-327198499
1. https://github.com/carloscuesta/gitmoji/issues/138
1. https://github.com/carloscuesta/gitmoji/issues/58

[2018-02-15 11:40] carloscuesta commented on #182
This is mostly due to the emoji font that you have installed. I can try to fix those that are affected but the problem will persist on new additions.

[2018-02-15 11:41] carloscuesta commented on #186
Hey @Snuggle

Thanks for your suggestions, but currently we have 🔖 for this!

[2018-02-15 11:41] #186 closed

[2018-02-15 11:43] #171 closed

[2018-02-15 11:44] #101 closed

[2018-02-15 11:45] #155 closed

[2018-02-15 11:50] carloscuesta commented on #178
This could be covered with 💡 as long as its documentation for deprecated clde. Don’t you think so?

[2018-02-19 18:08] ahammel commented on #178
I would say that documentation and deprecation warnings are a bit different, at least in Java development. If a developer told me, "I'm just adding documentation", I would be a bit surprised if the PR added new compiler warnings, for instance.

[2018-02-22 20:43] long-lazuli opened #188 "Need titles/tooltips over emojis, on github."
Hello @carloscuesta :sunglasses:!

Do you like the idea of making a browser extension to add a title or a tooltip to the emoji ?
It would really enhance the learning curve, I think !

My team and I would love to use them more, but now, it's hard to remember all of them, just by browsing PR/commits...

[2018-02-26 20:20] ctcpip opened #190 "Emoji suggestion: 🔩 for fixing tests"
Hello @carloscuesta :sunglasses:!

- Emoji: :nut_and_bolt:
- Code: `:nut_and_bolt:`
- Description: Fixing tests.

since currently there is only an emoji for adding tests, I am proposing a new emoji for fixing failing tests

[2018-02-26 20:32] tlugger opened #192 "Using 🙈 when adding or updating a .gitignore file"
Hello @carloscuesta :sunglasses:!

- Emoji: 🙈
- Code: `:see_no_evil:`
- Description: When adding or updating a `.gitignore` file in your project

This is something I do frequently as I don't think anything else really covers it. Could be used for more like `.dockerignore`

[2018-02-28 07:29] carloscuesta commented on #188
For that purpose gitmojo-cli exists but feel free to create a browser extension if you want!

[2018-02-28 07:29] #188 closed

[2018-02-28 07:30] carloscuesta commented on #192
Cool!

[2018-03-01 13:16] mrnnn opened #195 "An emoji for easter eggs"
Hello @carloscuesta :sunglasses:!

- Emoji: 🥚
- Code: `:egg:`
- Description: When you introduce an easter egg in your application

Because sometimes you really want to introduce some hidden feature, but you can't because there just isn't a gitmoji for it 😢

[2018-03-02 16:00] efinlay24 opened #196 "Using :doughnut: for fixing small, stupid, self-created issues"
Hello @carloscuesta :sunglasses:!

- Emoji: 🍩
- Code: `:doughnut:`
- Description: Fixing small self-inflicted problems.

Hi! May I suggest the doughnut emoji for fixing small, obvious problems that you've added yourself?
Examples might include forgetting to rename files, or find/replace template values in a config file.

Basically: things that make you go "I'm a donut" when you break the build. 🙂

[2018-03-06 03:34] Pustur commented on #182
@carloscuesta Maybe a slight `text-shadow` on the emoji could help separate it a bit from the beckground?

[2018-03-06 16:16] wouterds commented on #195
https://github.com/carloscuesta/gitmoji/pull/189

[2018-03-06 19:25] pzrq opened #198 "npm install deprecation warnings"
Hello @carloscuesta :sunglasses:!

## Install warnings

[code]

[2018-03-07 22:16] ryuhhnn opened #200 "Print Style Sheet"
Hello @carloscuesta :sunglasses:!

I noticed when printing this page, it takes up a whopping 17 pages. Would be nice if there was a print stylesheet so that printing this page will produce a nice little reference sheet for those of us who are still stuck in the stone age and like wasting trees :) I'm happy to submit a PR if this is something that you're ok with adding!

[2018-03-08 06:47] carloscuesta commented on #200
Feel free to PR #108

[2018-03-08 06:47] #200 closed

[2018-03-09 19:30] pzrq commented on #182
As the list is growing long, perhaps it presents a chance to group the gitmoji by color and category?

If it were me, I’d pick something based on: https://codeburst.io/the-2018-web-developer-roadmap-826b1b806e8d

[2018-03-09 20:04] pzrq commented on #182
For example, on the Lastpass Mobile browser, I find the 💄 emoji background color to be an excellent contrast. Surely there is some way to determine a color which contrasts maximally with all the gitmoji in any particular category for the system default fonts on supported platforms?

![img_5135](https://user-images.githubusercontent.com/1217010/37227324-0ad59442-2431-11e8-8a29-c6cd8acd7eb4.PNG)

[2018-03-10 20:58] #195 closed

[2018-03-10 21:13] #192 closed

[2018-03-11 15:50] GandalfSaxe commented on #60
This app does make it really easy to insert unicode emoji everywhere on Mac:

http://matthewpalmer.net/rocket/

I can see the compatibility point of view as well, but I have memorized many emoji names after using Rocket for some months now.

[2018-03-11 15:58] GandalfSaxe commented on #23
@carloscuesta What does it mean when you do two messages like `-m "one" -m "two"` in a row? Do they get concatenated? Why make two in the first place?

[2018-03-11 17:41] carloscuesta commented on #23
@GandalfSaxe Two `-m` params splits the commit title and message on two different paragraphs. That's the title and message of a commit. See https://git-scm.com/docs/git-commit#git-commit--mltmsggt

[2018-03-11 20:20] GandalfSaxe commented on #23
Ah cool, didn't know that. The documentation doesn't mention anything about titles, but perhaps that just means that Github and most other systems interpret the first paragraph as a title and the second as body message?

[2018-03-13 10:35] maximeBuguel opened #201 "✨add 👶 when interns writes code"
Hello @carloscuesta :sunglasses: !

- Emoji: 👶
- Code: `:baby:`
- Description: Code written by the intern

There is a gitmoji for writting code drunkenly why not for the code that the intern writes ?

[2018-03-13 10:55] carloscuesta commented on #201
I don't think we need to discriminate wether a commit has been written for an intern or a senior.

[2018-03-13 10:55] #201 closed

[2018-03-20 20:24] mraerino opened #203 "Proper domain"
Hello @carloscuesta :sunglasses:!

It would be awesome to have a proper (shorter) domain for the girmoji site.
How would you feel if I sponsored one and pointed it at some DNS record?
(Or maybe we'd use a Netlify deployment.)

Which one would you like?
Some options:
- gitmoji.tech
- gitmoji.net
- gitmoji.space

[2018-03-21 19:05] eawww opened #204 "✨: 📸For Adding/Updating Test Snapshots"
Hello @carloscuesta :sunglasses:!

- Emoji: 📸:
- Code: `:camera_flash:`
- Description: Adding/Updating Snapshots

[2018-03-22 10:19] edwinm opened #205 "Undeclared identifiers in kexec.cc"
Hello @carloscuesta :sunglasses:!

I can't install gitmoji due to undeclared identifiers in kexec.cc, see log below.

[code]

[2018-03-22 10:20] carloscuesta commented on #205
Hey this package could not be installed and it's not even published on npm.

Maybe you're getting confused with gitmoji-cli.

[2018-03-22 10:20] #205 closed

[2018-03-22 10:21] carloscuesta commented on #204
Hey @eawww feel free to send a PR!

[2018-03-22 10:21] carloscuesta commented on #198
Closing this issue since I'm going to change the way the website is built!

[2018-03-22 10:21] #198 closed

[2018-03-22 10:22] #182 closed

[2018-03-22 10:22] #146 closed

[2018-03-22 10:23] #152 closed

[2018-03-22 10:23] #168 closed

[2018-03-27 08:27] liuliangsir opened #207 "[Feature Requets] Support for exposing gitmoji data functionality"
Hello @carloscuesta :sunglasses:!

I would like to get gitmoji data by a public api, Because it is convenient to our developer.

[2018-03-28 03:08] satyasinha opened #208 "🌑 for creating a new file"
Hello @carloscuesta :sunglasses:!

- Emoji: 🌑
- Code: `:new_moon:`
- Description: Creating a new file.

Reason: Sometimes I like a commit to just create a new file as a scaffold for later code being added. Alternative emojis are also welcome 👍

[2018-04-02 23:23] nijikokun opened #209 "Section featuring repositories that use Gitmoji?"
Hello @carloscuesta :sunglasses:!

I believe it would be radical to see a section that showcases projects using gitmoji! Thoughts?

[2018-04-06 00:01] SundownDEV opened #210 "Cannot find module './build/Release/kexec.node'"
Hello @carloscuesta :sunglasses:!

[code]

[code]

[2018-04-08 06:53] zedwang commented on #23
On windows, how to do make the same effect as @welcoMattic does?

[2018-04-12 20:53] arnavb commented on #23
@zedwang Now on Windows 10, an emoji picker is built-in! Just do either <kbd>Win</kbd> + <kbd>;</kbd> or <kbd>Win</kbd> + <kbd>.</kbd>.

[2018-04-13 20:35] #204 closed

[2018-04-13 20:37] carloscuesta commented on #203
Hey @mraerino

Thanks for your proposition! I thought about getting a custom domain for Gitmoji, but I didn't found a good reason to get one. I prefer to keep it simple and I don't think we need a custom domain for it!

[2018-04-13 20:37] #203 closed

[2018-04-14 12:33] mraerino commented on #203
Some usecases for a shorter domain:
- Pointing people to it via Twitter
- Telling people about it in RL
- Devs coming into a project can easily remember how to look up gitmojis for their commits

[2018-04-18 21:41] TruenoElfico opened #211 "PDF cheatsheet make is freezed"
Hello @carloscuesta :sunglasses:!

PDF cheatsheet command stay freeze in 'Generating pdf' log

I'm trying to make a pdf cheatsheet of gitmoji but the process is freezed in 'Genrating pdf' log

[2018-04-20 07:57] hugoboss62 opened #213 "Predictive text entry"
Hello @carloscuesta :sunglasses:!

It could fun to have an input on your webpage to give us a predictive result of our query as FontAwesome : https://fontawesome.com/icons?d=gallery

Thank you and congrats for your job!

[2018-04-25 13:19] Tydax opened #214 "🛠 for adding dev/util tools"
Hello @carloscuesta :sunglasses:!

- Emoji:  🛠
- Code: `:hammer_and_wrench:`
- Description: Adding development/util tools

Reason: I never know what emoji to use when I commit reusable helper or util functions, or if I implement a development tool into the project.
I am quite happy to do the PR for this, just checking if it would be of any use for anyone.

[2018-04-25 15:33] ThisRoxx commented on #214
Me neither! lol :bowtie: Thanks a mint! 😎

[2018-05-02 13:36] tangweikun opened #216 "What emoji should use when to Add new API"
What emoji should use when to Add new API

[2018-05-06 22:12] carloscuesta commented on #213
Hey @hugoboss62

Thanks for your idea! At the moment i'm not planning on doing it for now 😄.

[2018-05-06 22:12] #213 closed

[2018-05-10 03:13] if2er opened #217 "Can I translate it into Chinese？"
Hi, this is a funny and useful project and I hope more Chinese programmer know and use it, so I want translate it into Chinese.

[2018-05-11 10:09] hmajid2301 opened #218 "Emoji for working on swagger files"
Hello @carloscuesta :sunglasses:!

- Emoji: :sunglasses:
- Code: `:sunglasses:`
- Description: For when working on swagger files. My thinking is that swagger also means to be "cool" and whats cooler than sun glasses.

[2018-05-12 15:57] melaniebrgr opened #219 "Emoji suggestion: :label: for adding or updating types"
Hello @carloscuesta :sunglasses:!

- Emoji: 🏷
- Code: `:label:`
- Description: Adding or updating types (Flow, TypesScript)

I am often in need of an gitmoji for adding or updating types. The convention on my team, where we use Flow, is to use the `:potable_water:` (🚰) emoji, but it would nice to have generic type available! I considered the `:keyboard:` ( ⌨️), but preferred the label emoji in the

[2018-05-18 08:43] Asura-one commented on #217
:smile: This is so cool, we are using gitmoji on our project !!!

:joy: Poor translation skills

| emoji | code | description |
|:----:|:----:|:----:|
| :memo: |`:memo:`|写文档|
| :bug: |`:bug:`| 修复`bug`|
| :art: | `:art:` | 改进代码的结构或格式|
| :zap: | `:zap:` | 提高性能 |
| :fire: | `:fire:` | 移除代码或文件 |
| :ambulance: | `:ambulance: ` | 紧急`bug`修复 |
| :sparkles: | `:sparkles: ` | 介绍新功能 |
| :rocket: | `:rocket:

[2018-05-20 06:41] if2er commented on #217
six six six

[2018-05-29 03:12] puria opened #221 ":snake: suggestion for Python related commits"
Hello @carloscuesta :beer:!

- Emoji: 🐍
- Code: `:snake:`
- Description: Adding/Updating Python version

[2018-06-06 12:47] carloscuesta commented on #216
What do you mean by "Add new API"?

[2018-06-06 12:47] #216 closed

[2018-06-06 12:50] carloscuesta commented on #190
This isn't the same as 💚?

[2018-06-06 12:50] #190 closed

[2018-06-06 12:52] carloscuesta commented on #209
I think it's a good idea! How we should get a list of projects that use the gitmoji convention?

[2018-06-06 12:53] carloscuesta commented on #221
Hey @puria

Thanks for your suggestion, you can use ⬆️ for that purpose!

[2018-06-06 12:53] #221 closed

[2018-06-06 12:54] carloscuesta commented on #217
It think it's a good idea to translate to many languages as we can, but for now I'll hold this as issue until we add the possibility to manage translations in a good way!

[2018-06-06 12:54] #217 closed

[2018-06-06 12:55] carloscuesta commented on #207
It's not the best way but you can make a request to https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json and get the data

[2018-06-06 12:55] #207 closed

[2018-06-15 11:52] #209 closed

[2018-06-25 21:45] felops opened #227 "Add 🔍 for SEO improvements"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔍
- Code: `:mag:`
- Description: Improving SEO
- PR: #238

[2018-07-05 06:28] pan3793 opened #229 "some emoji lose a space after itself"
i use unicode mode, just use: `gitmoji -l`
:arrow_down: :arrow_up: :recycle: :card_file_box: :building_construction:
those emoji are different with others, they lose a space between itself and - .

[2018-07-05 06:58] carloscuesta commented on #229
This issue should be opened at the gitmoji-cli repository.

[2018-07-05 06:58] #229 closed

[2018-07-16 18:34] waghanza commented on #185
Hi @Calmit,

I do not find any relation between this emoji (pixture) and the purpose of badding.

For me badding a repository os mainly for **communication**, thus I suggest to use such a representation (for example :loudspeaker:)

[2018-07-16 18:55] waghanza commented on #214
Hi @Tydax,

This is a good idea to represent dev tools with this emoji.

However, may I suggest :

* Emoji : :wrench:
* Code : `:wrench:`

`:hammer_and_wrench:` seems not tout bé compatible with gitlab (not tested) prefered this since it's compatible with more service

@see https://www.webpagefx.com/tools/emoji-cheat-sheet/

[2018-07-18 01:52] felops opened #230 "Add 🧠 for logic/bussines rules changes"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧠
- Code: `:brain:`
- Description: When change or update logic/bussines rules
- PR: #239

A lot of times I need to change some logic or even just a condition and I don't know which emoji to use.  This new one would be very useful.

[2018-07-19 01:10] heapwalker opened #231 "Emoji suggestion: 🔑 for working on Access Control List (ACL)"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔑
- Code: `:key:`
- Description: For working on role-based or permission-based access control on user, for guarding user to access certain pages / resources / API endpoints on the system.

Originally I thought of the :lock: emoji when I think about the concept ACL, but it has been used by "Fixing security issues.".

While ACL may be a sub-section of secu

[2018-07-21 14:46] theLMGN opened #233 ":repeat:"
Hello @carloscuesta :sunglasses:!

- Emoji: :repeat:
- Code: `:repeat:`
- Description: When rewriting code.

https://github.com/carloscuesta/gitmoji/pull/232

[2018-07-23 06:22] georgebutter opened #234 ":cup_with_straw: : Gulp"
Hello @carloscuesta :sunglasses:!

- Emoji: :cup_with_straw:
- Code: `:cup_with_straw:`
- Description: Anything gulp related

[2018-07-23 06:23] #234 closed, assigned to nobody

[2018-07-27 22:36] A-Tokyo opened #236 "Add ☸️for Kubernetes"
Hello @carloscuesta :sunglasses:!

- Emoji:  ☸️
- Code: `:wheel_of_dharma:`
- Description: Work about Kubernetes
- PR: https://github.com/carloscuesta/gitmoji/pull/235

[Kubernetes](https://kubernetes.io/) is a portable, extensible open-source platform for managing containerized workloads and services, that facilitates both declarative configuration and automation. It has a large, rapidly growing

[2018-07-30 21:22] alexsavio opened #237 "Cheatsheet"
Hello @carloscuesta :sunglasses:!

Thanks for this nice project!

It would be nice to be able to generate a cheatsheet, or is that possible already?

Thanks

[2018-07-31 06:26] carloscuesta commented on #237
Related with #211 #108

[2018-07-31 06:26] #237 closed

[2018-08-04 21:24] Simek commented on #214
@waghanza 🔧 is currently used for 'Changing configuration files.'

[2018-08-04 21:29] Simek commented on #233
There is ♻️ emoji for code refactoring.

[2018-08-08 14:11] #233 closed

[2018-08-10 04:10] jaydp17 opened #240 "Add 🐎 for improving performance"
Hello @carloscuesta :sunglasses:!

- Emoji: :racehorse:
- Code: `:racehorse:`
- Description:
I was going through the [contributing guidelines](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#styleguides) of [Atom](https://github.com/atom/atom) (the editor) and found that they suggest using 🐎 for commits that improve performance and I thought that'd be a great addition to gitmoji.

Let me

[2018-08-10 05:15] xgdgsc commented on #240
Current :zap: is obviously faster.

[2018-08-10 05:35] #240 closed

[2018-08-10 16:09] erikhuizinga commented on #175
Why not 🆎?

[2018-08-10 16:10] erikhuizinga commented on #208
This could also be used for stubbing in general, which happens with more than just files. For example, methods, classes and entire projects can be stubbed.

[2018-08-10 16:12] erikhuizinga commented on #178
🗑 is an alternative.

[2018-08-14 14:31] charlyx opened #241 "Add :alembic: for experimenting new things"
Hello @carloscuesta :sunglasses:!

Hello @carloscuesta :sunglasses:!

- Emoji: ⚗️ :
- Code: `:alembic:`
- Description: experimenting new things.

[2018-08-14 15:10] #185 closed

[2018-08-14 15:11] #169 closed

[2018-08-17 08:20] marksantoso opened #243 "Use the 🔗emoji for routes/path changes"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔗
- Code: :link:
- Description: Use the 🔗emoji for route/path changes

[2018-08-28 12:18] bgreenwell opened #244 "Add 🤞for hoping nothing breaks"
Hello @carloscuesta :sunglasses:!

- Emoji: 🤞
- Code: `:crossed_fingers:`
- Description: Hoping nothing breaks

[2018-08-31 15:20] AnthonyLenglet opened #246 "Add 📇 for typings addition or update"
Hello @carloscuesta :sunglasses:!

- Emoji: 📇
- Code: `:card_index:`
- Description: Adding or updating typings

As it stands, I currently use 🎨 or 🔧 to describe typings update or addition (since it can be seen as both structure improvement or a configuration update), however both don't really feel like they're the most fitting for this situation

The typings logo is a typewriter, and this seems to

[2018-09-05 04:54] dwyd commented on #230
I like this idea but the suggested emoji does not appear to be supported by GitHub yet. Using `:brain:` in a commit message does not render 🧠 in the repo.

<img width="120" alt="image" src="https://user-images.githubusercontent.com/2441154/45071567-f23cdc00-b0a4-11e8-887b-1b7bfd2bb7d7.png">

Maybe we can find an alternate emoji? Is there a place to request emoji short code additions?

[2018-09-08 21:44] carloscuesta commented on #246
Closing this in favour of #219

[2018-09-08 21:44] #246 closed

[2018-09-12 11:42] Deuchnord opened #249 "Emojis for the major Web browsers"
Hello @carloscuesta :sunglasses:!

When developing a Web app, it is quite common to fix issues that can happen on a given browser, so I propose these emojis to express which for one you address an issue:

<table>
<tr><th>Emoji</th><th>Code</th><th>Description</th></tr>
<tr><td> :metal: </td><td><code>:metal:</code></td><td>Google Chrome. I thought that as chrome is a metal, it would be fun to use

[2018-09-12 12:33] lucascherifi opened #250 "Improving structure / format of the code seems to be a mix"
Hello @carloscuesta :sunglasses:!

Super idea !

Just a comment : "Improving structure / format of the code" (🎨) seems to be a mix of
Refactoring code (♻️) and Removing linter warnings (🚨) and it's a bit confusing to use.

[2018-09-12 15:03] carloscuesta commented on #249
This also was proposed at #77

[2018-09-12 15:03] #249 closed

[2018-09-12 15:12] felops commented on #230
@dwyd I didn't know that. I will try to contact github to update the emoji list. Otherwise the emoji suggested by @Korri would work.

[2018-09-12 17:50] kiralex opened #251 "test"
Hello @carloscuesta :sunglasses:!

- Emoji: :rainbow:
- Code: `:rainbow:`
- Description:

[2018-09-12 18:17] #251 closed

[2018-09-12 21:01] QuestofIranon commented on #250
Based on my experience;
🎨 Is usually for general readability/ structure changes that are done manually and on a small scale.

♻️ is for larger scale refactoring (ie doing a full rewrite something)

On another note, it seems like I usually see 👕 or 👖 for linter warning corrections instead of 🚨... these are also usually minor changes that bring the code up to language or organization standards.

[2018-09-15 12:12] xuopled opened #253 "Make an atom package"
Hello @carloscuesta :sunglasses:!

It could be great to make an atom package to directly search the right emoji right into Atom.

What do you think ?

[2018-09-15 14:28] ETLaurent opened #254 "📋 Adding TODO(s)"
Hello @carloscuesta :sunglasses:!

- Emoji: :clipboard:
- Code: `:clipboard:`
- Description: Adding TODO(s)

It's quite close to :construction: **Work in progress** and :memo: **Writing docs**, but I think it could be useful to have it.

[2018-09-16 19:25] ETLaurent opened #256 "⚖️ Improving code or application stability"
Hello @carloscuesta :sunglasses:!

- Emoji:  ⚖️
- Code: `:balance_scale:`
- Description: Improving code or application stability

I'm hesitating between this ones: 💪, ✊, 🤸‍♀️,  ☯️.

Maybe we get a better understanding with 🤸‍♀️ rather than ⚖.

[2018-09-19 20:42] felops commented on #230
I received an update from github support:

It's unlikely that we're going to support v11 anytime soon, as browser support for emoji has been getting better. That said, you can still enter whatever emoji you want using the character picker on your OS/browser, or your mobile keyboard.

I will update to 💼, as suggested by @Korri

[2018-09-19 21:13] #227 closed

[2018-09-20 13:21] DanielHilton opened #258 "Emoji suggestion: Updating file permissions (e.g. for chmod +x)"
Hello @carloscuesta :sunglasses:!

- Emoji: ✋
- Code: `:hand:`
- Description: When a commit is being made that contains permissions changes (usually using `chmod`) for files, for example to make them executable or not.

I use gitmoji in my team and have authored a commit purely for changing file permissions, to not find one. Therefore I propose the :hand: emoji for this, as it can represent a hand

[2018-09-20 13:51] ETLaurent commented on #258
Nice one, I suggest ⛔, or 🛑 🔑 🚫

[2018-09-24 13:21] VChabrette opened #259 "[Ubuntu] Incorrect Emoji font"
Hello @carloscuesta :sunglasses:!

I don't know if I'm the only one to encounter this but the emojis are not displayed correctly in Google Chrome on my Ubuntu 18.04 computer (they are plain black glyphs from the default font)

However, after some digging, I saw that the font "NotoColorEmoji" was specified for the emoji display in this commit: https://github.com/carloscuesta/gitmoji/pull/18/commits

[2018-10-12 08:38] ebriand opened #263 "Add 📏for fixing indentation"
Hello @carloscuesta :sunglasses:!

- Emoji: 📏
- Code: `:straight_ruler:`
- Description: Fixing indentation

[2018-10-12 09:11] carloscuesta commented on #263
Hey @ebriand thanks for your suggestion IMHO I think this is covered with 🎨

[2018-10-12 09:11] #263 closed

[2018-10-12 09:11] #259 closed

[2018-10-12 09:13] carloscuesta commented on #250
🎨 Should be used for code formatting things, indentation, spaces tabs etc.
♻️ Should be used for refactoring, rewriting code

[2018-10-12 09:13] #250 closed

[2018-10-15 12:57] jakeprime opened #265 "Use 🏭 for factory objects"
Hello @carloscuesta :sunglasses:!

- Emoji: 🏭
- Code: `:factory:`
- Description: Writing factories for test objects

[2018-10-15 15:27] slykar opened #266 "Add ⚛️ as Heroku emoji"
Hello @carloscuesta :sunglasses:!

- Emoji: ⚛️:
- Code: `:atom_symbol:`
- Description: This emoji is identified with Heroku platform.

[2018-10-17 09:26] AnthonyLenglet opened #267 "❎ For fixing broken tests"
Hello @carloscuesta :sunglasses:!

- Emoji: :negative_squared_cross_mark:
- Code: `:negative_squared_cross_mark:`
- Description: Fixing broken tests

We currently have ✅ for adding tests, but none for fixing said tests
:negative_squared_cross_mark: Feels like it would fit better than :x: since the green color better communicates that the commit _fixes_ them

[2018-10-28 22:46] Broccolai commented on #258
🔑 makes the most sense to me.

[2018-10-30 09:22] eyexx opened #270 "There is no twitter card in https://gitmoji.carloscuesta.me/"
Hello @carloscuesta :sunglasses:!

I try to share this site on twitter, then I found there is no twitter card.

Can I make a PR with adding twitter card for more people share this good site (https://gitmoji.carloscuesta.me/ )on twitter!!!!😀
![screen shot 2018-10-30 at 18 18 22](https://user-images.githubusercontent.com/31874274/47708113-b66f5e80-dc70-11e8-9018-c60ccbf9f253.png)

[2018-10-30 13:04] carloscuesta commented on #270
I've noticed but couple of months ago was working!

Feel free to implement the twitter card @Koshukey

[2018-10-31 00:43] Koshukey commented on #270
Ok! Thanks! I will make PR!

[2018-11-01 08:37] preeteshjain commented on #244
I will it for every commit. /s

[2018-11-01 08:38] preeteshjain commented on #244
I will use it for every commit. /s

[2018-11-02 02:35] chernjie opened #272 "Open Graph sharing image is missing"
Hello @carloscuesta :sunglasses:!

See screenshot for missing image when sharing on Facebook
![image](https://user-images.githubusercontent.com/275729/47890643-bc408c00-de8a-11e8-8c4d-9a8d1bcda748.png)

https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fgitmoji.carloscuesta.me%2F

[2018-11-02 02:40] chernjie commented on #272
Looks like this is addressed in #271 by @Koshukey

[2018-11-02 02:43] #272 closed

[2018-11-02 13:27] #270 closed, assigned to nobody

[2018-11-06 15:28] louiseswift opened #274 "Use 👀 for monitoring service configuration"
Hello @carloscuesta :sunglasses:!

- Emoji: :eyes:
- Code: `:eyes:`
- Description: Monitoring service configuration

[2018-11-07 14:56] ghivert opened #275 "Add 🔌 to illustrate connection between frontend and backend"
Hello @carloscuesta :sunglasses:!

- Emoji: :electric_plug:
- Code: `:electric_plug:`
- Description: Sometimes, you're connecting the backend to the frontend when building an SPA. The emoji would illustrate it.

[2018-11-11 19:02] carloscuesta commented on #218
Hey @hmajid2301 thanks for sending your suggestion!

As long as swagger it's mostly related with API docs. I think that could be covered with :memo:

Thanks!

[2018-11-11 19:02] #218 closed

[2018-11-11 19:14] carloscuesta commented on #253
Yeah, could be a great idea!

[2018-11-11 19:14] #253 closed

[2018-11-11 19:29] #236 closed

[2018-11-11 19:36] #211 closed

[2018-11-12 08:30] carloscuesta commented on #266
Could be also identified with the Atom editor, don't you think so?

How would you use this Gitmoji?

[2018-11-12 11:07] carloscuesta commented on #254
Hey @ETLaurent

Thanks for filling an issue and creating a PR, as you say I think this is really close to 🚧 `wip` so I think that doesn't add extra value compared to it!

[2018-11-12 11:07] #254 closed

[2018-11-12 11:10] carloscuesta commented on #219
Hey @melaniebrgr feel free to send a PR!

[2018-11-12 16:36] melaniebrgr commented on #219
@carloscuesta done! https://github.com/carloscuesta/gitmoji/pull/278

[2018-11-12 16:42] BrendanFDMoore commented on #178
"tidying up" is certainly distinct from adding documentation. There is supposed to be a broom/sweep emoji coming in with the latest Unicode, about which I am unreasonably excited.

[2018-11-12 17:57] carloscuesta commented on #219
Thanks @melaniebrgr 🎉

[2018-11-12 17:57] #219 closed

[2018-11-12 18:43] slykar commented on #266
@carloscuesta As far as my memory goes it has been associated with Heroku platform long before Atom editor even existed, but I think you are right that it could be understood by someone as Atom Editor.

I usually use this emoji when I add or modify any Heroku specific files to the repo, like `heroku.yaml`, `runtime.txt` or `bin/*` build hook scripts. It's not used frequently, but that's because I

[2018-11-13 10:54] slykar commented on #266
Using this line of argumentation I could say the same about Kubernetes ☸️ and Docker 🐳 , but yes, to some extent those are declarative configuration files of an orchestration platform with some scripts here and there.

[2018-11-15 14:55] DoubleU23 commented on #243
would like something that connects gaps,
but the bridge doesn't look specific enough :bridge_at_night:

or something that splits into "routes"/branches,  like :cactus: or :tanabata_tree:

alertanative (brainstorming):
:busstop:  __|__ :left_right_arrow: __|__ :arrows_counterclockwise:

[2018-11-15 22:23] DoubleU23 opened #280 "badge suggestion(s)"
Hello @carloscuesta :sunglasses:!

beacuse of readability i suggest to change the github badge
since the emoji in the badge is rendered in white,
we need either need a dark background color, or put the emoji in the left collumn

__suggestion:__
![badge-suggestion](
https://img.shields.io/badge/%F0%9F%98%BB-gitmoji-F2BF00.svg?style=flat-square  )
_generated with [shields.io](https://shields.io/#/)_

[2018-11-26 05:40] Quilljou commented on #217
Recently I build an [Alfred gitmoji workflow](https://github.com/Quilljou/alfred-gitmoji-workflow). It can search emoji with the description and name in English. If gitmoji has different translations, I can extend the ability of the workflow to search with different translations. So when the we can find the way to manage different translations.

[2018-11-27 19:53] shimatai commented on #275
I don't agree. The 🔌emoji is more associated to a pluggable module, like a NPM module, a Java Library, a Maven/Gradle dependency.

[2018-11-27 19:57] shimatai commented on #265
It could be used to describe a fix to a class that implements the Factory pattern too. Nice suggestion.

[2018-11-27 20:01] shimatai commented on #243
I don't agree, because this emoji is also associated to Chain of Responsibility design pattern.
I think 🛣(road) is more intuitive.

[2018-12-01 11:54] dcastil commented on #267
I just had a similar idea. But my thought was to just update the description from `✅ Adding tests.` to `✅ Updating tests.` as this implicitly also includes fixing broken tests. This would be easier to handle than having two different emojis for quite similar things.

[2018-12-18 13:50] johannesluedke opened #282 "Add ⚖ as emoji for legal stuff (adding terms and services, consent buttons etc.)"
Hello @carloscuesta :sunglasses:!

- Emoji: ⚖
- Code: `:balance_scale:`
- Description: Adding/changing legal stuff, f.e. changing terms of services, adding consent buttons etc.

[2018-12-21 06:58] BrendanFDMoore commented on #282
I like this!

also useful for things like `LICENSE.md` etc

[2018-12-21 07:09] BrendanFDMoore commented on #267
This is what I do too @dcastil

[2018-12-21 15:18] JesseKPhillips commented on #265
I think this is too granular.

[2018-12-21 15:21] JesseKPhillips commented on #244
I think going this far with emoji is too much. If you hope nothing broke I would expect that you ha a change, feature bug fix, docs. Just saying you hope nothing breaks is bad communication.

[2019-01-02 11:58] Fydar commented on #282
I don't think this is too granular at all - legal is an entire department in games development.

However, there could be another use for the ⚖️ emoji in game balancing, changing a units attack, e.t.c

[2019-01-03 06:44] JesseKPhillips commented on #208
I'd prefer to encourage more complete Commits. These Commits should be WIP and git commit --fixup should make it complete.

[2019-01-03 06:49] JesseKPhillips commented on #196
I'd prefer to encourage more complete Commits. These Commits should be git commit --fixup. And that should be fine because you broke the build on a branch right?

[2019-01-11 06:21] rydnr opened #283 "TDD emoji: a new test (failing)"
Hello @carloscuesta :sunglasses:!

- Emoji: 🧪:test-tube:
- Code: `:test-tube:`
- Description: When doing TDD, some people like to commit each step of the iteration (write the test, implement code to make the test pass, refactor). I'm looking for an emoji to represent the first step: a new test that should be failing.

I'm aware :test-tube: has just been added to Unicode and needs some time to beco

[2019-01-11 06:31] rydnr opened #284 "TDD emoji: naive implementation of a test 😇"
Hello @carloscuesta :sunglasses:!

- Emoji: :innocent:
- Code: `:innocent:`
- Description: When doing TDD, some people like to commit each step of the iteration (write the test, implement code to make the test pass, refactor). I'm looking for an emoji to represent when the code used to pass the test is a dummy, trivial version that does nothing but what the test expects.

[2019-01-15 10:31] charlyx opened #285 "Add 🧭 for fixing something on Safari"
Hello @carloscuesta 😎!

Emoji: 🧭
Code: :compass:
Description: Fixing something on Safari.

[2019-01-22 04:42] bgreenwell commented on #244
I disagree, we're talking about using emoji in git commits. The point is having fun with it, not taking it too seriously.

[2019-01-22 05:53] JesseKPhillips commented on #244
I think conventional commits or close to it are important. I think the emojies can help guide that. It would be good to have section on the site to designate (for fun vs serious)

[2019-01-25 15:02] fbruetting opened #287 "Generic container emoji instead of that docker whale"
Hello @carloscuesta :sunglasses:!

There are other/better container applications that docker, for example podman, which you can use in almost completely the same way. I’d therefore like to alter that whale to a more generic “containery” emoji. As there is no container emoji, the package 📦 one could be used, but this is used already. There’s still the present package 🎁, but the difference is not th

[2019-01-25 18:11] fluffynuts opened #288 "Install issues on linux"
Hello @carloscuesta :sunglasses:!

I'm having issues trying to install gitmoji on a linux box (after having used it quite successfully on a windows machine for a while).

I've used nvm to switch node versions, so this has failed with the same result on:
- 8.12.0
- 8.15.0
- 10.15.0

Upon attempting to install gitmoji, I get the error:
[code]

So, basically, `kexec` b0rks, and from what I've been ab

[2019-01-26 16:38] carloscuesta commented on #288
Gitmoji is not meant to be installed on a machine. Probably you shoul try gitmoji-cli

[2019-01-26 16:38] #288 closed

[2019-02-06 20:20] coliss86 opened #289 ":space_invader: Integrating third party libraries"
Hello @carloscuesta :sunglasses:!

- Emoji: :space_invader: :
- Code: `:space_invader:`
- Description: use this emoji when you integrate third party lib on which you can't do much

[2019-02-09 22:11] carloscuesta commented on #287
Yeah!

I think it's a good idea to find an emoji for the container concept rather than having only one for Docker!

[2019-02-09 22:12] carloscuesta commented on #280
Hey @DoubleU23

IMHO with that badge the text reads worse.

Thanks for your suggestion!

[2019-02-09 22:12] #280 closed

[2019-02-09 22:13] carloscuesta commented on #285
Hey @charlyx

Thanks for your suggestion this is related to #77

[2019-02-09 22:13] #285 closed

[2019-02-09 22:15] carloscuesta commented on #267
Makes sense!

Feel free to send a PR ❤️

[2019-02-09 22:15] carloscuesta commented on #283
Guess that you could be covering that with ✅ ?

Thanks for your suggestion! @rydnr

[2019-02-09 22:15] #283 closed

[2019-02-10 21:48] #267 closed

[2019-02-11 09:31] AnthonyLenglet opened #292 "Add 🥅 for catching errors"
Hello @carloscuesta :sunglasses:!

- Emoji: 🥅
- Code: `:goal_net:`
- Description: Catching errors

As of right now I would use 🔈 for commits about catching errors, but it feels more linked to debugging, when catching errors isn't that

[2019-02-14 02:02] fbruetting opened #293 "[Website] More intuitive listing"
Hello @carloscuesta :sunglasses:!

Would be cool if you could list the emojis on the website in more practical categories and order. I for example have to look every time through the whole list searching something or to not miss something I could add. I think the following grouping could for example make good sense (I already sorted by importance/frequency I thought which made sense to me; not sur

[2019-02-14 13:17] amadeu01 opened #294 "Use 🏰 for Xcode playgrounds"
Hello @carloscuesta :sunglasses:!

- Emoji: 🏰
- Code: `:european_castle:`
- Description: When we have a new playground added to the project or a playground file fixed such as in this PR https://github.com/kickstarter/ios-oss/pull/583
It would be nice to have an emoji to represent the playground 😄

[2019-02-15 13:02] DoubleU23 commented on #280
i never meant to stick to a specific color.
Just adding some variance to highlight the problem and try other layouts...
nevermind!

[2019-02-20 22:35] dmcfaddengalway commented on #175
I like @erikhuizinga 's suggestion. It is much more straight forward and very likely that a user would be able to infer the meaning immediately. I can work on this if approved.

[2019-02-20 23:08] dmcfaddengalway commented on #77
@carloscuesta is it that you the compass for Safari? I would be happy to add in the browsers.

Personally, I like:

**Firefox:** (Good consensus)
🦊 (code `:fox_face:`)

**Safari:** (Good consensus)
⏱ (code `:stopwatch:`)

**Chrome:** (Good consensus just need to decide direction)
🚥/🚦 (code `:traffic_light:`)
I think vertical would be best as I feel horizontal could be used for something else relat

[2019-02-21 15:07] ChristophHornung opened #296 "Use 💩 for dirty hacks"
Hello @carloscuesta :sunglasses:!

- Emoji: 💩
- Code: `:poop:`
- Description: A quick and dirty hack to fix a problem. Code that should probably be cleaned in the near future.

[2019-02-21 16:02] ChristophHornung commented on #296
Ah, it is already in the list I just didn't see it 🙈

[2019-02-21 16:02] #296 closed

[2019-02-22 17:39] Jakob-Maudience opened #297 "📁 For moving files to different directories"
Hello @carloscuesta :sunglasses:!

- Emoji: :file_folder:
- Code: `:file_folder:`
- Description: Moving a file from one directory to another

Sometimes you gotta move files for better or worse. 💩 happens!
Technically related to file renaming I suppose.

[2019-02-22 18:09] Jakob-Maudience commented on #297
Ah disregard, I now see that `:truck:` is used for moving files. My bad.

[2019-02-22 18:10] #297 closed

[2019-02-26 00:06] AnthonyLenglet commented on #293
[The PDF is separated in categories](http://gitmoji.com/), the categories could be the same as this one ?

[2019-02-26 00:21] fbruetting commented on #293
Ah, so what is the relation between those two sites?

The distinct difference here is that I split the list in main and detail categories. So if you don’t want to use all the details, everybody could just stick to the main ones. The others in my approach are more meant to be used additionally for details (I for example always use this pattern: `<base>[<detail>…]`, like `🎉📄🙈 Base files and data` or

[2019-03-03 15:08] briceln commented on #287
I like the idea of a generic emoji for containers!

What do you think of the emoji :articulated_lorry: for containers?
Otherwise there is the emoji :ship: (not the emoji :passenger_ship:)

[2019-03-03 20:20] fbruetting commented on #287
The coffin ⚰ would be some sort of container… 🙈

[2019-03-13 03:38] techieshark commented on #187
Might be cool to have a little helper, similar to https://github.com/fteem/git-semantic-commits which then sticks the appropriate gitmoji in the commit message.

E.g.
[code]

[2019-03-18 08:59] alessandropaperini opened #299 "Add ☄️ as emoji for massive code update"
Hello @carloscuesta :sunglasses:!

- Emoji: ☄️
- Code: `:comet:`
- Description: Massive code update

I'd like to use 🛸 (Flying Saucer) instead of ☄️ but i'm not sure it's possible

Sometimes a massive code update is needed to complete. it's about updating of several files at the same time, which involves multiple operations, such as adding a file, changing configurations but also writing code.
Usu

[2019-03-18 10:48] jezmck commented on #293
🎉 first would make sense.

And after that, perhaps they should be ordered by frequency of use, gleaned from GitHub?

[2019-03-18 12:34] alessandropaperini opened #300 "Add 🔮 as emoji for update code due to confusion while merge"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔮
- Code: `:crystal_ball:`
- Description: Update code due to confusion while merge

It's not a 🐛or 🚑but it can happen to lose parts of code that must be restored. It's about restoring lost code after merge.

[2019-03-18 22:18] fbruetting commented on #293
How often do you need :tada:? Exactly, almost never.

[2019-03-22 04:08] spjpgrd commented on #282
👨‍⚖️ Or 👩‍⚖️ could work?

[2019-03-24 02:06] techieshark commented on #60
I just use `<cmd>+<ctrl>+<space>` on Mac, but Rocket seems cool too.

[2019-03-27 11:12] jeroenheijmans opened #302 "Consider adding a print stylesheet"
Fantastic little repo! Love it!! ♥

Please consider adding a stylesheet for print media, so I can get a paper cheat sheet on my desk (so please make it so that it becomes a condensed overview of all suggestions).

Would be happy to make a PR if you like the idea.

[2019-03-27 13:31] roipoussiere opened #303 "Add 🥒 for adding gherkin features or step definition"
Hello @carloscuesta :sunglasses:!

- Emoji: :cucumber:
- Code: `:cucumber:`
- Description: Adding or updating Gherkin features or step definitions

[Gherkin](http://behat.org/en/latest/quick_start.html) is the language used to describe tests in [Behavior-Driven Development](https://en.wikipedia.org/wiki/Behavior-driven_development). We could use the :cucumber: emoji for gherkin-related commits, su

[2019-03-27 13:46] roipoussiere opened #304 "Add 🔌 to illustrate writing something related to an API"
Hello @carloscuesta :sunglasses:!

- Emoji: :electric_plug:
- Code: `:electric_plug:`
- Description: writing something related to an API

On #216, someone asked what should be used when "adding new API". I was looking for something similar: a way to describe a commit do something related to an API (such as defining API route, editing an OpenAPI file, etc.).

On #275, it is suggested to use :electr

[2019-03-31 18:00] jseguillon commented on #287
What about 🧠 ? a container is a fully working brain that deals with environment and in/out signals 😊

[2019-03-31 19:00] carloscuesta commented on #302
Would be great! I'm closing this in favour of https://github.com/carloscuesta/gitmoji/issues/108

[2019-03-31 19:00] #302 closed

[2019-03-31 22:30] AnandChowdhary opened #306 "Add 👾 for automated commits from a bot"
Hello @carloscuesta :sunglasses:!

- Emoji: 👾
- Code: `:space_invader:`
- Description: Automated commits from a bot

This proposal conflicts with #289, which uses this emoij for integration with third-party libraries. However, I think this is the only relevant emoji after 🤖 (which would be perfect, but is used for "Fixing something on Android").

There are a lot of bots floating around which would

[2019-04-04 19:31] ThomasProctor opened #308 "Use bitbucket compatible shortcuts."
Hello @carloscuesta :sunglasses:!

A few of the emoji shortcuts here don't work on bitbucket. However, for all of the one's I've found, there are shortcuts that work for both bitbucket and github:
💩 : `:hankey:` -> `:poop:`
📝 : `:memo:` -> `:pencil:`

These, at least, should be changed. It would also probably be a good idea for someone to comprehensively check all of these emoji for compatibility.

[2019-04-09 19:03] garymazzeo opened #309 "Add 💫 for animation"
Hello @carloscuesta :sunglasses:!

- Emoji: :dizzy:
- Code: `:dizzy:`
- Description: For animation/transitions/motion

Thanks so much for keeping this repository up! We really appreciate it in the office!

[2019-04-10 19:00] paulywill opened #310 "auto git add . feature - what's it really do? documentation needed"
Hello @carloscuesta :sunglasses:!

How does the `auto git add .` feature actually work?

And can you add some more documentation about it?

[2019-04-10 19:12] paulywill commented on #310
This should actually be in the cli repo... apologies.

[2019-04-10 19:12] #310 closed

[2019-04-18 13:17] andreasfernandez commented on #259
I also encounter this issue in Fedora 29.

[2019-04-18 13:35] carloscuesta commented on #259
Should we change it?

[2019-04-18 13:38] andreasfernandez commented on #259
It really makes sense to change `NotoColorEmoji` to `Noto Color Emoji`, that's also the font name I find on various other websites.

[2019-04-21 12:05] krokofant opened #312 "Support unicode emoji option on GitHub pages"
Hello @carloscuesta :sunglasses:!

To make the GitHub pages more useful it would be great to have a switch to support copying the unicode emoji rather than the gitmoji. I really like the concept and the site but would like to have access to the real emoji when commiting through editors like VSCode.

[2019-04-21 12:45] krokofant commented on #312
Not a *switch* solution but with a url suffix:
https://github.com/krokofant/gitmoji/commit/613c8f0c25e209fb6d9b41bf6bfdf7043f61c343

Suffix the url with ?unicode
https://krokofant.github.io/gitmoji/?unicode

If enabled via a switch where should it be? On the menu?

[2019-04-23 20:35] Geertvdc commented on #306
All commits have a reason. If it is a bot or a human doing it should not matter imo. Just let the bot use the right emoji when committing

[2019-05-02 07:44] mtlewando commented on #312
Nice work, @krokofant. This would be great to include in the official GitHub pages. I've recently encountered a couple of places where the shortcode doesn't get rendered and it would probably improve my workflow if I started using Unicode emoji instead.

[2019-05-04 09:13] carloscuesta commented on #312
Hello @krokofant have you tried the [gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli) project? The website purpose is only to show case all the emojis but it's not a comfortable way to use this convention.

Thanks 🙏

[2019-05-04 09:13] #312 closed

[2019-05-04 09:15] carloscuesta commented on #308
Hey @ThomasProctor thanks for your suggestion,

I'm agree with changing the `:hankey:` emoji for the `:poop:` one, but I prefer not to change the current `:memo:` one as it implies an icon change.

Feel free to send a PR, closing this issue 👍

[2019-05-04 09:15] #308 closed

[2019-05-04 09:18] carloscuesta commented on #306
Hey @AnandChowdhary I totally agree with @Geertvdc, each commit has a specific reason. I don't quite like the idea of making a general gitmoji for bot commits since then the whole purpose of the convention loses a bit of sense, since you won't be identifying the purpose of that commit on his emoji.

[2019-05-04 09:18] #306 closed

[2019-05-04 11:50] ThomasProctor commented on #308
@carloscuesta I'm a little confused how `:memo:` -> `:pencil:` implies an icon change. The icons are identical on github: `:memo:`: :memo:, `:pencil:`: :pencil:.

[2019-05-04 12:57] carloscuesta commented on #308
Oh! My bad I saw a :pencil2: instead of :pencil:

Feel free to send the PR

[2019-05-04 13:22] krokofant commented on #312
@carloscuesta That won't work on Windows smoothly, especially in Powershell or CMD. The CLI is also not as accessible. I guess I'll have to maintain a fork for this then.

[2019-05-04 13:56] ThomasProctor commented on #308
I wrote a [little script](https://gist.github.com/ThomasProctor/9c3a40a968c5ec77dfcce5517dac3158) to comprehensively check these.

Unfortunately, it doesn't look like there are any more low hanging fruit. These four emojis exist both on bitbucket and github, but don't seem to have a common code:

🗃: gitmoji code: `:card_file_box:`, bitbucket code: `:card_box:`
🏗: gitmoji code: `:building_construct

[2019-05-04 13:58] ThomasProctor commented on #308
I wouldn't suggest any further gitmoji changes here. The solution is probably to get github or bitbucket to add emoji codes for compatibility.

[2019-05-06 15:51] JesseKPhillips commented on #244
I've had a use for something similar to this, "hope this works." And the reason is I'm developing Selenium UI tests which hit stale element exceptions. We can't identify why the elements would go stale but a change to retry should fix the issue... since it is inconsistent it is hard to prove the fix works.

[2019-05-06 15:54] JesseKPhillips commented on #282
:page_facing_up: Exists as Adding or updating license.

[2019-05-07 06:59] johannesluedke commented on #282
For a plugin-kind-of-repo this might be similiar, but for a repo of a website source code f.e. terms of service or privacy terms would be something different than the license of the source code.

[2019-05-10 18:49] raabf commented on #258
Note that git does not store real file permissions. The only thing which is stored in git, is the executable bit `x`. So a file can be only executable (mode 755) or not (mode 644), nothing other.

Since :key: can be interpreted in may different ways (for example #231 ) and it is a matter of just executable or not, probably something run related fits better. For example
🚸 or 🏃‍♀️ or 🏃

I would pref

[2019-05-10 18:56] raabf commented on #306
Beside that, a bot commit should be also identifiable just by its author, e.g. a bot should have ‘bot’ in its name.

[2019-05-10 19:23] raabf commented on #300
Do you mean with “confusion” that the merge was done faulty (since the merger did not know all parts of the code and selected the wrong lines to merge) and that the code is probably not working any more?

Then the description could be:

     Restore/Correct due to wrong merging.

The emoji could be also chosen so that it looks similar to the merging emoji 🔀, such as:

🔄

[2019-05-20 21:51] szepeviktor opened #314 "✨ Make a cheatsheet style list"
It would be nice to have a visually smaller list on the website.

| Emoji | Code | Commit type |
| ----- | ---- | ----------- |
| :art: | `:art:` | Improving structure / format of the code. |
| :zap: | `:zap:` | Improving performance. |
| :fire: | `:fire:` | Removing code or files. |
| :bug: | `:bug:` | Fixing a bug. |
| :ambulance: | `:ambulance:` | Critical hotfix. |
| :sparkles: | `:sparkles:`

[2019-05-20 21:51] szepeviktor commented on #314
`wget -qO- https://github.com/carloscuesta/gitmoji/raw/master/src/data/gitmojis.json | jq -r '.gitmojis[] | "| \(.code) | \(.description) |"'`

[2019-05-22 18:10] PragatiVerma18 opened #315 "[Website] Navigation can be Improved"
Hello @carloscuesta :sunglasses:!

The nav bar that the website is currently using has a bit outdated look and the toggler sticks to the side always on scrolling downwards, it doesn't look very appealing. It's better to have a navbar that sticks to the head. Or else the dropdown can be eliminated by using a simpler nav bar.
![header](https://user-images.githubusercontent.com/42115530/58197945-fbc9

[2019-05-23 08:27] alessandropaperini commented on #300
Exactly!
I'd say `Fixing due to wrong merging`

The emoji  🔄 it's ok for me

[2019-05-26 17:19] Roms1383 opened #316 ":pencil2: Typo in raw emojis list"
Hello @carloscuesta :sunglasses:!

I found a typo at https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json :

Both :pencil: and :pencil2: have the same `name` property.

I actually use it to auto-generate my `semantic-release` Github release template, so I get this kind of issue, where the same commit appears both on **Fixing typos** and **Writing docs** :

<img widt

[2019-05-28 04:05] Roms1383 commented on #316
Ok I don't know if it's considered as a typo or not (that's why I let you decide whether to close this issue or not), but anyway I got my template to work properly by switching template's to using `code` property instead of `name` :
[code]
Sorry for the disturbance 🤓

[2019-06-14 12:29] raabf commented on #300
Ah forgot to write. Yea “fixing due to wrong merging” is better.
And yea sometimes this kind of commit is necessary.
By the way the GitHub emoji code is:

    :arrows_counterclockwise:

[2019-06-16 16:30] brenorb opened #317 "Standard reference to this repository"
Hello @carloscuesta :sunglasses:!

I believe there should be a standard text referencing to this repo, so people can better undestand and propagate this idea. You should suggest in the README section for people who use gitemoji to write in their Contributing Guideline or README sections something like:

[2019-06-18 14:38] Jakob-Maudience opened #319 "🖖 for vue.js files"
Hello @carloscuesta :sunglasses:!

- Emoji: :vulcan_salute:
- Code: `:vulcan_salute:`
- Description: The vulcan salute emoji is sort of the official emoji for vue -https://github.com/vuejs/vue

Not sure if you want library or software specific emojis in the standard, although there already exists one for Kubernetes, so not sure what the position is on that

Thanks for your consideration

[2019-06-24 13:52] brenorb opened #320 ":art: for design and :triangular_ruler: for structure"
Hello @carloscuesta :sunglasses:!

- Emoji: 🎨 :
- Code: `:art:`
- Description: Updating the UI and style files.

- Emoji: 📐  :
- Code: `:triangular_ruler:`
- Description: Improving structure / format of the code.

I believe this shows the intent better.

[2019-06-26 00:20] george-dotdev opened #321 "Add 💂‍♂️ for adding PR and issue templates"
Hello @carloscuesta :sunglasses:!

- Emoji: :guardsman:
- Code: `:guardsman:`
- Description: This emoji should be used when adding issue or pull request templates

[2019-06-28 11:25] sebastianst opened #322 "Add ⚠ :warning: for error handling"
Hello @carloscuesta :unicorn:!

I recently started using gitmoji in a Go project. In Go, explicit error handling is done frequently and often commits correspond to the addition or update of error handling.

- Emoji: :warning:
- Code: `:warning:`
- Description: Error handling added or updated

This might render #292 obsolete. I think it is better to have an emoji for general error handling, instead

[2019-07-02 16:33] ramytamer opened #324 "Add ⚙️:gear: for integrating with Continuous Integration/Delivery"
Hello @carloscuesta :sunglasses:!

- Emoji: :gear:
- Code: `:gear:`
- Description: This represents adding the required config for integrating with CI/CD services like CircleCI or Travis...etc

[2019-07-04 10:50] exodusanto opened #325 "Add 📖 For component stories like storybook"
Hello @carloscuesta :sunglasses:!

- Emoji: :book:
- Code: `:book:`
- Description:  Component stories (e.g. Storybook or Fractal)

When I create or edit storybook files now I use mocking emoji (🤡) but maybe a book it's more correct.

[2019-07-05 22:52] jwir3 commented on #325
Perhaps :book: would be better suited for documentation changes and :pencil: might be better suited for things like component stories and "copy-editing". For example, the following commit:

[code]

vs. something like:

[code]
[code]

[2019-07-17 12:43] JonathanFarinloye opened #327 "Add ☕ for commit before breaks"
Hello @carloscuesta :sunglasses:!

- Emoji: ☕
- Code: `:coffee_break:`
- Description: For commits when you have to take a break.

[2019-07-17 12:49] SkyaTura commented on #327
Better than just 🚧 WIP

[2019-07-25 12:03] prateek3255 opened #329 "Add 🍒 for cherry picking commits"
Hello @carloscuesta :sunglasses:!

- Emoji: 🍒
- Code: `:cherries:`
- Description: This emoji can be used while committing a cherry-picked commit.

[2019-07-25 13:56] carloscuesta commented on #329
Hey @prateek3255

Thanks for your suggestion, IMHO I think that when you cherry pick a commit , that single commit has a purpose so it’s better to use something to describe the intention of that commit rather than just say that is cherry picked

Thanks!

[2019-07-25 13:56] #329 closed

[2019-08-06 21:09] euzuro opened #330 "Add 🚩 for changes to feature flags"
Hello @carloscuesta :sunglasses:!

I think an emoji for changes related to feature flags would be swell.

In my day job, I am using 🏁 , though I see you have designated that one for windows changes (🤷‍♂ c'est la vie).

I propose:

- Emoji: 🚩
- Code: `:triangular_flag_on_post:`
- Description: Adding, updating, or removing feature flags
- Entity: `&#x1F6A9;`

[2019-08-06 21:12] euzuro commented on #330
nb: I have a commit with the above ready but don't seem to have permission to create a feature branch to create the PR

[2019-08-09 21:31] ra100 commented on #324
Is this too different from :construction_worker: (Adding CI build system.)? Should these to be separated? I'm using `:construction_worker:` for any changes in CI/CD config and so on.

[2019-08-20 03:50] ZexinLee opened #331 "Add 🐌 for changes slowly to a feature"
Hello @carloscuesta :sunglasses:!

- Emoji: 🐌
- Code: `:slow:`
- Description: For commits when you want to slowly change a feature.

Because snails usually crawl very slowly, I think the snail symbol(🐌) can be used to represent a state in which the development of a function or module is slowly developed.

[2019-08-23 23:48] dudeisbrendan03 commented on #324
I think `:construction_worker:` covers this

[2019-08-23 23:49] dudeisbrendan03 commented on #304
+1

[2019-08-23 23:51] dudeisbrendan03 commented on #325
@jwir3 I don't think that any of the gitmojis should be changed in favour of previous commits

[2019-09-10 07:30] jrsinclair commented on #330
Was about to suggest the exact same thing. I've been using 🚩 regularly for this purpose.

[2019-09-13 08:12] philippkahr commented on #287
🧠 is already in use for: https://github.com/carloscuesta/gitmoji/pull/239

[2019-09-25 11:50] chinnichaitanya opened #335 "Emoji for fixing something on iPadOS"
Hello @carloscuesta :sunglasses:!

- Emoji: 🍍
- Code: `:pineapple:`
- Description: We need to have a new emoji for iPadOS. I'm not keen on :pineapple:, but just wanted to start a discussion 😛
Already, 🍎 and 🍏 are used for macOS and iOS respectively.

[2019-09-27 19:45] SnO2WMaN opened #336 "Add 💰 or 💵 for financial something"
Hello @carloscuesta :sunglasses:!

- Emoji: 💰 / 💵
- Code: `:moneybag:` / `:dollar:`
- Description: gitmoji about financial things (ex. Add `.github/FUNDING.yml`).

[2019-10-02 02:56] kazuooooo opened #341 "Can customize emoji ?"
Hello @carloscuesta :sunglasses:!

Thank you for making great tool 👍

I have question ❔
Are there any way to custom emojis and descriptions?
Looks https://github.com/carloscuesta/gitmoji/blob/master/src/data/gitmojis.json has data, but can not find  in nodemodeuls 😢

[2019-10-02 19:54] roxanebellot commented on #293
What about separate conceptual (for instance, deployment) and techno-specific (k8s) emojis ?

[2019-10-03 11:26] grissius commented on #209
I tried to find such list and ended up here.
Via google search on feature emoji commits (`"✨" site:https://github.com/*/*/commits`) i managed to find some. However there are not many significant projects.

Feel free to check the list/update it and add create a showcase. I believe it is more useful to plainly admit, there are no notable projects using it, than to leave ppl looking for it hunt for t

[2019-10-03 11:27] grissius commented on #209
Some people considering using gitmoji might be surprised to find no mentinon of showcased projects on https://gitmoji.carloscuesta.me/.

I suggest considering the issue rather a feature than a question.

[2019-10-03 16:44] carloscuesta commented on #209
Well @grissius I don’t think you should be using a convention based on what others are using / say

It has to be useful to you and your project. That’s why I don’t consider this issue a feature request. Honestly I don’t really care if there are famous and successful projects enjoying the idea of using emojis on commits

The real thing is about presenting this idea to the world

[2019-10-04 06:16] grissius commented on #209
While I agree as an individual, we must understand that this might be a factor when deciding to use gitmoji in a larger team or even a corp, which would prefer a standard (not just documented but also used by some) solution compared to random hipster technology, whose authors are to proud to care if anyone is using it.

I just pointed out that there might be other people like @nijikokun or I that

[2019-10-04 08:23] carloscuesta commented on #209
@grissius grissius

Take a closer look at my words; I don’t really care **if there are famous and successful projects** enjoying the idea of using emojis on commits. I understand that some companies need to justify using conventions based on what others are making.

As I said in on https://github.com/carloscuesta/gitmoji/issues/209#issuecomment-538027224 it's a good idea but not a extremely import

[2019-10-05 10:15] roxanebellot commented on #293
I allow myself to bring https://github.com/carloscuesta/gitmoji/issues/138#issuecomment-319372699 to your attention, gentlemen :tophat:

[2019-10-05 11:01] carloscuesta commented on #293
Hey!

I prefer to have a simpler concept, just a basic list!

There's more info here: https://github.com/carloscuesta/gitmoji/issues/138#issuecomment-319372699

Thanks!

[2019-10-05 11:01] #293 closed

[2019-10-08 07:02] grissius commented on #209
@carloscuesta If I created a PR with the showcase, would you consider merging it or not for now?

[2019-10-08 07:27] grissius opened #345 "The future of gitmoji"
Hi @carloscuesta ,
I am great fan of gitmoji and I would like to contribute to the cause.

In fact I started using it few weeks ago and I think the project could move in more dynamic way. Here are several imperfections I find in gitmoji
 - PRs and issues are not very well maintained (moths old PRs without reaction)
 - The project could benefit from more formal specification
 - Gitmoji CLI could ha

[2019-10-08 08:37] carloscuesta commented on #345
Hello @grissius

Thanks for your interest on the future of the project. I totally understand your point of view on that the project should move in a more dynamic way. In fact that's probably right. The reason why there are a lot of PRs and Issues without any reaction is because I think I should not be the only person deciding based on my criteria if something should be added as a `gitmoji` or not.

[2019-10-08 08:40] carloscuesta commented on #330
Hey @euzuro

Thanks for your suggestion feel free to send a pr!

[2019-10-08 09:18] grissius commented on #345
ad. The project could benefit from more formal specification, here are some ideas:

Having defined the emojis for different tasks, a standard powerful enough to compare to conventional commits has been created. However it only defines, what emojis to use when, and even that is bit vague at some points.

The only additional info is the brief introduction in the readme:

I would suggest the followin

[2019-10-08 11:53] grissius commented on #341
You can change descriptions in the file you linked.

I this about having troubles running the project locally? Make sure you follow instructions [How to start gitmoji and update](https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md#how-to-start-gitmoji-and-update)

If you're missing `node_modules`, you might have forgotten to `npm install`.

If its not about local developmen

[2019-10-08 11:59] grissius commented on #336
Hi, thanks for your suggestion, are there any other usages you can think of apart from sponsorship links, info, metadata?

[2019-10-08 12:00] grissius commented on #331
Hi, thanks for the proposal. Alas, I am not sure I understand when to use the emoji. Could you elaborate on that, or even better, provide an example with comments why you would use it?
Thanks a lot!

[2019-10-08 12:05] grissius commented on #335
Hi, thanks for the suggestion.
At this point, this emoji feels too specific compared to current state of emoji variety. I don't think adding to the resolution of apple OSs would benefit many projects.

[2019-10-08 12:08] grissius commented on #327
Hi, thanks for suggestion.

Why exactly is this better than :construction: though ? :construction: is more generic and applies even to people who don't drink coffee.
Type of commit `before break` is not something you would like to keep in your clean history IMO.

I think these to reasons are cause of this issue getting some downvotes.

[2019-10-08 12:29] grissius commented on #324
Hi @ramytamer!
I must agree with others, this seems like textbook usage of :construction_worker_man: _Adding CI build system._

[2019-10-08 12:29] #324 closed

[2019-10-08 12:34] grissius commented on #322
Hi @sebastianst,
thanks for proposal. This would indeed render #292 obsolete, but to my mind the :goal_net: feels more expressive, and with any fantasy it represents error handling in general.

I am afraid that :warning: on first impression might be incorrectly associated with for example lint warnings, or _beware of this commit_ or whatnot, which could introduce some confusion.

[2019-10-08 12:39] grissius commented on #317
Hi @brenorb,
I think that is great idea. I think readme section with text is a bit problematic. Are there any other projects using this convention?

All I can think of either use bedges (prettier, conventional commits, lint etc.) or keepachangelog, which embes the text into "managed" format CHANGELOG.md.

I think a custom badge is a way to go. What do you all think?

[2019-10-08 12:43] grissius commented on #315
Hi @PragatiVerma18, thanks for your opinion.
While I agree, I don't think it's a priority. It might be improved, but it's not bad and still look appealing IMO.

However, if you'd like to do a PR, it would be most welcome!

[2019-10-08 12:50] grissius commented on #303
Hi, thanks for proposla @roipoussiere !

I can help but thinking that adding this emoji would be like adding :black_joker: for Jest, :coffee: for Mocha tests etc, but I understand that BDD tests are a general thing as snapshot testing.

I would wait for more upvotes before adding the emoji.

[2019-10-08 13:05] carloscuesta commented on #317
I quite like the idea of having:

<a href="https://gitmoji.carloscuesta.me">
		<img src="https://img.shields.io/badge/gitmoji-%20😜%20😍-FFDD67.svg?style=flat-square"
			 alt="Gitmoji">
	</a>

[2019-10-08 16:30] SnO2WMaN commented on #345
For your infomation, Now I'm working on [customizable gitmoji-cli](https://github.com/SnO2WMaN/customizable-gitmoji-cli
) rewritten typescript.

It may not be much related ...

[2019-10-08 18:12] grissius commented on #77
I think this is pushing pushing gitmoji to a very specific and focused direction. I don't think it should add additional emojis to specialize 🐛 (I know that e.g. 🦊 does not have to be bugfix on firefox, and maybe that's even worse -- it brings ambiguity and becomes just a meaningless picture, that tells you there has been done something about firefox).

 - These emojis IMO are (in most cases) spec

[2019-10-08 18:16] grissius commented on #144
Hi @epilande ,
sorry for late reply. I think it is a briliant idea. Can you make a PR?

[2019-10-08 18:19] grissius commented on #175
I am not an expert but is A/B testing a thing to do in a single commit? Can you present an example on github when you would use this emoji?

[2019-10-08 18:21] grissius commented on #178
Hi @ahammel ,
thanks for proposal. I think it makes sense in the concept of the project. PR welcome.

[2019-10-08 18:25] carloscuesta commented on #317
Definitely a CONTRIBUTING.md template could kinda help

[2019-10-08 18:25] grissius commented on #330
If I am not mistaken, this is a duplicate of #183, closing this for now. When considering PR, feel free to use 🚩 `:triangular_flag_on_post:`.

[2019-10-08 18:25] #330 closed

[2019-10-08 18:25] grissius commented on #183
I think that 🚩 `:triangular_flag_on_post:` mentioned in #330 is more convinient.

[2019-10-08 18:34] brenorb commented on #317
When I first posted this issue, I didn't know CONTRIBUTING.md even existed hahaha
That's why I first suggested on README. Well, I hope that helps. 😄

[2019-10-08 18:45] grissius commented on #187
Hi @jamarr81, thanks for your input.

That which you explained (correct me if I am wrong), is an issue for two reasons
 - you add another red button and get lost in naming
 - you don't know the purpose of red button and must look it up

This eventully happens and thus it is considered a bad practice, because you can avoid it with using proper naming and it costs nothing.

The situation with gitmoj

[2019-10-08 18:50] grissius commented on #196
Hi @efinlay24 , thanks for proposal. However, I think we have enough fixing symbols.

The scenario IMO goes one of two ways:
 - you are running a serious project, then you commit 💚 to fix the borken CI or 🐛 to fix a bug
 - you are working on anything not so public, and you wont be so eager to let everyone know you're a 🍩 😹  and you should ammend, rebase, fixup, whatever.

All in all, I think that

[2019-10-08 18:56] grissius commented on #208
Tschus @satyasinha, thanks for suggestion. I must agree with @JesseKPhillips, creating scaffolded files should be 🚧, if that's something you like to commit.

I think this would create confusion and people would use it for features ✨ , mocks 🤡, snapshots 📸 , assets 🍱 and even initial commits 🎉 😹

I suggest closing the issue.

[2019-10-08 19:04] grissius commented on #265
@jakeprime Thanks for your input. I agree with @JesseKPhillips it is too specific and not widely applicable. But its cute ❤️

[2019-10-08 19:04] #265 closed

[2019-10-08 19:07] grissius commented on #256
Greetings @ETLaurent !
I find it difficult to imagine this would be other than a very rare case: to improve stability of application with a single commit. I think it is too specific improvement to include.

Thanks for suggestion!

[2019-10-08 19:07] #256 closed

[2019-10-08 19:11] grissius commented on #266
I agree this is too specific and can easily be covered with 🔧

@slykar you are correct, it is similiar to Kubernetes and Docker. I agree they are too specific. Let's not use that as our excuse to add more specialized symbols that just make gitmoji harder to use.

Thanks for suggestion though ❤️

[2019-10-08 19:11] #266 closed

[2019-10-08 19:15] grissius commented on #258
Heya @DanielHilton
This is interresting. While I like the idea, I think it is very rare to update file permissions. In my expirience there is a single commit in a regular repo (or none in even more ordinary repo) when you forget to set the permissions of a CLI.

At this point I don't think that the use case is so common to make sence to introduce the symbol. Do you agree? If not, can you point to

[2019-10-08 19:22] grissius commented on #244
Unfortunatelly I don't believe this adds to much information to the commit. People could use just this emoji. I mean who does not hope for the best? 😸

For that reason, I don't think its a good direction to add the emoji.

@bgreenwell You should have fun, but also make sense. If you just want to make fun, you will use random emojis no matter if its included in gitmoji. We are not here for fun, we

[2019-10-08 19:22] #244 closed

[2019-10-08 19:45] jrsinclair commented on #183
I’ve been using 🚩 as well.

[2019-10-08 20:50] satyasinha commented on #208
Sounds good, thanks!

[2019-10-08 20:50] #208 closed

[2019-10-08 20:54] erikhuizinga commented on #175
I have a commit in a private repo (so I cannot link to it, sorry not sorry 😉): the commit is in a branch that implements an A/B tested feature. However, the commit bearing the 🆎 emoji in the commit message is the one that uses the actual boolean logic to either enable or not enable the feature under test.

So I'd say that 🆎 is used when implementing the logical branches where the feature under tes

[2019-10-09 03:51] ZexinLee commented on #331
@grissius You may use it when you are developing a lower priority function. If so, the maintainer can process more urgent matters without being disturbed and process your updates when he or she has free time. The description should be "For commits when you develop a lower priority function."

[2019-10-09 06:09] grissius commented on #175
@erikhuizinga Thanks for response. The case commit you mentioned seems to boil down to feature flag #183, which could be used for that case. I know it's not the same, but using :ab: symbol, in my opinion is very rare and I am not convinced it is worth adding the symbol.

Would you agree that feature flag covers that to some extent?

[2019-10-09 06:13] grissius commented on #317
@carloscuesta @brenorb Thanks for all the inputs. I think the best solution is adding a badge and mention it in CONTRIBUTING.md.

In this matter I think it would be more suitable to have the badge image in this repo, instead of a general link to shields.io, perhaps providing a regular and flat version of the button. This allows us to change the official badge in the future without needing to updat

[2019-10-09 06:18] grissius commented on #331
Thanks for your reply @ZexinLee.
While I understand you urge to add the :snail: I think it's getting bit off the course. All other symbols describe what does the commit do, while this add info about priority.

Apart from that, I think that it is rerely needed to annotate priority based on commits. I do not know of a git branching flow that would focus on individual commits instead of branches. Thu

[2019-10-09 06:27] grissius commented on #275
I think FE / BE connection is too specific. Let's go for something regarding API in general as in #304

[2019-10-09 06:27] #275 closed

[2019-10-09 06:36] erikhuizinga commented on #175
Yes, agreed. 🆎 would be a more specific case of 🚥, which is a more specific case of ✨: adding a feature flag is like adding (the possibility of) a feature.

The question is: how specific do you want to go?

At the extreme (which is nonsense), we could take _every_ emoji (including combinations/variations) and think of a programming use case for it, just to have the emoji. That's not a valid approa

[2019-10-09 06:36] grissius commented on #319
Ciao @Jakob-Maudience

thanks for the proposal but at the moment I don't think that adding an emoji that is not only specific to web development, but also to one given framework is a good decision.

Also if added, would this not deny the purpose of gitmoji? Anyone could use :vulcan_salute:, that is even when adding a feature, changing ui, possibly refactoring code etc. It was similiar case for #20

[2019-10-09 06:36] #319 closed

[2019-10-09 06:39] grissius commented on #345
Thanks for your input @SnO2WMaN
Would you summerize what are the new features of your gitmoji-cli fork? Is it about more configuration or about adding new symbols that are not supported by gitmoji?

If its the former, would you consider creating a PR if thats ok with @carloscuesta

[2019-10-09 08:15] #327 closed

[2019-10-09 08:17] grissius commented on #322
Lets continue on #292 and generalize it.

[2019-10-09 08:17] #322 closed

[2019-10-09 08:18] #335 closed

[2019-10-09 08:21] grissius commented on #316
@Roms1383 yep, its a bug. Thank you for bringing it to attention. Lets change it to `pencil2`. Agree @carloscuesta ?

[2019-10-09 08:25] grissius commented on #320
Howdy @brenorb, thanks for suggestion!

We already have :lipstick: `Updating the UI and style files.`.

This is a breaking change (:art: completely changes meaning) but it makes more sense. Let's save it for a major release if there is one in the future.

[2019-10-09 08:52] grissius commented on #300
@alessandropaperini thanks for suggestion. I think however that this can be covered by :bug: :recycle: or :ambulance:  depending on the nature of the fix.

[2019-10-09 08:52] #300 closed

[2019-10-09 09:53] efinlay24 commented on #196
Hah, I had entirely forgotten about this, no idea it was still open after _checks_ nearly a year and a half. 😀

Closing.

[2019-10-09 09:53] #196 closed

[2019-10-09 10:50] ZexinLee commented on #331
@grissius Thanks for your quick reply. I also think that using branch to control is better. Is the aim of the gitmoji to use in regular commit? As you mentioned, 🐌 can be used in annotate branch or PR instead of using in commit. It has relatively few uses in commit. Should I send a PR to add it?

[2019-10-09 16:43] grissius commented on #331
Sorry @ZexinLee, but at this point, gitmoji only defines how to handle commits, not branches. If we agree that the symbol is only applicable to branches, I suggest closing.

[2019-10-09 16:46] grissius commented on #304
@roipoussiere It makes sense to me to have a symbol for API related changes. Alas I fear that 🔌 is not specific enough and might refer to integration in general, which is a symbol gitmoji could benefit from.

Are there any other ideas for API related changes?

I think it should cover:
 - adding API integration (replacing mocks)
 - upgrading API version and performing necessery updates
 - changing

[2019-10-09 16:49] grissius commented on #294
Hia @amadeu01, thanks for suggestion! I am not sure however I understood the usage of the emoji from the referenced commit. Maybe its hard for someone who isn't familiar with Xcode.

Could you elaborate?

So far I think it is very specific and not much widely applicable.

[2019-10-09 16:53] grissius commented on #289
I think we could generalize this into an integration of any sort, not just API.

[2019-10-09 16:53] grissius opened #346 "Integration of components, modules or libraries"
Hello @carloscuesta :sunglasses:!

- Emoji: 🔌
- Code: `:electric_plug:`
- Description: Changes related to integrating so far isolated components, including reconnecting to a different component after version change or component replacement

There is currently a symbol conflict with #304
Closes #289

[2019-10-09 16:54] #289 closed

[2019-10-09 16:57] grissius commented on #287
@fbruetting I agree gitmoji should not prefer any specific service. Removing 🐳 would be a breaking change for gitmoji.

On the other hand, everyone knows Docker, and whale is iconic. I think for the time of beign it would suffice to update the description only, that it applies to any container service.

[2019-10-09 19:38] SkyaTura commented on #345
I loved the idea of standardizing the specification using the [RFC 2119](https://www.ietf.org/rfc/rfc2119.txt), however, I'd like to add my opinion to the discussion.

The way I see, Gitmoji is more like an agnostic pattern, that allows you to use the usage of emojis on your own commit pattern.

As the project is up without any message-wise spec for a while now, adding these kind of change now cou

[2019-10-09 19:41] SkyaTura commented on #345
About the "gitmoji-cli", it would be awesome if the tool had an (optional) analytics metric collector, that allows us to see which emojis are more popular and which are not.

Of course, the implementation would guarantee privacy protection, only capturing emojis used and never the whole message content.

[2019-10-09 19:44] SkyaTura commented on #309
🎬(:claquete:) wouldn't be more meaningful?

[2019-10-09 20:12] coliss86 commented on #289
@grissius why close this one ? It is unrelated to yours.

[2019-10-09 20:49] grissius commented on #304
How about [jigsaw](https://emojipedia.org/jigsaw-puzzle-piece/) 🧩?

[2019-10-09 20:52] grissius commented on #274
Howdy @louiseswift, thanks for proposal. In my opinion this is covered by :wrench:. Can you post some examples where it would prove beneficial to add custom :eyes: emoji for described changes?

[2019-10-09 20:59] grissius commented on #231
Ciao @heapwalker, thanks for suggestion!
Though :key: is not used anywhere else (except other proposals) I think it has first impression of secret injection, sensitive data or authentication.

I am dropping here some other ideas for the symbol:
:policeman: :no_good_man: :no_entry_sign: :hand: :stop_sign: :guardsman:

Do you think any of them is more convinient?

[2019-10-10 00:23] JesseKPhillips opened #347 "Add "highlight" emojies to landing page"
Hello @carloscuesta :sunglasses:!

I would like to suggest a feature for the main landing page: https://gitmoji.carloscuesta.me/

I believe that different projects would find different emojies valuable over other projects (android has no value if you aren't targeting it). We tend to use

* sparkles (feature)
* bug
* construction (architecture)
* checkmark (test)
* boom (breaking)
* wrench (config)

[2019-10-10 01:33] amadeu01 commented on #294
@grissius Swift can be used in a variety of project, from TensorFlow, WebServers, to mobile applications and command-line applications.
And in every swift application, you are allowed to use Xcode Playgrounds to demonstrate, test and validate your code, Kickstarter has shown its usefulness in its project.

Since we have 🍎 for Apple-related commit MacOS-iOS-iPadOS, we could have one for playgrounds

[2019-10-10 04:30] #331 closed

[2019-10-10 05:13] grissius commented on #345
@SkyaTura I like the idea of knowing the statistics, but as a user I feel this is terrible way to implement it. I think this might be a reason why some users might stop using it.

I think a better approach would be using #317 and crawling OSS repos only -- all data is open, it can be verified, users are not afraid of enabling "spy" feature etc. It also covers users who do commits manually.

[2019-10-10 05:27] grissius commented on #345
@SkyaTura Interresting perspective on the specification on gitmoji being a general pattern unrelated to message style.

Not sure what do you mean by `conflicts between different implementations`, but yes, it would introduce changes that are not BC with the current version. That's why we should introduce semver about the standard as well.
However I don't see how this is different in its nature comp

[2019-10-10 06:00] grissius commented on #289
@coliss86
Sorry I should have explained better.
1) I think that general integration we don't have is more widely applicable (as I said)
2) I think this is too similar to :alien: and :space_invader: does not visually imply the difference clearly. :alien: is somewhat limited, but I think that better approach would be expanding :alien: description to integrate API as well.

[2019-10-10 06:04] grissius commented on #294
Ok, again, can you provide more examples of commits you would use the emoji? Feel free to use any public repo.

If this turns out it makes sense in general I would incline to consider adding it. Either way, if it turns out to be athing, I would try to expand it out of Xcode scope and use it for general playground usage. E.g. integrating GraphQL playground on API server etc. (alas I cannot think of

[2019-10-10 07:11] smoliji opened #348 "Removal of 👌 for code review changes"
Hello @carloscuesta :sunglasses:!

- Emoji: :ok_hand:
- Code: `:ok_hand:`
- Description: Updating code due to code review changes.

I'd like to propose a removal of the emoji, added in https://github.com/carloscuesta/gitmoji/issues/93.

**Reason**: It is a bad practice to describe a VCS change as a code review change. Code reviews exist to reveal bugs, bad namings, usages, code performance etc. No

[2019-10-10 12:38] SnO2WMaN opened #350 "gitmoji-org"
hello @carloscuesta and @grissius

As far as I know, there are several packages about gitmoji.

How about transferring these repositories to *gitmoji org*?

- [carloscuesta/gitmoji](https://github.com/carloscuesta/gitmoji/)
- [carloscuesta/gitmoji-cli](https://github.com/carloscuesta/gitmoji-cli)
- [frinyvonnick/gitmoji-changelog](https://github.com/frinyvonnick/gitmoji-changelog)
- [SnO2WMaN/cust

[2019-10-10 13:46] kazuooooo commented on #341
@grissius
Thank you for your reply 😄

Yes it's not local change.

For exapmle, I want to customize for my usecase

* use 🚮 not 🔥 for removiing file
* add :warning: for some dangerous commit.

[2019-10-10 13:56] SkyaTura commented on #345
I though more as an opt-in feature then spying on people.

[2019-10-10 14:15] Jakob-Maudience commented on #319
Ah yeah, that makes sense to me. Thanks for the clarification.

[2019-10-10 15:38] DanielHilton commented on #258
Im my personal experience, it's useful for new development when (many a time) i have forgotten and pushed a script to a repository only to find when it is executed by my build server with `./run.sh` it fails. I need to then commit and push a change only to change the executable permission flag on the file; which then prompted me to find there was no such emoji for this.

[2019-10-10 19:10] Stivaros commented on #258
This feels quite niche to me and seems DevOpsy. Personally, I don't think we need something so narrow in scope but I do think it highlights a good option for scripting and infrastructure work. I'm aware we have gitmoji for kubernetes and Docker :)

Thoughts?

[2019-10-10 21:24] SkyaTura opened #351 "Use emoji on Issue labels"
Hello @carloscuesta :sunglasses:!

I'd like to suggest using emojis on issue labels as well, since emoji is the soul of this project.

That's it for today.

[2019-10-11 08:45] SnO2WMaN commented on #350
I wanted to try it out and made it first. The administrator authority will be transferred over time.

https://github.com/gitmoji-org

[2019-10-11 12:43] carloscuesta commented on #350
I don't know how I feel about the org thing 🤔

- Why we should group all the packages inside the org ?
- What kind of packages we should group together ?
- What's the criteria to decide what kind of packages are inside of it ?

[2019-10-11 15:36] grissius commented on #317
@carloscuesta I agree with the badge.

1. I think it might be better to include just a single emoji (just a preference, but I think it looks more professional and serious, thank throwing in two of them)
2. I find it very useful to include a version number. We have some proposals for breaking changes and I think it is convenient to have a clear information about the specific version. [conventionalc

[2019-10-11 18:28] grissius opened #352 "Steep learning curve"
Hello @carloscuesta :sunglasses:!

I think we are at the edge of seeing Gitmoji too difficult to start with. When trying to implement it in my team, I have noticed some people are discouraged to use it, because they are overwhelmed by the amount of emojis available.

Having continuous requests for very specific emojis (e.g. #175 ), we can predict the situation to get even worse.
How do we prevent

[2019-10-11 18:29] carloscuesta commented on #345
I don’t think we need to make things more complicated. One thing people like about the project is the simplicity of just putting an emoji before the commit message and that’s all!

[2019-10-11 18:31] grissius commented on #347
Thanks for suggestion @JesseKPhillips

I completely agree. There's lots of them and its kind of difficult to get the hang of using gitmoji properly. At this point we have no data to make this happen.

I tried to propose a draft, which could serve as a foundation for this in #352

Thanks :heart:

[2019-10-11 18:38] grissius commented on #351
Well well, @SkyaTura you are on :fire:
Done :heart:

[2019-10-11 18:38] #351 closed

[2019-10-11 18:59] grissius commented on #284
Hi @rydnr , thanks for suggestion. I am not an expert on TDD, but isn't TDD rather about writing test that fail, instead of writing incremental naive implementations?

We have PR #305 for that already and I think it's more descriptive than this, with my understanding of the matter. Do you agree or am I making some wrong presumptions?

[2019-10-11 20:51] grissius commented on #341
No, that's not something we want do. Emojis are not just a presentation layer in gitmoji, but symbols also bear semantics. It would lose the purpose if everyone could modify the set to their likings.

Thanks for clarification ❤️ and sorry to disappoint you

[2019-10-11 20:51] #341 closed

[2019-10-11 20:55] nblackburn commented on #336
This could be used for updating BACKERS.md which i guess would be a fairly common use case.

[2019-10-11 21:21] grissius commented on #309
@SkyaTura I think 💫 better expresses the motion

[2019-10-12 08:38] grissius commented on #345
Well @carloscuesta, sometimes what people like is not what they need. Giving them what they like is a short term solution. They are happy, start using it and few years later, you take a look back on the repos using gitmoji and you have created nothing, because using gitmoji without standard or recommendations, is just as bad as using no convention at all.

![](https://i.imgur.com/02cqP0w.jpg)
All

[2019-10-12 10:22] carloscuesta commented on #345
The “specification” for me If you want to call it like that is the following one

“[Emoji] [Title]”

[2019-10-12 10:44] grissius commented on #345
If it has this form, i'd rather call it comment than a specification. Are those two optional? Even if required, `😜 42` is valid? Emoji is a single smybol in either unicode or text or multiple? Is this a [valid](https://github.com/b3log/symphony/commit/31b8b9beb03823d94bff3ad9e098ff93a85bc422) commit message?

The last thing I want to do is fight about edgecases. I justy want to point out that soon

[2019-10-12 11:05] carloscuesta commented on #345
It’s interesting discussing this I consider your point of view and opinion valid as mine.

Answering your questions, yes, the emoji and commit message are required to follow this “standard”.

If you think that `😜 42` adds enough value to identify the purpose of your commit, then it’s your own responsability to decide if that is valid as a commit message or not.

The format it is still valid though

[2019-10-12 15:10] #77 closed

[2019-10-12 22:03] Stivaros commented on #345
@grissius I think it's really cool that you're stepping up during Hacktober and helping maintain the project. About time some of these issues and PRs were handled :)

I think you're looking at this problem the wrong way, as you've alluded to in your last message. My understanding (and I believe this was @carloscuesta's intent) is to have a simple emoji at the start of a commit to give a context as

[2019-10-12 23:43] epilande commented on #144
Hey @grissius, submitted PR https://github.com/carloscuesta/gitmoji/pull/353

[2019-10-13 07:09] grissius commented on #345
Thank you for you feedback @Stivaros
I wanted to introduce the specification for the people who are more than capable of grapsing the concept and have nothing more to hang on to, but I understand reasons why it is considered in best interest for gitmoji to keep it dead simple.

[2019-10-13 07:12] #144 closed

[2019-10-13 07:25] grissius commented on #336
@carloscuesta used undocumented (AFAIK) ❤️ for sponsorship in b564ab3474275caecda6628d43d2af563a086899. Perhaps that would be more convinient for OSS projects? I think sponsorhip, backers and funding could go with the same symbol.

[2019-10-13 14:53] grissius commented on #350
I think the idea behind it was to unite the official tooling with the gitmoji repository, for instance to give a message that `gitmoji-cli` is the official primary utility. Approving an independent project and migrating it to the group would be a way to "grant approval" from Gitmoji author. Another thing is that the project looks more "trustworthy" when goin the extra step of creating an organizat

[2019-10-13 15:07] carloscuesta commented on #350
Let's see if @SnO2WMaN can answer some of my questions before addressing this properly

[2019-10-13 18:47] SnO2WMaN opened #354 "gitmoji preset"
**At first** : I am a Japanese student, and I have to say that I use Google Translate to exchange English because I am not good at English. I'm sorry if it's hard to read.

My [customizable-gitmoji-cli](https://github.com/gitmoji-org/customizable-gitmoji-cli) is now complete for now. I am currently using it as a beta version.

The **gitmoji preset** is an idea inspired by this. I like gitmoji (bec

[2019-10-13 19:02] SnO2WMaN commented on #350
It is correct as @grissius has commented.

I showed the idea of gitmoji preset at #354. This is the first reason I built gitmoji-org unofficially.

Currently, gitmoji presets are managed by lerna in the form of monorepo, but originally we intended to manage them individually in a repository called gitmoji-preset- *. This is because the issue proposals are inconsistent and easy to see.

My claim is

[2019-10-13 19:18] grissius commented on #354
Thanks for your time spent on this. I agree with using TS, but I could not go over the changes in detail. I feel it's kind of a shame you introduced so many changes in one batch, because the presets are poorly designed I am afraid.

I don't think that the preset in the current implementation is the best idea. What you want to achieve is noble and practical. But doing this with new projects, each h

[2019-10-13 19:53] SnO2WMaN commented on #354
The reason presets is getting data from the current git submodule is not the idea of taking this method for all presets, just because this method was the easiest and easiest to follow during development.

And I knew for the first time that I could add a git submodule at the time of tagging ... (I'm sorry for ignorance)

Realistically, the preset is distributed as a package that only outputs an arr

[2019-10-14 05:02] grissius commented on #354
Base sets example for all to follow. Not a good idea IMO for any (single one).

I get the concept. But it is done at the cost of having an extra meta package with the whole gitmoji in it. But that's not as grave issue as maintaining it.

I like the idea, but the implementation of the solution is very unfortunate in my opinion. Adding the metadata in the gitmoji repo itself is easier, more maintain

[2019-10-14 05:06] grissius commented on #350
Though I like the idea of org, I think that introducing decentralized presets is a road to hell, apart from the implementation issues I summarized in #354

[2019-10-14 14:10] SnO2WMaN commented on #350
Currently there is a negative opinion about preset, so for the time being, all repositories in the current gitmoji-org will be transferred to my personal repository. gitmoji-org will be left as it is, so please think again if you feel like it...

[2019-10-14 14:53] grissius commented on #350
There is just negative opinion from my side about the implementation of the solution. @carloscuesta might have a different opinion.

[2019-10-15 12:06] SkyaTura opened #357 "Entity is not included on JSON schema"
Hello @carloscuesta :sunglasses:!

Even though the gitmojis.json has the "entity" field, it isn't included on schema.json, which may cause false success validating data.

If this is not expected, I'd be happy to send a PR to fix it.

[2019-10-15 12:34] SkyaTura commented on #352
I like the idea of nesting the emojis, or at least adding fields for parent emojis, and use them to generate cheat sheet markdowns as shown by @szepeviktor in #314

[2019-10-15 12:37] SkyaTura commented on #347
Also on this subject, would be nice if we had tags on gitmoji data schema, that would allows us to search by categories easily on gitmoji-cli too.

[2019-10-16 15:11] grissius commented on #348
I agree. Before incorporating any breaking changes, I think we should resolve #317 and start using semver.

[2019-10-17 14:34] euzuro commented on #183
Hi, please see this PR for 🚩 https://github.com/carloscuesta/gitmoji/pull/358

[2019-10-17 15:08] ryanlaws opened #359 "Type commit message, get suggested gitmoji"
I'm pretty new to gitmoji, and it seems like a pretty good idea that's missing some tooling to encourage adoption. The concerns raised in #352 very much apply to me at the moment, and suggestions like #347 and #314 could help. Another thing that I personally would find helpful is a little text input I can type a commit message into and get suggested gitmoji.

For example, if my message is `Update

[2019-10-18 13:37] carloscuesta commented on #359
Have you tried using gitmoji-cli ?

[2019-10-18 13:37] carloscuesta commented on #359
https://github.com/carloscuesta/gitmoji-cli

[2019-10-18 15:01] ryanlaws commented on #359
I have not... this looks pretty cool!

[2019-10-19 15:36] m-alzam opened #360 "Add "Fix something on web" emoji"
Hello @carloscuesta :sunglasses:!

- Emoji: :earth_africa:
- Code: `:earth_africa:`
- Description: Fixing something on web

[2019-10-20 10:20] rsbkme opened #362 "Add :mouse: for .editorconfig"
Hello @carloscuesta :sunglasses:!

- Emoji: :mouse:
- Code: `:mouse:`
- Description: Adding or updating a .editorconfig file

[2019-10-20 11:35] Stivaros commented on #362
Too niche IMHO

[2019-10-20 14:09] danielschmitz commented on #314
http://danielschmitz.com.br/gitmoji/

A cheatsheet with pwa 😜

[2019-10-21 13:45] SkyaTura commented on #362
We already have :wrench: for this use case.

[2019-10-21 13:58] SkyaTura commented on #359
Does gitmoji-cli solves your issue, @ryanlaws ?

[2019-10-21 14:58] ryanlaws commented on #359
Kind of. For a couple of reasons it doesn't quite hit the mark:
* The search appears just look for a substring of the emoji description, so if I don't use the exact right words then I'm out of luck. This is more of a gitmoji-cli issue, though, and probably doesn't belong in this repo. I do think this is a bit more convenient than the cheat-sheet or big list on the  main page.
* Having this on the

[2019-10-21 17:15] carloscuesta commented on #362
Yes! I agree that is really specific and is covered by 🔧

[2019-10-21 17:15] #362 closed

[2019-10-22 07:05] grissius commented on #317
I believe this issue is now of top importance. I would try to resolve it ASAP, add to docs and tag Gitmoji with `1.0.0` so we can address non BC changes.

[2019-10-22 07:21] grissius commented on #359
Thanks for proposal, I agree the hinting could be improved but as you suggested this is an issue for gitmoji-cli repo.
Mention of gitmoji-cli is on the front page of github repo https://github.com/carloscuesta/gitmoji#using-gitmoji-cli which is good enough I think.
If you want to include it in the web, feel free to post a PR.

[2019-10-22 07:21] #359 closed

[2019-10-22 07:22] grissius commented on #357
Thanks @SkyaTura, please submit a PR.

[2019-10-22 07:24] grissius commented on #354
Unfortunately, there's no reply from @carloscuesta. I understand the issue, but I would prefer a tag annotation implementation than preset repositories.

If you prepare the tags I would gladly add them. We could use them for filtering on web of for better search in gitmoji-cli.

[2019-10-22 07:24] #354 closed

[2019-10-23 14:41] carloscuesta commented on #354
I agree with what @grissius says, I think it's a great and cool idea from the tech point of view, but I don't think that this justifies the whole complexity you'll add to the project!

[2019-10-23 15:31] #357 closed

[2019-10-23 17:35] carloscuesta commented on #317
Do you think is valuable to add versioning to this project ? @grissius

[2019-10-23 18:02] grissius commented on #317
I think it is not only valuable, but necessary. How else would we manage non BC changes like removing emojis or changing semantics as proposed in some issues?

Those changes are IMO inevitable sooner or later. As a user of GItmoji I would prefer to know that emoji was deprecated in version X, than finding out randomly that it's just missing in the master branch.